/** 404
===================================*/
.logo404{
	padding: 25px 0;
	border-bottom: 1px solid #d5d9d8;
	figure{
		max-width: 115px;
		margin: 0 auto;
	}
}

.error-wrap {
	min-height: 580px;
	.container{
		position: relative;
		z-index: 1;
	}
	.bg-coffee{
		width: 68%;
		margin: 0 auto 20px;
		
		@media screen and (min-width : 73em){
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			margin: 0;
		}
	}

}

.error-msg{
	max-width: 480px;
	margin: 0 auto;
	text-align: center;
	@media screen and (min-width : 73em){
		float: right; 
		margin-top: 14%;
		margin-right: 120px;
		text-align: left;
	}

	h1{
		font-size:  48px;
		font-weight: 300;
		margin: 0;
		margin-bottom: 25px;
		line-height: 1em;

		@media screen and (min-width: 45em){
			font-size: 75px;
		}
	}

	.content-text{
		a{
			text-decoration: underline;
		}
	}

	.btn-green{
		margin-top: 25px;
	}
}