.timelineSc{
	text-align: center;
	max-width: 700px;
	overflow: hidden;
	margin: 0 auto;	

	.thumb-lg{
		display: none;
	}
}
.timelineSc-btn{
	text-align: center;
	margin: 30px 0px;

	a{
		@include inline-block();
		color: #361d11;
		text-align: center;
		padding: 10px 26px;
		padding-right: 65px;
		text-transform: uppercase;
		font-size: 20px;
		border: 1px solid #361d11;
		background-image: url("../images/icon_arrdown.png") ;
		background-repeat: no-repeat;
		background-position: 94% center;
		background-color: white;
		background-size: 35px auto;
		-moz-background-size: 35px auto;
		-webkit-background-size: 35px auto;
	}

	&.open{
		a{
			background-image: url("../images/icon_arrtop.png") ;
		}
	}
}