/** AUTOSHIP
===================================*/
.autoship-intro{
	text-align: center;
	max-width: 980px;
	margin: 0 auto 50px;
	.title-lgBold2{
		margin-bottom: 33px;
	}
	.content-text{
		font-size: 22px;
		line-height: 1.7em;
	}
}

.autohsip-numb{
	text-align: center;
	margin-bottom: 50px;	

	.btn-center{
		margin-bottom: 25px;
	}
}
.autohsip-numb__list{
	overflow: hidden;
	li{
		text-align: left;
		margin-bottom: 35px;
		text-align: center;
		@media screen and (min-width: 48em){
			text-align: left;
		}
		.inside{
			padding: 23px 25px;
			border: 1px solid #c1c1c1;
			overflow: hidden;
			min-height: 177px;
		}
		.numb{
			font-weight: 300;
			font-size: 40px;
			float: none;
			text-align: center;
			display: block;
			line-height: 0.8em;
			margin-bottom: 20px;
			@media screen and (min-width: 48em){
				float: left;
				text-align: left;
				font-size: 70px;
				margin-right: 18px;
				margin-bottom: 0;
			}
			
		}

		.desc{
			@media screen and (min-width: 48em){
				overflow: hidden;
			}
			h5{
				font-weight: 700;
				font-size: 17px;
				margin: 0;
				margin-bottom: 8px;	
				color: black;
				text-transform: normal

			}
		}
	}
}

.autohsip-misc{
	max-width: 600px;
	margin: 0 auto  40px;
	background-color: #f6f6f6;
	padding: 26px;

	article{
		&:first-of-type{
			margin-bottom: 38px;
		}
		h5{
			font-weight: 700;
			font-size: 16px;
			margin: 0;
			margin-bottom: 10px;
		}
	}
}

.autoship-thumb{
	margin: 30px 0 20px;
	text-align: center;
	width: 100%;

	figure{
		max-width: 400px;
		margin: 0 auto;
	}
}