/** CHECKOUT
===================================*/
.login-form{
	.form-control{
		height: 48px;
	}
	.loginRadio{
		margin: 40px 0 20px 0;	
	}
}


.ship-nav{
	background-color: #efefef;
	overflow: hidden;
	padding: 30px 0;
	margin-bottom: 40px;
	text-align: center;
	
	.box{
		position: relative;
		z-index: 1;
		font-size: 14px;
		margin-bottom: 15px;
		font-weight: 700;

		&:last-of-type{
			margin-bottom: 0;
		}

		&.lined{
			&:after{
				content: '';
				z-index: -1;
				display: none;
				position: absolute;
				width: 210px;
				left: 25px;
    			right: 0;
				top: 25%;
				height: 1px;
				background-color: #c3c3c3;
				@media screen and (min-width: 45em){
					display: block;
				}
			}
		}
		@media screen and (min-width: 45em){
			@include inline-block();
			margin: 0 50px;
		}
		.numb{
			display: block;
			margin: 0 auto 8px;
			width: 33px;
			height: 33px;
			background-color: #ffffff;
			color: #c3c3c3;
			border: 1px solid #c3c3c3;
			line-height: 33px;

			&:before{
				content: '';
				@include inline-block();
				height: 100%;
			}
		}

		.text{
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: 0.1em;
			color: #a4a4a4;
		}

		&.active{
			.numb{
				background-color: #53a56c;
				color: white;
				border-color: #53a56c;
			}
			.text{
				color: #000000;
			}
		}
		
	}
}


.form-shipAdd{
	.leftside{
		@media screen and (max-width: 62em){
			margin-bottom: 30px;
		}
	}
}
.f-headtext{
	overflow: hidden;
	font-size: 14px;
	margin-bottom: 35px;
	h5{
		font-size: 17px;
		font-weight: 700;
		margin-bottom: 5px;
		text-align: center;
	}

	.f-headtext__link{
		text-align: center;
		color: #0067b3;
		display: block;
		&:hover{
			color: #53a56c;
		}
	}

	@media screen and (min-width: 45em){
		h5{
			float: left;
			margin-bottom: 0;
			text-align: left;
		}

		.f-headtext__link, .right{
			float: right;
			text-align: right;
		}
	}
}

.hideSibling{
	display: none;
}

.gift-deliverCard{
	.label-date{
		font-size: 14px;
	    letter-spacing: 0.2em;
	    font-weight: 600;
	    color: black;
	}
	.link-pw-giftCard{
		text-align: center;
		padding: 13px 0;
		@media screen and (min-width: 62em){
			text-align: right;
			padding: 30px 0;
		}
		a{
			@include inline-block();
			
			font-size: 14px;
			text-decoration: underline;
			color: black;
			&:hover{
				color: #53a16c;
			}
		}
	}
}