/** HEADER
===================================*/
.site-header{}
	.site-header-top{
		position: relative;
		z-index: 100;
		width: 100%;
		height: auto;
		line-height: 32px;
		background-color: $color-top-header;

		&:before, &:after{
			content:'';
			display: table
		}
		&:after{
			clear: both
		}
}


.site-header-top-left,
.site-header-top-right{
	position: relative;
	color: black;
	p{
		margin-bottom: 0;
		font-weight: 300;
		font-size: 13px;
	}
}

.site-header-top-left{
	float: left;
}
.site-header-top-right{
	float: right;
	.checkout{
		color: $color-green;
		margin-left: 7px;
	}
	.icon{
		display: inline-block;
		background-image: url("../images/checkout.png");
		height: 16px;
		width: 16px;
		position: relative;
		background-repeat: no-repeat;
		background-color: transparent;
		top: 2px;
	}
}

.site-header-middle{
	position: relative;
	text-align: center;
	margin: 0px 0;
	padding: 20px 0;
	z-index: 1;
}

.site-header{
	text-align: left;
	position: relative;
	z-index: 100;
}



.logo-header{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: 0 15px;
	max-width: 120px;
	a{
		display: block;
	}
	img{
		transform: scale(0.8);
	}
}

.user-about{
		list-style: none;
		padding: 0;
		margin: 0;

		li{
		list-style: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		@media screen and (min-width: 45em) {
			&:first-child{
				margin-right: 15px;
			}
		}

		a{
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 400;
			color: #949494;
			display: inline-block;
			position: relative;
			letter-spacing: 0.2em;

			&:before{
				content: '';
				position: absolute;
				bottom: -1px;
				left: 0;
				width: 0;
				border-bottom :1px solid #51a46b;
				transition: all 0.3s ease-out;
				-moz-ransition: all 0.3s ease-out;
				-webkit-transition: all 0.3s ease-out;
			}
			&:hover{
				&:before{
					width: 100%;
				}
			}
		}

		a.user{
			background: transparent url('../images/user.png') 0 9px  no-repeat;
			 padding-left: 19px;
			background-size: 12px auto;
			-moz-background-size: 12px auto;
			    -webkit-background-size: 12px auto;
		}

		a.cart-bag{
			background: transparent url('../images/shopbag.png') 0 7px  no-repeat;
			padding-left: 20px;
			background-size: 15px auto;
			-moz-background-size: 15px auto;
			-webkit-background-size: 15px auto;
		}
	}
}


/*====== COMMENT ======*/

// BESTSELLERS
.bestseller-container{
	margin-left:0;
	margin-right: 0;
}
.header-bestseller{
	text-align: center;
	h3{
		margin: 0 0 40px;
		padding-bottom: 43px;
		font-weight: normal;
		text-transform: uppercase;
		border-bottom: 2px solid $color-border;
	}
}

/** HEADER CHECKOUT
===================================*/
#header-ckout{
	text-align: center;
	padding: 18px 0;
	border-bottom: 1px solid #d8d8d8;

	#logo{
		display: inline-block;
		margin-bottom: 15px;
		max-width: 100px;
	}
	.head-email, .head-back{
		font-size: 13px;
	}
	.head-back{
		margin-bottom: 12px;
		right: 15px;
		a{
			color: black;

			&:hover{
				color: #4ca269;
			}
		}
	}
	.head-email{
		left: 15px;

		a{
			color: black;

			&:hover{
				color: #53a46c;
			}
		}
	}
	@media screen and (min-width: 42em){
		#logo{
			margin-bottom: 0;
		}
		.head-back{
			float: left;
			text-align: left;
			margin-bottom: 0;
			padding-top: 20px;
		}
		.head-email{
			float: right;
			text-align: right;
			padding-top: 20px;
		}
	}

	@media screen and (min-width: 32em) and (max-width: 42em){

		#logo{
			margin-top: 25px;
		}
		.head-email, .head-back{
			position: absolute;
			top: 10px;
		}
		.head-email{
			right: 15px;
		}
		.head-back{
			left: 15px;
		}
	}
}

/*====== SUBPAGE HERO ======*/
.hero-inner{
	background-color: white;
	background-position: center top;
	background-repeat: no-repeat;
	background-size:  contain;
	-moz-background-size: contain;
	-webkit-background-size:  contain;
	padding: 11% 0;
	margin-bottom: 35px;

	@media screen and (min-width:62em){
		min-height: 350px;
	}

	.hero-inner__desc{
		text-align: center;
		&.colorwhite{
			color: white;
		}
		&.text-left{
			 text-align: left;
		}
		h1{
			 font-weight: 700;
			 font-size: 29px;
			 margin: 0;
			 letter-spacing: 0.1em;
			 text-transform: uppercase;
			 line-height: 1.3em;
			 @media screen and (min-width: 48em){
			 	font-size: 29px;

			 }

			 &.hero-inner__titlesmall{
			 	font-size: 36px;
			 }
		}

		small{
			text-transform: uppercase;
			letter-spacing: 0.25em;
			display: block;
			padding-top: 14px;
			font-size: 18px;
		}
	}
}
