/** HOME
===================================*/


// BANNER-FORMATTING
.section-banner{
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	background-position: 27% 70%;
	background-size: 100% auto;
	-moz-background-size: 100% auto;
	-webkit-background-size: 100% auto;
	position: relative;
	margin-bottom: 0.5em;

	@media only screen and (min-width: 1000px){
		/*background-image: ;*/
	}


	@media only screen and (max-width: 500px) and (min-width: 320px){
		   background-size: 200% auto;
	}

	figure{
		position: relative;
		overflow: hidden;
		background-color:white;
		opacity: 0;
		visibility: hidden;
		@media only screen and (max-width: 500px) and (min-width: 320px){
			height: 300px;
		}
	}
	.banner-caption{
		/*padding: 8% 0 8%;
		@media screen and (min-width: 72em){
			padding: 16% 0 8%;
		}
		max-width: 940px;
		text-align: center;
		margin: 0 auto;
		/*position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;*/

		position: absolute;
		text-align: center;
		z-index: 2;
		left: 0;
		right: 0;
		top: 40%;

		.inside{
	
		}


		&.colorWhite{
			color: white;
			h1{
				color: white;
			}
		}
	}	
	h1{
		font-size: 38px;
		@media screen and (min-width: 62em){
			font-size: 58px;
		}
		@media screen and(max-width: 32em){
			font-size: 25px;
			font-weight: 400;
		}
		color: black;
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: 700;
	}
	.content-text{
		display: none;
		@media screen and (min-width: 48em){
			display: block;
		}
	}
	.btn-center{
		margin-top: 25px;
		@media screen and(max-width: 32em){
			margin-top: 10px;
		}
	}

	.btn{
		@media screen and (max-width: 62em){
		    min-width: 100px;
		    padding: 10px 20px;
		    font-size: 0.8em;
		}
		@media screen and(max-width: 32em){
			min-width: 0;
			font-size: 0.7em;
		}		
	}
}

/** LAYER INTRO 
===================================*/
.layer-intro{
	/*.section-banner .banner-caption p{
		line-height: 1.5em;
		font-weight: 400;
	}*/
}

.NewDisclaimer{
	display: none;
	@media screen and (min-width: 70em){
		display: block;
	}
	line-height: 1em;
    width: 300px;
    text-align: left;
    position: absolute;
    bottom: 20px;
    right: 15px;
}

/*====== REVIEW SECTION ======*/
.review-wrap{
	background-color: #f6f6f6;
	padding : 50px 0;
	h2{
		text-align: center;
		margin: 0;
		margin-bottom: 1.6em;
	}
}
.review-item{
	text-align: center;
	@extend .imgZoom;
	margin-bottom: 25px;
	@media screen and (min-width: 55em){
		margin-bottom: 0;
	}

	a{
		color: #141414;
	}
	.inside{
		max-width: 280px;
		margin: 0 auto;;
	}

	figure{
		text-align: center;
		max-width: 280px;
		min-height: 185px;
		margin: 0 auto 15px;
		overflow: hidden;
		border: 1px solid transparent;
		background-color:  darken(#f6f6f6, 10%);
	}
	.coment{
		font-size: 1.2em;
		display: block;
	}

	&:hover{
		border-color : darken (#f6f6f6, 10%);

		a{
			color: #51a16c;
		}	
	}
}

/** PRODUCT OFFER
===================================*/
.offer-box{
	position: fixed;
	display: none;
	right: -400px;
	bottom: 0;
	width: 100%;
	max-width: 370px;
	padding: 18px 23px;
	z-index: 101;
	background-color: white;
	border-top: 8px solid #5aad75;
	transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;

	&.show{
		right: 0;
	}

	@media screen and (min-width: 28em){
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		border-top-left-radius: 5px;
	}

	@media screen and (max-width: 380px){
		text-align: center;
		.form-control{
			margin-bottom: 8px;
		}
	}


	.offer-box_text{
		line-height: 1.4em;
		font-weight: 700;
	}

	.offer-box__form{
		margin-bottom: 9px;
	}

	.form-control{
		border: 1px solid #c5c5c5;
		display: inline-block;
		width: 75%;
		height: 42px;
		vertical-align: top;
		margin-right: 5px;

		&::-webkit-input-placeholder {
		   color: #b7b7b7;
		   font-style: italic;
		}
		:-moz-placeholder { /* Firefox 18- */
		   color: #b7b7b7;
		   font-style: italic;
		}
		::-moz-placeholder {  /* Firefox 19+ */
		   color: #b7b7b7;
		   font-style: italic;
		}
		:-ms-input-placeholder {  
		   color: #b7b7b7;
		   font-style: italic;
		}
	}

	.btn-green{
		min-width: 0;
		color: white;
		padding: 9px 20px 13px;
		line-height: 1.3em;
	}

	.offer-box__close{
		color : #b7b7b7;
		font-size: 0.8em;
		text-decoration: underline;

		&:hover{
			color: #b40c00;
		}
	}
}




/** TOGGLE DESCRIPTION SECTION
===================================*/
.descToggle{
	background-color: #f6f6f6;
	padding-bottom: 50px;
	.nav-descToggle{
		text-align: center;
		width: 100%;
		padding-bottom: 25px;
		img{
			width: 32px;
		}
	}

	.content-descToggle{
		display: none;
	}

	.content-text{
		margin-bottom: 30px;
	}

	.vidwrap{
		position: relative;
		padding-bottom: 45%; /* 16:9 */
		padding-top: 25px;
		height: 0;

		object, embed, iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}