/*INSPIRATION */
.inspi-wraplist{
  text-align: center;
  @media screen and (min-width: 48em){
      text-align: left;
  }
}
.inspi-item{
  @include inline-block();
  vertical-align: top;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 28px;
  border: 1px solid white;
  @media screen and (min-width: 35em){
      width: 48%;
  }
  @media screen and (min-width: 62em){
      width: 33%;
  }
  .inside{
      @include inline-block();
      position: relative;
      overflow: hidden;
      background-color: black;
      color: white;
      @include prefixed(transition, all 0.3s linear);

      &:hover{
        background-color: white;
        color: black;
        .fig-caption{
          .link-more{
            color: black;
            text-decoration: underline;
          }
        }
     }
  }
  .fig-caption{
      text-align: center;
      padding: 25px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      @include inline-block();
      line-height: 1.4em;
      h4{
        font-size: 27px;
        margin: 0;
        margin-bottom: 15px;
      }
     .link-more{
        @include inline-block();
        color: white;
        font-size: 0.9em;
        margin-top: 15px;
     }
      &:before{
          @media screen and (min-width: 75em){
            content: '';
            @include inline-block();
            height: 20%;
          }
      }
  }

  figure{
     img{
        @include opacity(0.3);
     }
  }
}
