/** NAV IN MAIN
===================================*/
*{
	-webkit-appearance: none;
}
.nav-inMain{
	color: #000000;
	background: #ececec;
	margin-bottom: 80px;
	@media screen and (min-width: 50em){
		text-align: center;
	}
	
	ul, li{margin: 0; padding: 0; list-style: none}
	ul{
		@media screen and (max-width: 50em){
			background-color: darken(#ececec, 5%);
		}

		&:before, &:after{
			content: '';
			display: table;
		}

		&:after{
			clear: both
		}

		li{
			@include inline-block();
			padding: 11px 25px;



			@media screen and (max-width: 50em){
					float: left;
					padding: 8px 25px;
					width: 50%;
					background-color: darken(#ececec, 5%);

					&:nth-of-type(odd){
						border-right: 1px solid darken(#ececec, 20%);
					}

				}
			a{
				display: block;
				position: relative;
				color: #8e8e8e;
				//font-family: 'futura_ltbold', sans-serif;
				font-size: 16px;

				&:after{
					content: '';
					position: absolute;
					left: 0;
					bottom: -7px;
					width: 0;
					height: 1px;
					background: #000;
					transition: all 0.3s linear;
					-moz-transition: all 0.3s linear;
					-webkit-transition: all 0.3s linear;
					@media screen and (min-width: 50em){
						bottom: -1px;
					}
				}
			}
			&.active, &:hover{
				a{
					color : #000;
					&:before{
						width: 100%;
					}
				}
			}
		}
	}
}

.nav-inMain_wh{
	@extend .nav-inMain;
	background-color: white;
	text-transform: uppercase;
	border-top: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	margin-bottom: 60px;

	ul {
		li{
			padding: 8px 4%;
			a{
				font-size: 12px;
				color: #a8a8a8;
				display:inline-block;
				padding:4px 8px;
				&:after{
					display: none;
				}
		
			}

			@media screen and (max-width: 50em){
				background-color: white;
			}

			&.active, &:hover{
				a{text-shadow: 0px 0px 0 #000,
				}
			}
		}
	}
}