/** MAIN NAV
===================================*/
.nav-header{
	position: relative;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
	display: inline-block;
	vertical-align: middle;
	z-index: 999;
	ul{
		list-style: none outside none;
		margin: 0;
		padding: 0;
		li{
			text-align: left;
			display: inline-block;
			position: relative;
			&:hover,
			&:focus,
			&.active{
				> a{
					color: $color-green;
					   /* text-shadow: 0px 0.3px 0px $color-green;
					    -moz-text-shadow: 0px 0.3px 0px $color-green;
					    -webkit-text-shadow: 0px 0.3px 0px $color-green;*/

					&.cart-menu{
						background-image: url('../images/shopcart_hover.png');
					}
				}
			}
			>a{
				color: black;
				display: block;
				padding: 5px 10px !important;
				margin: 0 20px;
				font-size: 15px;
				    text-shadow: 0px 0.3px 0px #000000;
				    -moz-text-shadow: 0px 0.3px 0px #000000;
				    -webkit-text-shadow: 0px 0.3px 0px #000000;

				&.cart-menu{
					background-image: url('../images/shopcart.png');
					background-repeat: no-repeat;
					background-position: 0 12px;
					background-size: 15px auto;
					-moz-background-size: 15px auto;
					-webkit-background-size: 15px auto;
					padding-left: 21px !important;
				}
			}

			.cart-count{
				font-weight: 300;
				display: inline-block;
				padding-left: 4px;
			}

			>ul{
				display: none;
				position: absolute;
				background-color: $color-green;
				box-shadow: inset 0 0 0 2px rgba( black, .1 ), 1px 1px 2px rgba( black, .3 );
				font-weight: normal;
				text-transform: capitalize;
				min-width: 215px;
				margin-top: 20px;
				z-index: 999;
				li{
					display: block;
					&:hover,
					&:focus{
						> a{
							color: black;
						}
					}
					&:first-child{
						>a{
							padding-top: 15px;
							&:after{
								position: absolute;
								display: block;
								width: 20px;
								height: 20px;
								background-color: $color-green;
								border: 1px solid rgba( black, .1);
								border-right: none;
								border-bottom: none;
								content: "";
								transform: rotate(45deg);
								top: -10px;
								left: 32px;
							}
						}
					}
					&:last-child{
						>a{
							padding-bottom: 15px;
						}
					}
					>a{
						position: relative;
						color: white;
						padding: 7px 15px;
						margin: 0;
						transition: all 400ms ease-out;
					}
					>ul{}
				}
			}
		}
	}

	&.nav-left{
		text-align: left;
		li:first-child{
			a{
				padding-left: 0;
				margin-left: 0;
			}
		}
	}
	&.nav-right{
		li:last-child{
			a{
				padding-right: 0;
				margin-right: 0;
			}
		}
	}
}

/** HEADER ALTERNTIVE
===================================*/
.site-header-right{
	.logo-header{
		float: left;
		display: block;
		width: 22%;
	}

	.nav-header{
		dtisplay: inline-block;

		@media screen and (min-width: 50em){
			padding: 28px 0;

			ul li:last-child > a{
				padding-right: 0;
				margin-right: 0;
			}
		} 


	}
}

/** MEGAMENU
===================================*/
.nav-header ul li > {
	ul.megamenu{
		width: 100%;
		min-width: 0;
		max-width: 730px;
	}
}

  /*Hidden Select Menu responsive*/
  .nav-header.nav-left select{
  	display: none;
  }
  @media (max-width: 995px) {
	    .nav-header.nav-left select {
	    	display:inline-block;
	    	padding:8px;
	    	width: 92%;
	    	max-width: 715px;
	    	line-height:1.5em;
	      .list-add{
				display: none !important;
			}
	    }
   }

 .cartPrev-top{
 	display: block;
	position: relative;
	margin: 0 auto;
	width: 100px;
    background-color: #4c9364;
    z-index: 999;
    color: white;
    padding: 7px 15px;
    text-align: center;
    @media screen and (max-width: 570px){
    	margin-top: 15px;
    	margin-bottom: -15px;
    }
    @media screen and (min-width: 995px){
    	display: none;
    }
    a{
    	color: white;
    }
	&:hover{
		#CartItemPreview{
			display: block !important;
			right: auto;
			left: 50%;
    		margin-left: -125px;
		}
	}
}