/** OFFICE DELIVERY
===================================*/
.hero-offDel{
	background: #ffffff url('../images/banner5.jpg') 0 0 no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	min-height: 317px;
	margin-bottom: 60px;
}


.hero-offDel__desc{
		padding: 8% 0;
		text-align: right;
		max-width: 600px;
		word-wrap: break-word;
		margin: 0 auto;
		@media screen and (min-width: 48em){
			float: right;
		}

		h2{
			font-weight: normal;
			letter-spacing: 0.1em;
			font-size: 25px;
			line-height: 1.3em;

			background: rgba(255, 255, 255, 0.8);
			padding: 15px;

			@media screen and (min-width: 48em){
				font-size: 32px;
				background: transparent;
				padding: 0;
			}
		}

		.hero_offDel-point{
			ul{
				li{
					font-size: 13px;
					margin: 0 8px;
					text-transform: uppercase;
					&:before{
						margin-right: 7px;
					}
					@media screen and (min-width: 48em){
						margin: 0;
						margin-left: 14px;
					}
				}
			}
		}
	}


.coffee-plans{
	margin-bottom: 60px;

	ul{
		overflow: hidden;
		li{
			text-align: center;
			margin-bottom: 30px;

			@media screen and (min-width: 48em){
				margin-bottom: 0;
			}

			.inside{
				@media screen and (min-width: 55em){
						width: 75%;
						margin: 0 auto;
						overflow: hidden;
				}
			}
			.numb{
				display: block;
				padding: 0;
				width: 93px;
				height: 93px;
				line-height: 93px;
				background-color: #cdcdcd;
				color: white;
				font-size: 47px;
				border-radius: 50%;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;

				margin: 0 auto 30px;
			}
			.coffee-plans__name{
				font-size: 17px;
				 font-weight: 700;
				 display: block; 
				 margin-bottom: 15px;
			}
		}
	}
}

.coffee-action{
	max-width: 900px;
	overflow: hidden;
	margin: 0 auto
}

.coffact-box{
	text-align: center;
	border: 1px solid #dedede;
	margin-bottom: 15px;
	font-size: 18px;

	.inside{
		padding: 8% 10%;
	}

	@media screen and (min-width: 62em){
		&:first-of-type{
			border-right: none;
		}
	}

	h5{
		margin: 0;
		font-size: 17px;
		margin-bottom: 10px;
		text-transform: uppercase;
		 font-weight: 700;
		 letter-spacing: 0.15em;
	}

	.btn-green{
		min-width: 265px;
	}
}

.spreadbox{
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
	background: white;
	padding: 18px;
	display: none;

	@media screen and (min-width: 50em){
		padding: 50px;
	}

	h3{
		margin: 0;
		font-size: 18px;
		margin-bottom: 18px;
		text-transform: uppercase;
		 font-weight: 700;
		 letter-spacing: 0.15em;
	}

	.content-text{
		font-size: 18px;
		margin-bottom: 40px;
	}

	.spreadform{
		overflow: hidden;
		.form-control{
			border: 1px solid #53a46c;
		}
		.btn-green{
			min-width: 260px;
		}
	}

	.spreadbox_term{
		padding: 25px 30px;
			background: #f4f4f4;
			margin: 30px 0;

		.input-line{
			border: none;
			border-bottom : 1px solid #5c5c5c;
			padding: 5px 8px 0;
			background-color: transparent;
		}
	}
}

/*====== POPUP ======*/
.fancybox-skin{
	background: transparent;
}
.fancybox-opened .fancybox-skin{
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.fancybox-close{
	top: 0;
	right: 0;
}


.offdeliver-head{
	text-align: center;
	max-width: 800px;
	margin: 0 auto 50px;
	.title-xl{
		text-transform: uppercase;
		    letter-spacing: 0.15em;
	}
	P{
		font-size: 18px;
	}
}

.offdelivTb{
	.table{
		tr{
			th{
				 border: none;
				 border-top: 2px solid #E2E1E1;
				 border-bottom: 2px solid #E2E1E1;
				 text-transform: uppercase;
				  font-weight: 400;
				 font-size: 16px;
				 color: #9e9e9e;
				 font-weight: 400;
				 letter-spacing: 0.1em;
				 padding-top: 10px;
				 letter-spacing: 0.1em;
				 &:first-child, &:last-child{
				 	padding-left: 28px;
				 }
			}

			td{
				&:first-child, &:last-child{
				 	padding-left: 28px;
				 }
				border-top: 0;
				font-size: 16px;
				&.offdelivTb-title-tb{
					font-size: 16px;
					text-transform: uppercase;
					letter-spacing: 0.1em;	
					padding-bottom: 16px;
					padding-top: 22px;
					
				}

				.offdelivTb-thumb{
					max-width: 98px;
					margin-bottom: 15px;
					@media screen and(min-width: 48em){
						float : left;
						margin-right: 25px;
						margin-bottom: 0;
					}
				}

				.offdelivTb-desc{
					@media screen and (min-width: 48em){
						overflow: hidden;
					}

					h5{
						margin:0;
						font-size: 16px;
						margin-bottom: 6px;
					}
					p{
						font-size: 13px;
						color: #939393;
					}
				}

				&.tbline{
						border-bottom: 2px solid #E2E1E1; 
				}

				&.totalprice{
					 font-weight: 700;
				}

				.btn-green{
					min-width: 200px;
					margin-top: 30px;
				}
			}
		}
	}
}
