/** SATISFACTION GUARANTEE
===================================*/
.satisfa-splash{
	margin-bottom: 50px;
	@media screen and(min-width: 50em){
		margin-bottom: 120px;
	}
	.content-text{
		margin-bottom: 60px;
	}
}

.satisfa-testi{
	border: 1px solid #b2b2b2;
	overflow: hidden;
	margin-bottom: 100px;

	.thumb{
		text-align: center;
		margin-bottom: 25px;
		@media screen and (min-width: 48em){
			float: right;
			text-align: right;
			padding-right: 0;
			margin-bottom:  0;
		}
	}

	.desc{
		@media screen and (min-width: 48em){
				padding: 2.2em;
		}
		h4{
			font-size: 16px;
			color: black;
			margin: 0 0 17px;
			 font-weight: 700;
			letter-spacing: 0.05em;
		}
		p{
			line-height: 1.8em;
		}
	}
}