/** SHOP
===================================*/

.shop-land{
	padding-bottom: 70px;
	overflow: hidden;
}
.shop-landItem{
	text-align: center;
	margin-bottom: 30px;

	.inner{
		max-width: 300px;
		margin: 0 auto;

		&:hover{
			a{
				color: #23527c;
			}
		}
	}
	a{
		color: #000000;
	}
	
	figure{
		margin-bottom: 22px;
		border: 1px solid transparent;
		transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;

		&:hover{
			border: 1px solid #53a46c;
		}
	}

	.desc{
		font-size: 13px;
		    line-height: 1.6em;		
		h3{
			font-size: 13px;
			 font-weight: 700;
			margin: 0;
			margin-bottom: 10px;
			text-transform: uppercase;
			letter-spacing: 0.1em;	
		}

		.composition{
			display: block;	
		}
	}
	
}

/** SHOP DETAIL
===================================*/
.shopdtl-titleWrap{
	position: relative;
	text-align: center;
	z-index: 1;
	margin-bottom: 50px;
	&:before{
		content: '';
		height: 1px;
		width: 100%;
		background-color: #e5e5e5;
		position: absolute;
		top: 30%;
		left: 0;
		z-index: -1
	}

	.shopdtl-title{
		@include inline-block();
		background-color: white;
		padding: 0 30px;

		h2{
			margin: 0;
			font-size: 26px;
			text-transform: uppercase;
			line-height: 1.3em;
			font-weight: normal;
			letter-spacing: 0.15em;
		}
		.subtle{
			font-size: 14px;
			font-style: italic;
		}
	}

}


.shopdtl-cart{
	padding-bottom: 50px;
}

.shopdtl-cart__thumb{
	text-align: center;
	margin-bottom: 40px;
	@media screen and (min-width: 48em){
		margin-bottom: 0;
	}
	figure{
		@media screen and (min-width: 48em){
			margin-right: 15px;
		}
		@include img-embed();
		background: white;
		padding-bottom: 61%;

		img{
			top: 0;
			bottom :0;
			right: 0;
			left: 0;
			margin: auto
		}
	}

}

.shopdtl-cart__desc{
	.table{
		tr {
			td{
				border-color: #bad9c4;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.price{
		font-size: 23px;
		color: #5c5c5c;
		  font-weight: 700;
		 margin-bottom: 28px;

		.tot_pod{
			font-size: 15px;
			@include inline-block();
			vertical-align: bottom;
			 font-weight: 400;
		}
	}

	.dtlprod{
		margin-bottom: 8px;
		ul{

			li{
				position: relative;
				font-size: 14px;
				margin-bottom: 5px;
				padding-left: 15px;
				&:before{
					content : '-';
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}

	.radiowrap{
		margin: 10px 0;
	}
	.radio{
		color: #595959;
		margin: 0;
		font-size: 13px;
		margin-bottom: 8px;
		strong{
			color: #595959;
			margin-bottom: 4px;
			font-weight: normal;
			 font-weight: 700;
		}
		p{
			margin-bottom: 0;
		}
	}

	.label-text{
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-size: 13px;
		 font-weight: 700;
	}

	.group-qty{
		text-align: right;
	}

	.btn-green{
		width: 100%;
		margin-top: 10px;
	}
}

.satisfac{
	border-top: 1px solid #e5e5e5;
	padding: 60px 0 80px;
}
.satisfac__desc{
	text-align: center;	
	margin-bottom: 25px;
	@media screen and (min-width: 48em){
		text-align: left;
		margin-bottom: 0;
		.inside{
			max-width: 480px;
		}
	}

	
	h2{
		margin: 0;
		margin-bottom: 23px;
		font-size: 22px;
		 font-weight: 700;
	}
	.content-text{
		margin-bottom: 15px;
	}
}
.satisfac__logo{
	text-align: center;
	figure{
		width: 100px;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.content-text{
		font-size: 14px;
		 font-weight: 700;
		line-height: 1.4em;
		color: #ea7b0f;
	}
}