/** STORY
===================================*/

.ourmis-intro{
	text-align: center;
	margin-bottom: 60px;

	.content-text{
		font-size: 23px;
		line-height: 1.6em;	
	}
}

.ourmis-started{
	background: #e7f1ea;
	margin-bottom: 58px;
	overflow: hidden;

	.container{
		position: relative;
	}

	.thumb{
		position: relative;
		height: 0;
		padding-bottom: 55%;
		
		img{
			position: absolute;
			top: 0;
			left: 0;
			width:100%;
		}

		@media screen and (min-width: 48em){
			padding-bottom: 37.6%;
		}

		@media screen and (min-width: 62em){
			img{
				width: auto;
				left: -138px;
				max-width: none;
			}
		}
		@media screen and (min-width: 992px) and (max-width: 1199px){
			img{
				left: -225px;
			}
		}

	}
}
.ourmis-started__text{	
	padding-top: 50px;
	padding-bottom: 50px;

	@media screen and (min-width: 62em){
		float: right;
		padding-right: 80px;
	}

	h3{
		margin: 0;
		margin-bottom: 1em;
		font-size: 20px;
		font-weight: normal;
		text-transform: uppercase;
	}

	.content-text{
		line-height: 1.8em;
	}
}

/** MISSION MADE
===================================*/
.ourmis-made{
	max-width: 630px;
	margin: 0 auto;
	margin-bottom: 80px;
}
.ourmis-made__thumb{
	width: 35px;
	margin: 0 auto;

	@media screen and (min-width: 42em){
		float: left;
		margin-right: 30px;
	} 
}

.ourmis-made__desc{
	@media screen and (min-width: 42em){
		overflow : hidden;
	}
}

/*====== NEXT STEP ======*/
.next-step{
	text-align: center;

	a{
		color: black;

		&:hover{
			color: #52a46d;
		}
	}
	.theline{
		position: relative;
		display: block;
		width: 10px;
		height: 53px;
		border-top: 1px solid black;
		margin: 0 auto 15px;
		
		&:before{
			content : '';
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			height: 100%;
			width: 1px;
			background-color: black;
		}
	}
}

/** STORY PRODUCTION
===================================*/

.ourprod-land{
	overflow: hidden;
	margin-bottom: 60px;

	.title-xs-bold{
		margin-bottom: 50px;
		text-align: center;
	}
	ul, li{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.shopDtl-prodtext{
		font-size: 18px;
		text-align: center;
		margin-bottom: 30px;
		@media screen and (min-width: 50em){
			margin-bottom: 50px;
		}
	}
}

.ourprod-item{
	text-align: center;

	&:before, &:after{
		content: '';
		display: table;
	}
	&:after{
		clear: both;
	}


	.inner{
		width: 88%;
		padding: 15px 10px;
		margin: 0 auto 15px;

		-transition: all 0.3s linear;
		-moz--transition: all 0.3s linear;
		-webkit-transition: all 0.3s linear;
		
		&:hover{
			box-shadow: 0 0 10px #c8c7ce;
		}

		&.cart-proditem{
			.inner{
				width: 100%;
			}
		}
	}

	a{
		color: black;

		&:hover{
			color : #4ca267;
		}
	}

	.thumb{
		width: 200px;
		height: 190px;
		overflow: hidden;
		margin: 0 auto 25px;
		vertical-align: middle;
	}

	h4{
		margin: 0;
		margin-bottom: 20px;
		font-weight: normal;
		text-transform: uppercase;
		font-weight: 800;
		font-size: 17px
	}

	.content-text{
		@media screen and (min-width: 48em){
			width: 60%;
			margin: 0 auto;
		}
	}
}


/** STORY TEAM
===================================*/
.storyTeam-intro{
	text-align: center;
	max-width: 800px;
	margin: 0 auto  60px;

	.content-text{
		font-size: 21px;
		line-height: 1.5em;
	}
}

.sTeam-wrap{
	max-width: 630px;
	margin: 0 auto 60px;
	text-align: center;

	ul, li{
		list-style: none;
	}
	ul{
		margin: 0;
		padding: 0;
	}
}

.list-steam{
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
	overflow: hidden;

	a{
		color: black;

		&:hover{
			color: #51a46c;
		}
	}
	figure{
		width: 175px;
		height: 175px;
		overflow: hidden;
		text-align: center;
		margin: 0 auto 17px;
	}
	
	.name{
		@include inline-block();
		font-weight: normal;
		font-weight: 700;
		text-transform: uppercase;
	}

	.as{
 		border-left: 1px solid black ;
 		padding-left: 8px;
 		margin-left: 8px;
 		@include inline-block();
 		text-transform: uppercase;
	}
}



