/** SUBSCRIBTION
===================================*/

.subs-box{
	overflow: hidden;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #d0d0d0;
	padding: 0 30px;
	background: white;

}
.subs-head{
	max-width: 600px;
	margin: 0 auto 60px;
	text-align: center;
	.content-text{
		font-size: 19px;
	}
}

.subs-boxhead{
	background-color: #f2f2f2;
	padding: 18px 48px;
	margin-left: -30px;
	margin-right: -30px;
	border-bottom : 1px solid #d0d0d0;
	border-top: 1px solid #d0d0d0;
	cursor: pointer;
	margin-top: -1px;

	&.active{
		background-color: #555554;
		border-bottom: 0;

		h2{
			color: white;
		}
	}

	@media screen and (min-width: 50em){
		padding: 25px 48px;
	}

	h2{
		font-size: 18px;
		margin: 0;line-height: 1.4em;

	
		span{
			display: inline-block;
			width: auto;
		}

		@media screen and (min-width: 50em){
			font-size: 22px;

			span{
				width: 38px;
			}
		}
	}
}

.subs-boxItem{
	
	.total-select{
		text-align: center;
		font-size: 17px;
		margin: 0;	
		margin-bottom: 40px;	
	}

	&.subs-pod{
	 	.subsItem{
			li.list-prod{
				width: 48%;
	   			padding: 0 18px;
	   			@media screen and (max-width: 35em){
					width: 100%;
					display: block;
				}
				@media screen and (min-width: 68em){
					width: 33%;
				}
			}
		}
	}

	&.subs-coffee{
		.subsItem{
			li.list-prod{
				width: 48%;
	   			vertical-align: top;
	   			@media screen and (max-width: 35em){
					width: 100%;
					display: block;
				}
				@media screen and (min-width: 68em){
					width: 33%;
					padding: 0 3.1%;
				}
			}	

			.thumb-box{
				padding-bottom: 25px;
				&:before{
					display: none;
				}
			}
		}
	}
}

/*====== SUBSCRIBTION METHOD ======*/
.subsItem{
	padding: 40px 0 23px;
	ul, li{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul {
		li.list-prod{
			display: inline-block;
			width: 48%;
			padding: 0 15px;
			margin-bottom: 25px;
			cursor: pointer;
			vertical-align: top;
			text-align: center;
			@media screen and (max-width: 35em){
				width: 100%;
				display: block;
			}
			@media screen and (min-width: 68em){
				width: 24%;
			}
			
		

			.thumb{
				@media screen and (min-width: 68em){
					padding-top: 0;
					&:before{
						content: '';
						display: inline-block;
						vertical-align: middle;
						height: 100%;
					}
				}

				text-align: center;
				height: 200px;
				overflow: hidden;
				border: 1px solid #d0d0d0;
				margin-bottom: 15px;
				position: relative;
				border-radius: 8px;
				-moz-border-radius: 8px;
				-webkit-border-radius: 8px;
				padding-top: 15px;
			}

			.thumb-box{
				border: 1px solid #d0d0d0;
			    min-height: 250px;
			    position: relative;
			    margin-bottom: 15px;
			    border-radius: 5px;
			    -moz-border-radius: 5px;
			    -webkit-border-radius: 5px;
				
				&:before{
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				img{
					margin-bottom: 10px;
				}
				
			}

			&.selected{
				.thumb{
					border: 1px solid #0067b3;	
				}

				.captext{
					color: #0067b3;
				}

				.choSen{
					opacity: 1;
					visibility: visible;
				}

				.thumb-box{
					border: 1px solid #0067b3;	
				}

			}
		}
	}
}
.choSen{
	position: absolute;
    top: 0;
    right: 0;
    color: #0067b3;
    font-size: 19px;
    margin-top: -2px;
    display: block;
    margin-right: -1px;
    opacity: 0;
    visibility: hidden;
    z-index: 100;	
}

.priceVarian{
	display: block;
	.price-other, .price-our{
		display: inline-block;
		vertical-align: middle;
	}

	.price-other{
		font-size: 27px;
		font-weight: 400;
		line-height: 0.8em;

		small{
			font-size: 11px;
			color: #606060;
			display: block;
		}
	}

	.price-our{
		font-size: 27px;
		font-weight: 800;
	}
}


.group-count{
	margin-top: 15px;
	button{
		background: none;
		border: none;
		color: white;
		background: #5c5c5c;
		padding-right: 9px;
		padding-left: 9px;
	}

	input[type='text']{
		border: 1px solid #c5c5c5;
		width: 43px;
		text-align: center;
		height: 33px;
    	padding: 8px 7px;
	}
}


/*====== TABLE REVIEW ======*/

.tb-subsRev{
	padding: 30px 0;

	.fa-minus-circle{

		color: #cccccc;
		display: inline-block;
		margin-left: 3px;

		&:hover{
			color: #555554;
		}
	}

	.table th{
		border-top: 0;
		font-weight: 400;
		text-transform: uppercase;
		color: #989898;
		font-size: 13px;
		text-align: center;
		padding-bottom: 14px;

		&:last-child{
			text-align: right;
		}
		&:first-child{
			text-align: left;
		}
	}

	.table td{
		font-size: 14px;
		font-weight: normal;
		padding: 25px 8px;
		vertical-align: middle;
		text-align: center;

		&:first-child{
			text-align: left;
		}
		&:last-child{
			text-align: right;
		}
	}

	.tb-subRev__thumb{
		width: 100px;
		overflow: hidden;
		float: left;
		margin-right: 25px;
	}

	.tb-subRev__desc{
		overflow: hidden;
		white-space: normal;

		h4{
			font-weight: normal;
			font-weight: 700;
			font-size: 16px;
			margin: 0;
			margin-bottom: 8px;
			line-height: 1.3em;
		}

		h5{
			font-weight: normal;
			font-weight: 700;
			font-size: 15px;
			margin: 0;
			margin-bottom: 8px;
			line-height: 1.3em;
		}

		span{
			font-size: 14px;
		}
	}
}

.group-btn{
	@include inline-block();
}
.group-qty{ 
	text-align: center;
	.btn-circle {
	    height: 20px;
	    width: 20px;
	    line-height: 10px;
	    border-radius: 50%;
	    -moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	    border: 1px solid #cfcfcf;
	    background-color: transparent;
	    text-align: center;
	    color: #cfcfcf;
	    transition: all 350ms ease;
	    -moz-transition: all 350ms ease;
	    -webkit-transition: all 350ms ease;
	    -webkit-appearance: none;   
	    overflow: hidden;
	    padding: 0;
	    span{
	    	@include inline-block();
	    	position: relative;
	    }

	    &.btn-pluss{
	    	 span{
		    	left: -1px;
		    	top: -1px;
	    	}
	    }
	}

	input[type="text"] {
	    max-width: 70px;
	    text-align: center;
	    margin: 0 5px;
	    padding: .3em 0em;
	    border: none;
	    background: white;
	     border: 1px solid #cfcfcf;
	}
}

.tb-subtotal{
	.subtotal_text{
		margin-right: 40px;
		text-transform: uppercase;
		color: #c5c5c5;
	}

	.subtotal_price{
			font-weight: 700;
			font-size: 23px;
	}
	.subtotal_prices{
		font-size: 20px;
	}
}

.ct-target{
	.text-center{
		margin-top: 25px;
	}
}

.thumb-coffe{
	@include inline-block();
	    border: 1px solid #d0d0d0;
    min-height: 250px;
    position: relative;
    margin-bottom: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-bottom: 20px;

    figure{
    	margin-bottom: 15px;
    }
}

.subs-headAutship{
	text-align: center;
	margin-bottom: 60px;
	.title-md-bold{
		margin-bottom: 10px;
	}
	.content-text{
		font-weight: 300;
		font-size: 17px;
	}
}

.alert-greybox{
	text-align: center;
	p{
		background-color: #f1f1f1;
		padding: 10px 20px;
		font-size: 17px;
		font-weight: 300;
		display: inline-block;
	}
	
}