/** THANKS
===================================*/
.thankswrap{
	text-align: center;
	padding: 50px 0 80px;
	max-width: 700px;
	margin: 0 auto;

	h1{
		margin: 0;
		margin-bottom: 45px;
		font-weight: normal;
		font-size: 28px;
		font-weight: 700;
		letter-spacing: 0.04em;
		@media screen and (min-width: 48em){
			font-size: 36px;
		}
	}

	.thanks__thumb{
		border-radius: 100%;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		width: 200px;
		height: 200px;
		text-align: center;
		margin: 0 auto 30px;

		img{
			border-radius: 100%;
			-moz-border-radius: 100%;
			-webkit-border-radius: 100%;
		}
	}

	.content-text{
		font-size: 20px;
    	line-height: 1.7em;
		@media screen and (min-width: 48em){
			font-size: 22px;
		}
	}

	.smalltext{
		font-size: 18px;
		display: block;
		margin-bottom: 35px;
    	margin-top: 30px;
	}
}

/** THANKS ALT
===================================*/
.title-successBold{
	font-size: 32px;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    @media screen and (min-width: 38em){
    	font-size: 40px;
    }
}

.thanks-galleries{
	header{
		margin-bottom: 35px;
	}
	h5{
		font-weight: 400;
		text-transform: uppercase;
		font-size: 1.2em;
		margin: 0;
		margin-bottom: 3px;
	}
}

.ts-gallery-item{
	text-align: center;
	margin-bottom: 25px;
	@include inline-block();
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	@media screen and (min-width: 28em){
		width: 48%;
		padding: 0 15px;
	}
	@media screen and (min-width: 48em){
		width: 32%;
	}
}