/*
* THIS IS MASTER OF SASS-FILE
* Template customize
* Built with love by juan tonang (rizwanaritonang@gmail.com)
*/


/*  VARIABLE's
/* ------------------------------------ */
@import "variable";
@import "fonts";

/*  PARAMETRIC-MIXIN's
/* ------------------------------------ */
// SELECTION
@mixin selection(){
	::selection {
	}
	::-moz-selection {
	}
}

// OPACITY-MIXIN
@mixin opacity ( $value: 0.5 ) {
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
	filter: alpha(opacity= $value * 100 );
	zoom: 1;
}

// FONT-SMOOTHING
 @mixin antialias {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

// PLACEHOLDER
@mixin placeholder(){
	::-webkit-input-placeholder {
		font-family: $roboto;
		color: $color-text-gray-99;
	}

	:-moz-placeholder { /* Firefox 18- */
		font-family: $roboto;
		color: $color-text-gray-99;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		font-family: $roboto;
		color: $color-text-gray-99;
	}

	:-ms-input-placeholder {
		font-family: $roboto;
		color: $color-text-gray-99;
	}
}

@mixin inline-block(){
	 display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}


 @mixin prefixed($property, $value) {
  -webkit-#{$property}: $value;
     -moz-#{$property}: $value;
      -ms-#{$property}: $value;
       -o-#{$property}: $value;
          #{$property}: $value;
 }

@mixin a_hover(){
          -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
            transition: all 0.3s linear;
}

/*  MODULE
/* ------------------------------------ */
// GENERAL
html, body{
	height: 100%;
}

body{
	font-family: $futura;
	@include antialias;
	font-size: 17px;
    line-height: 1.5em;
    font-weight: 400;
    color: #181818;
}

img{
	max-width: 100%;
}
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a{
	text-decoration: none;
	transition: all 350ms ease-out;
	-moz-transition: all 350ms ease-out;
	-webkit-transition: all 350ms ease-out;
	&.link-textblue{
		color: #0072bc;

		&:hover, &:focus{
			color:#0d8755;
		}
	}
	&:hover, &:focus{
		text-decoration: none;
	}
}

p{
	margin : 0 0 18px;
}

h1, h2, h3, h4, h5, h6{
	font-weight:  normal;
}

h1{}
h2{
	font-size: 24px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}
h5{}
h6{}

b,
strong{
	font-weight: bold;
}

dfn,
cite,
em,
i{
	font-style: italic;
}

code,
kbd,
tt,
var,
samp,
pre{
	font-family: Inconsolata, monospace;
}

// BUTTON
@import "module/button";

// FORM
@import "module/form";

$spacer:
	( space15, 15px),
	( space20, 20px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

/** IMG RATIO
===================================*/
@mixin img-embed(){
	position: relative;
	height: 0;
	overflow: hidden;
	background-color: #f3f3f3;

	img{
		position: absolute;
		top: 0;
		left: 0;
		width:100%;
	}
}
$ratio-16-9 : 56.25%; /* 9/16*100 */
$ratio-4-3 	: 75%; /* 3/4*100 */
$ratio-1-1	: 100%; /* … */

.img-center{
	display: block;
	width: 100%;
	margin-bottom: 35px;
	text-align: center;
}
.img-right{
	display: block;
	float: none;
	width: 100%;
	text-align: center;
	margin: 0;
	margin-bottom: 25px;

	@media screen and (min-width: 48em){
		float: right;
		margin-left: 40px;
		margin-bottom: 20px;
		width: auto;
	}
}
.caption-postimg{
	display: block;
	text-align: center;
	margin-top: 10px;
}
.img-left{
	@extend .img-right;

	@media screen and (min-width: 42em){
		float: left;
		margin-right: 40px;
		margin-left: 0;
	}
}
*:focus {
    outline: 0;
}

/*  THEME
/* ------------------------------------ */

// LAYOUT-FORMATTING
.section-box,
.section-box-small,
.section-box-smaller{
	position: relative;
}
.section-box{
	padding: 60px 0px 40px;
}

.section-box-small{
	padding: 30px 0;
}

.section-box-smaller{
	padding: 20px;
}

.header-section{
	margin-bottom: 40px;
	text-align: center;
	font-weight: 700;
	h2{
		font-weight: 700;
		margin-top: 0;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

.center-wrap{
	width: 90%;
	max-width: 853px;
	margin: 0 auto;
}

/** TITLE
===================================*/
.title-xs{
	font-size: 17px;
	text-transform: uppercase;
	color: black;
	font-weight: 700;
	margin-bottom: 60px;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 1.4em;

	@media screen and (min-width: 40em ){
		text-align: left;
	}
}

.title-xss{
	 font-size: 13px;
	 text-transform: uppercase;
}

.title-xs-bold{
	margin: 0;
	margin-bottom: 1em;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 1.4em;
}
.title-md-bold{
	@extend .title-xs-bold;
	font-size: 22px;
	letter-spacing: normal;
}
.title-xs-normal{
	margin: 0;
	margin-bottom: 1em;
	font-size: 16px;
	font-weight: normal;
	font-weight: 700;
	line-height: 1.4em;
}

.title-thinMd{
		font-size: 29px;
		margin: 0;
		margin-bottom: 15px;
		text-align: center;

		@media screen and (min-width: 40em){
			text-align: left;
		}

		a{
			color: black;

			&:hover{
				color: #0d8755;
			}
		}
	}

.title-bolddMd{
	font-weight: 600;
    font-size: 30px;
	margin: 0;
	margin-bottom: 15px;

	@media screen and (min-width: 40em){
		font-size: 40px;
	}

	a{
		color: black;

		&:hover{
			color: #0d8755;
		}
	}

}

.title-lgBold{
		font-weight: 700;
	    font-size: 25px;
		margin: 0;
		margin-bottom: 15px;
		line-height: 1em;
		text-transform: uppercase;

		@media screen and (min-width: 40em){
			font-size: 30px;
		}

		a{
			color: black;
			&:hover{
				color: #0d8755;
			}
		}
}
.title-centerline{
	font-size: 23px;
	font-weight: 700;
	line-height: 1.5em;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 26px;
	border-bottom: 1px solid #b2b2b2;
	margin-bottom: 50px;
	text-align: center;
	letter-spacing: 0.02em;
}

.title-centerMd{
	@extend .title-centerline;
	border-bottom :none;
	margin-bottom: 15px;
}
.title-centerLg{
	@extend .title-centerline;
	margin-bottom: 20px;
	padding-bottom: 0;
	font-size: 22px;
	@media screen and (min-width: 40em){
		font-size: 25px;
	}
	border-bottom: none;
}


.item-bestseller{
	text-align: center;
	position: relative;
	margin-bottom: 30px;
	.subitem-bestseller{
		position: relative;
		display: block;
		cursor: pointer;
		&:hover,
		&:focus{
			h4, .price{
				color: $color-green;
			}
		}
	}
	.bestseller-info{
		margin-top: 20px;
		h4, .price{
			transition: all 350ms ease;
		}
		h4{
			margin-top: 0;
			margin-bottom: 5px;
			text-transform: uppercase;
			color: black;
		}
		.price{
			color: black;
		}
	}
}

.title-center{
	text-align: center;
	margin-bottom:  55px;
}

.title-xl{
		font-weight: 400;
	    font-size: 28px;
		margin: 0;
		margin-bottom: 15px;

		@media screen and (min-width: 40em){
			font-size: 35px;
		}
}

.title-lgBold2{
	margin: 0;
	margin-bottom: 45px;
	font-weight: normal;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 0.04em;
	@media screen and (min-width: 48em){
		font-size: 36px;
	}
}

.title-article, .satisfac__desc .title-article{
	margin: 0;
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 600;
}

.title-mdBold{
	margin: 0;
	margin-bottom: 12px;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.04em;
	@media screen and (min-width: 48em){
		font-size: 23px;
	}
}

// SUBSCRIBE-FORMATTING
.section-subscribe{
	background: white;
	padding: 27px 0;

	&.bg-grey{
		background-color: #f3f3f3;
		color: #6e6e6e;
	}
}
.text-subscribe{
	font-size: 18px;
	color: #7a7a7a;

	text-align: center;
	margin: 0;
	a{
		color: #0067b3;
		position: relative;
		&:hover,
		&:focus{
			color: $color-blue-light;
		}
	}
	i{
		font-size: 9px;
		border-radius: 50%;
		height: 20px;
		width: 20px;
		display: inline-block;
		text-align: center;
		line-height: 20px;
		background-color: $color-blue;
		color: white;
		position: relative;
		top: -5px;
	}
}

// BACKGROUND-FORMATTING
.bg-gray-light{
	background-color: #f3f3f3;
}
.bg-gray-dark{
	background-color: #e4e3e4;
}
.main-grey{
	background-color: #f1f1f1;
	padding: 30px 0;
}

.text-uppercase{
	text-transform: uppercase;
}

// CLIENT-FORMATTING
.section-client{
	background: #f6f6f6;
	overflow: hidden;
	padding-bottom: 60px;

	&.default{
		padding:25px 0;
	}

	.title-client{
		color: #62615d;
		margin: 0;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
	}
	.title-client,
	.client-link{
		min-height: 45px;
		vertical-align: middle;
		position: relative;
		line-height: 45px;
		display: block;
		text-align: center;
	}

}

/*====== LAYOUT ======*/
.block-center{
	width: 100%;
	max-width: 865px;
	margin: 0 auto;
	&:before{
		content: '';
		display: table;
	}

	&:after{
		clear: both;
	}
}



/*  BUTTON
/* ------------------------------------ */


/*  FORM
/* ------------------------------------ */
/*input[type="text"],
input[type="email"],
input[type="website"],
input[type="search"],
textarea{
	width: 100%;
	padding: 1em;
	border: 1px solid transparent;
}*/

textarea{
	resize: vertical;
}

.item{
	position: relative;
	.alert{
		float:left;
		margin:0 0 0 20px;
		padding:3px 10px;
		color: white;
		border-radius: 3px 4px 4px 3px;
		// background-color: $color-blue;
		max-width: 170px;
		white-space: pre;
		position: absolute;
		opacity: 0;
		z-index: 1;
		transition: all 250ms ease;
		&:after{
			content: "";
			display: block;
			height: 0;
			width: 0;
			// border-color: transparent $color-blue transparent transparent;
			border-style: solid;
			border-width: 11px 7px;
			position: absolute;
			top: -1px;
			left: -13px;
		}
	}
	&.bad{
		.alert{
			left:0;
			opacity: 1;
			top: 5px;
			left: 343px;
			font-size: 12px;
			padding: 10px;
		}
	}
}

.form-subscribe{
	input[type="email"],
	input[type="submit"]{
		position: relative;
		float: left;
		height: 50px;
	}
	input[type="email"]{
		width: 65%;
		margin-right: 2%;
	}
	input[type="submit"]{
		width: 33%;
		color: white;
		text-transform: capitalize;
	}
}
/*  HELPER
/* ------------------------------------ */

// SPACE
$spacer:
	( space15, 15px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

/*  CAPTION
**  This is only for WordPress
**  theme template
/* ------------------------------------ */
.wp-caption{
	&.alignleft{}
	&.alignright{}
	&.aligncenter{}
	&.wp-caption-text{}
	&.wp-caption-dd{}
}


/*  ALIGNMENT
**  This is only for WordPress
**  theme template
/* ------------------------------------ */
.alignleft{
	float: left;
}
.alignright{
	float: right;
}
.aligncenter{
	clear: both;
	display: block;
	margin: 0 auto;
}

/*  SITE-HEADER
/* ------------------------------------ */

/*  SITE-MAIN
/* ------------------------------------ */
.site-mainSpace{
	padding-bottom: 90px;
	padding-top: 50px;
}


/*  SITE-FOOTER
/* ------------------------------------ */

/*  WIDGETS
/* ------------------------------------ */

/*  UPDATED
/* ------------------------------------ */
.site-header-success{
	border-bottom: 1px solid #ddd;
}
.btn-minwidth{
	min-width: 320px;
}
.nav-hiline{
	li{
		a{
			border-radius: 0 !important;
			padding: 10px 30px;
			min-width: 120px;
			text-align: center;
			color: #333;
		}
		&.active{
			a{
				color: $color-green !important;
			}
		}
		&:hover,
		&:focus{
			a{
				border-color: transparent transparent #ddd;
				color: $color-green;
				background-color: white;
			}

		}
	}
}
.no-bord{
	border: none !important
}
.no-padd{
	padding: 0 !important;
}
.bord-bottom{
	border-bottom: 1px solid $color-border;
}
.alignnone{
	margin: 0 auto 30px;
	text-align: center;
	img{
		display: inline-block;
	}
}
.video-maxwidth{
	max-width: 592px;
	margin: 0 auto 30px;
}
.video-left{
	margin-bottom: 25px;
}

.satisfac__panel{
	padding: 2.2em;
	background: $color-top-header;
}
.satisfac__panelGrey{
	padding: 20px 30px;
	background: $color-top-header;
}
.panel-group{
	.panel{
		box-shadow: 0 1px 1px rgba( black, .1 );
	}
}
.panel-title{
	a{
		display: block;
		position: relative;
		&:after{
			content: "\f107";
			font-family: "FontAwesome";
			position: absolute;
			right: 0;
			top: -15px;
			font-size: 28px;
			color: #ebebeb;
		}
	}
}

.box-donate{
	text-align: center;
	.subbox-donate{
		max-width: 550px;
		margin: auto;
		padding: 1.5em 2em 2em;
		border: 1px solid #ddd;
	}
}

.btn-big{
	padding: 16px 32px;
	font-size: 18px;
}
.link-inline{
	display: inline-block;
	border-bottom: 1px solid #333;
	color: #333;
	&:hover,
	&:focus{
		border-bottom: 1px solid $color-green;
		color: $color-green;
	}
}
.box-list-divide{
	position: relative;
	.list-circle{
		float: left;
		width: 30%;
	}
}
.list-circle{
	margin: 0;
	padding: 0;
	padding-left: 20px;
	list-style-image: url("../images/circle.png");
	li{
		padding-left: 13px;
		margin-bottom: 14px;
	}
	p{
		margin-bottom: 0;
	}
}
.list-num{
	margin: 0;
	padding: 0;
	padding-left: 20px;
	p{
		margin-bottom: 0;
	}
}
.list-tab{
	list-style: none outside none;
	margin: 0;
	padding: 0;
	border-bottom:1px solid #b2b2b2;
	li{
		float: left;
		&.active{
			a{
				border-bottom: 1px solid white;
				border-left: 1px solid #b2b2b2;
				border-right: 1px solid #b2b2b2;
				border-top: 1px solid #b2b2b2;
				color: $color-green;
			}
		}
		&:hover,
		&:focus{
			a{
				color: $color-green;
			}
		}
	}
	a{
		display: block;
		padding: 10px 30px;
		color: #333;
		position: relative;
		bottom: -1px;
	}
}

.satisfac__desc{
	h1{
		font-size: 24px;
		line-height: 1.3em;
		font-weight: 700;
		letter-spacing: 0.04em;
		margin-bottom: 12px;
		@media screen and (min-width: 48em){
			font-size: 29px;
		}
	}

	article{
		margin-bottom: 45px;
	}
}

.wrapper-center{
	max-width: 650px;
	margin: 0 auto;
}

.tab-content{
	padding: 45px 0;
}

.aligncenter{
	text-align: center;

}

.smaller-marg-bottom{
	margin-bottom: 60px !important;
}
.reset-splash{
	margin-bottom: 30px !important;
}
.reset-satisfac-top{
	padding-top: 0 !important;
	border-top: none !important;
	.row{
		margin-right: -8px !important;
		margin-left: -8px !important;
	}
}

.reset-satisfac-logo{
	figure{
		width: auto !important;
	}
}

.padding-help{
	padding: 2.2em !important;
}

.smallest-container{
	max-width: 650px;
	margin: 0 auto;
	.item-machine{
		float: left !important;

	}
}

.satisfa-testi{
	.thumb.pull-left{
		text-align: center;
	}
}

.font-28{
	font-size: 28px;
	line-height: 1.6em !important;
}

// ITEM-REVIEW
.item-review{
	position: relative;
	margin-bottom: 25px;
	padding-left: 7px;
	padding-right: 7px;
	margin-right: auto;
	margin-left: auto;
	@media screen and (min-width: 48em){
		display: inline-block;
		vertical-align: top;
		*vertical-align: auto;
		*zoom: 1;
		*display: inline;
		width: 49%;
		margin-right: 0;
	margin-left: 0;
	}
	max-width: 560px;

}
.subitem-review{
	border: 1px solid #b2b2b2;
	padding: 30px;
	overflow: hidden;
	text-align: left;
	//min-height: 438px;

	.title-reviews{
		margin-bottom: 15px;
		text-align: center;
		@media screen and (min-width: 42em){
			&:before{
				content:'';
				height: 100%;
				display: inline-block;
				vertical-align: middle;
			}
			margin-bottom: 0;
		}
		@media screen and (min-width: 35em){
			text-align: left;
		}
		figure{
			@media screen and (min-width: 35em){
				float: left;
				margin-bottom: 0;
			}
			margin-right: 30px;
			height: auto;
			max-width: 120px;
			margin-bottom:20px;
			height: 110px;
			vertical-align: middle;

			&.team-thumb{
				width: 98px;
				height: 97px;
				overflow: hidden;
				border-radius: 100%;
				-moz-border-radius: 100%;
				-webkit-border-radius: 100%;

				img{
					border-radius: 100%;
					-moz-border-radius: 100%;
					-webkit-border-radius: 100%;

				}
			}
		}
	}
	.content-title{
		height: 100px;
		@media screen and (min-width: 35em){
			overflow: hidden;
		}
		h3{
			font-weight: bold;
			font-size: 21px;
			margin-bottom: 5px;
			margin-top: 0;
		}
		span{}
	}
	p{}
}

// ITEM-MACHINE
.item-machinewrap{
	text-align: center;

	&:before, &:after{
		content : '';
		display: table;
	}

	&:after{
		clear: both;
	}
}
.item-machine{
	position: relative;
	margin-bottom: 60px;
	text-align: center;
	width: 24%;
	display: inline-block;
	vertical-align: top;
	padding-right: 20px;
	padding-left: 20px;

	figure{
		height: 100%;
		overflow: hidden;
		text-align: center;
		margin-bottom: 20px;
		display: inline-block;
		vertical-align: middle;

		&.thumbtabs{
			height: 330px;
		}

		@media screen and (min-width: 42em){
			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
		}
	}
}
.subitem-machine{
	display: block;
	&:hover,
	&:focus{
		h2{
			color: $color-green;
		}
	}
	h2{
		transition: all 350ms ease;
		color: #333;
		margin-top: 0;
	}
}

.machine-text{
	text-align: center;
	p{
		font-size: 19px;
		line-height: 1.6em;
	}
}

// ITEM-FRESH
.item-fresh{
	position: relative;
	margin-bottom: 30px;
	text-align: center;
	.subitem-fresh{
		margin: 0 auto;
		max-width: 250px;
	}
	figure{
		margin: 0 0 15px;
		img{}
	}
	h3{
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: bold;
	}
	p{
		margin-bottom: 0;
	}
}

// ITEM-COFFEE-PACKS
.item-coffee-packs{
	text-align: center;
	margin-bottom: 30px;
	.subitem{
		display: block;
	}
	img{
		display: inline-block;
		margin: auto;
	}
	h3{
		color: #181818;
		font-size: 23px;
	}
}

// ITEM COFFEE PACKS SELL
.item-coffee-packs-sell{
	text-align: center;
	margin-bottom: 30px;
	.subitem-packs-sell{
		display: block;
		max-width: 250px;
		margin: auto;
	}
	figure{
		img{
		}
	}
	h2{
		font-size: 21px;
		font-weight: bold;
		color: #181818;
	}
	p{
		color: #181818;
	}
}

// ORDER SUCCESS
.link-blue{}
.order-success-wrapper{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
	.title-success{
		font-size: 32px;
		margin-bottom: 45px;
		text-transform: uppercase;
	}
}
.box-success{
	border: 1px solid #eee;
	padding: 30px 60px;
	h3{
		margin-top: 0;
		font-size: 23px;
		text-transform: uppercase;
		font-weight: 700;
	}
}

// MODAL
.modal{}
.modal-dialog{
	width: 840px;
	.modal-content{
		border-radius: 0;
	}
	.modal-header{
		padding: 0;
		border: none;
		button{
			position: absolute;
			top: -10px;
			right: -10px;
			border-radius: 50%;
			width: 36px;
			height: 36px;
			line-height: 36px;
			text-align: center;
			color: white;
			border: 1px solid white;
			background-color: black;
			padding: 0;
			transition: all 350ms ease;
			opacity: 1;
			&:hover,
			&:focus{
				background-color: lighten( black, 30% );
			}
		}
	}
}
.modal-hiline{
	padding: 30px;
	.header-modal{
		text-align: center;
		margin-bottom: 45px;
		h3{
			margin-top: 0;
			margin-bottom: 30px;
			font-size: 23px;
			text-transform: uppercase;
			font-weight: 700;
		}
		p{
			font-size: 18px;
		}
	}
}

.modal-confirm{
	max-width: 560px;
	width: auto;
	text-align: center;
	.modal-content{
		padding: 30px 20px;
	}

}
.modal-head{
	font-size: 18px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}
.modal-text{
	font-size: 20px;
}
.modal-btnwrap{
	padding: 15px 0;
	.btn{
		    padding: 7px 25px;
		    font-size: 15px;
		    margin: 0 8px;
	}
}

.form-bad-coffee{
	input[type="text"],
	input[type="email"]{
		margin-bottom: 20px;
	}
	input[type="submit"]{
		max-width: 360px !important;
	}
	input[type="text"],
	input[type="email"],
	input[type="submit"]{
		width: 100%;
		border: 1px solid #5DAB77;
		height: 50px;
		line-height: 50px;
		padding: 0 15px;
	}
	.box-info{
		text-align: center;
		background-color: #eee;
		padding: 30px;
		margin-bottom: 30px;
		p{}
	}
}

// ITEM-DESCALLING-VIDEO
.item-descalling-video{
	position: relative;
	margin-bottom: 30px;
	text-align: center;
	.large-views{}
	.small-views{
		display: none;
	}
	.subitem{
		display: block;
		width: 100%;
		overflow: hidden;
	}
	video{
		display: block;
		width: 100%;
	}
	.vjs-error-display{
		display: none;
	}
	.vjs-control-bar{
		display: none;
	}
	.vjs-caption-settings{
		display: none;
	}
	h2{
		margin-top: 20px !important;
	    color: #181818;
	    font-size: 23px !important;
	    font-weight: bold !important;
	}
}

/** BLEND
===================================*/
.row-blend-guide{
	overflow: hidden;
	padding-bottom: 35px
}

.blend-title{
	font-weight: 700;
	margin-top: 0;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 19px;
}

.stage-blend-like{
	margin-bottom: 25px;
	@media screen and (min-width: 62em){
		padding-right: 0;
		margin-bottom: 0
	}
	li{
		position: relative;
		display: inline-block;
		float: left;
		&:last-child{
			a{
				margin-right: 0;
			}
		}
	}
	a{
		display: block;
		margin-right: 30px;
		margin-bottom: 30px;
		&:hover,
		&:focus{
			img{
				opacity: .9;
			}
		}
		img{
			transition: opacity 300ms ease, transform 300ms ease;
		}
	}
}
.stage-blend-try{
	@media screen and (min-width: 62em){
		padding-left: 0;
	}
	.item-blend-try{
		position: relative;
		margin-bottom: 30px;
		text-align: center;
	}
	.subitem-blend-try{
		display: block;
		&:hover,
		&:focus{
			figure{
				img{
					opacity: .9;
				}
			}
		}
	}
	figure{

	}
	h3{
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 0;
		a{
			color: #333;
			&:hover,
			&:focus{
				color: $color-green;
			}
		}
	}
	p{
		margin-bottom: 0;
		font-size: 12px;
	}
}

.list-blend-like, .list-blend-try{
	list-style: none outside none;
	padding: 0;
	margin: 0;
	border-top: 1px solid #b2b2b2;
	padding-top: 35px;
}

.hide-desktop{
	display: block;
	@media screen and (min-width: 62em){
		display: none;
	}
}

.the-trick{
	margin-bottom: 50px;
	.thumbs-trick{
		text-align: left;
		@media screen and (max-width: 62em){
			margin-bottom: 25px;
		}
	}
}

#accordion{
	.panel-heading{
		.title-article{
			margin-bottom: 0;
			a{
				color: black;
				&:hover{
					color: #51a46c;
				}
			}
		}
	}
	&.panel-group {
		.panel{
			box-shadow: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			margin: 0;
			border: none;
			border-bottom: 1px solid #ebebeb;
			border-radius: 0;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
		}
	}
	.panel-title{
		margin-bottom: 0;
		font-size: 16px;
		font-weight: 700;

		.numb{
			display: inline-block;
			margin-right: 12px;
		}
	}
	.panel-heading{
		  padding: 17px 15px;
		  padding-left: 0;
	}
	.panel-body{
		border: none;
		padding-top: 0;
	}
}

.title-panline{
	padding-bottom: 20px;
	font-size: 16px;
	font-weight: 700;
	border-bottom: 1px solid #ebebeb;
}

/** SELECT STYLE
===================================*/
select.selectBox{
	border: 1px solid #c5c5c5;
	padding: 4px .5em;
	padding-right: 1.5em;
	border-radius: 0;
	background-color: white;
	font-weight: 300;
}

/*  MEDIA-QUERIES
/* ------------------------------------ */
.btn-rwd-sidebar{
	display: none;
}

@import "header";
@import "nav_main";
@import "rwdsidebar";
@import "nav_inmain";
@import "Home";
@import "blog";
@import "paginate";
@import "faq";
@import "404page";
@import "story";
@import "subscription";
@import "account";
@import "shop";
@import "aside";
@import "tooltip";
@import "mediaqueries";
@import "checkout";
@import "office_delivery";
@import "_satisfac_guarant";
@import "thanks";
@import "autoship";
@import "inspiration";
@import "alternative";
@import "footer";

.bg-green{
	background-color: #51a56b;
	color: white;
}
.bg-brown{
	background-color: #66443a;
	color: white;
}

.tab-thumbCenter{
	text-align: center;
	margin-bottom: 20px;
	width: 100%;
}

.buttonSm-text{
	font-size: 0.8em;
	display: block;
}
.article-full{
	&:before, &:after{
		content: "";
		display: table;
	}
	&:after{
		clear: both;
	}
}

.btn-wrapcenter{
	text-align: center;
	a, span{
		display: block;
		@media screen and (min-width: 48em){
			display: inline-block;
		}
		margin: 0 8px 8px;
	}
}

/** REMOVE ARROW IN INPUT NUMBER
===================================*/
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

	input[type=number] {
	  -moz-appearance:textfield;
	}

/** SHO CART INDICATOR
===================================*/
#CartItemPreview{
	display: none;

	@media screen and (max-width: 991px){
		display: none !important;
	}

	width: 250px;
    position: absolute;
    z-index: 100;
    right: 0;
    text-align: left;
    z-index: 10;
    padding: 15px 10px;
    max-width: 280px;
    color: #333;
    background-color: white;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    font-size: 0.8em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    text-shadow: none;
	line-height: 1.2em;
	text-transform: none;
	    border-radius: 4px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;

	ul, li{
		margin :0 ;
		padding: 0;
		list-style: none;
	}
	p{
		margin-bottom: 10px;
	}

    #FreeShippingReport {
	    text-align: center;
	    text-transform: uppercase;
	    font-size: 1em;
	    margin-bottom: 18px;
	    font-weight: 700;
	}

	.empty {
	    margin: 0;
	    padding: 5px 9px;
	}

	.btn-gray{
		display: inline-block;
		padding: 5px 8px;
	}

	 .subtotal {
	    margin: 5px 0 0;
	    padding: 2px 0;
	}
	.mini-products-list li {
	    list-style-type: none;
	    padding: 0;
	    display: block;
	    padding: 10px !important;
	    margin-bottom: 8px !important;
	    background-color: #F5F5F5;
	    width: 100%;

	    .product-name {
		    text-transform: uppercase;
		    letter-spacing: 0.1em;
		    margin-bottom: 0.5em;

		    a{
		    	color: black;
		    	&:hover{
		    		color:  $color-green;
		    	}
		    }
		}
		.product-image {
			 width: 50px;
			float: left;
			margin: 0;
			text-align: left;
			padding: 0!important;
			margin-right: 1em !important;
		}

		.product-details{
			overflow: hidden;
		}

		.ProductQuantityAndPrice{
			margin-bottom: 8;
		}
	}

	.summary{
		margin: 15px 0;
		text-align: center;
		.price{
			color: $color-green;
		    font-size: 1.3em;
		    display: inline-block;
		    vertical-align: middle;
		}
	}

	.btn-green{
		display: block;
		width: 100%;
		padding: 8px 12px;
	}
}






@media (max-width:1200px) {

	// TONANG-MQ
	.subitem-review{
		min-height: 460px;
	}
	.video-wrapper{
		margin-bottom: 30px;
	}

    .nav-header ul li > a{
    	margin: 0 10px;
    	font-size: 12px;
    }
}

@media screen and (min-width: 62em){
	.fluid-width-video-wrapper{
		padding-top: 45%;
	}
}

@media (max-width: 995px) {
	.item-descalling-video{
		.large-views{
			display: none;
		}
		.small-views{
			display: block;
		}
	}
	.site-header-success{
		.logo-header{
			float: none !important;
			margin: 0 !important;
		}
		.site-header-middle{
			padding: 40px 0;
		}
	}
	.item-coffee-packs{
		width: (100%/3);
		float: left;
	}
	.nav-hiline{
		text-align: center;
		li{
			float: none;
			display: block;
			a{
				border: none !important;
			}
		}
	}
	.site-header-middle{
		padding-bottom: 110px;
		padding-top: 40px;
	}
	.logo-header{
		margin-left: 0;
	}
    .nav-header{
    	display: none;

    	&.nav-left{
				display: block !important;
				margin-bottom: 20px;
				text-align: center;
				padding-bottom: 10px;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;

    		ul{
    			display: none;
    			li{
    				text-align: right;
    				&:last-child{
	    				a{
	    					padding-right: 0;
	    					margin-right: 0;
	    					font-size: 11px;
	    				}
    				}
    				ul{
    					display: none !important;
    				}
    			}
    		}
    	}
    }
    .logo-header{
    	float: left;
    }
    .btn-rwd-sidebar{
    	margin-top: 0;
    	display: inline-block;
    	float: right;
    	width: 42px;
    	height: 42px;
    	line-height: 42px;
    	text-align: center;
    	background-color: $color-green;
    	box-shadow: inset 0 0 0 2px rgba( $color-green, 1);
    	color: white;
    	&:hover,
    	&:focus{
			background-color: transparent;
			color: $color-green;
    	}
    }
    .section-client .title-client,
    .section-client .client-link{
		margin-bottom: 20px;
    }
}

@media ( max-width: 993px){
	.stage-blend-like{
		.list-blend-like{
			text-align: center;
		}
		li{
			float: none;
		}
	}
}

@media( max-width: 990px){
	.site-header-success .site-header-middle{
		padding: 15px 0;
	}
	.modal-dialog{
		width: 80%;
		margin: 60px auto;
	}
	.order-success-wrapper .title-success{
		font-size: 28px;
	}
	.box-success h3,
	.modal-hiline .header-modal h3{
		font-size: 18px;
	}
	.modal-hiline .header-modal p{
		font-size: 14px;
	}
	// TONANG-MQ
	.list-tab{
		border-bottom: none;
		li{
			float: none;
			display: block;
			&.active{
				a{
					border-bottom-color: #b2b2b2;
				}
			}
		}
	}
	.subitem-review{
		min-height: auto;
	}
	.item-machine{
		width: (100% /2.4);
		float: none !important;
	}
}

@media (max-width: 767px) {
	/*.item-machine{
		width: (100% /2.5);
	}*/
   /*.section-banner .banner-caption{
    	padding: 100px 0 70px;
    } */
}


@media (max-width: 621px) {
	.btn-minwidth{
		min-width: inherit;
	}
	.box-success h3,
	.modal-hiline .header-modal h3{
		font-size: 16px;
	}
	.modal-hiline .header-modal p{
		font-size: 14px;
	}
	.site-header-success .site-header-middle{
		padding: 10px 0;
	}
	.order-success-wrapper .title-success{
		font-size: 23px;
	}
	.item-coffee-packs{
		width: (100%/2);

	}
    .btn-center{
    	a{
    		margin-right: 0 !important;
    		margin-bottom: 15px;
    	}
    }
}
@media (max-width: 570px) {
	.item-coffee-packs{
		width: 100%;
	}
	.item-machine{
		width: 100%;
	}
    .site-header-top{
    	height: auto;
    	line-height: inherit;
    	padding: 15px 0;
    	.site-header-top-left,
    	.site-header-top-right{
    		float: none;
    		text-align: center;
    		margin-bottom: 5px;
    	}
    }
}

.imgZoom{
	overflow: hidden;
	img {
	    -webkit-transition: all 1s ease; /* Safari and Chrome */
	    -moz-transition: all 1s ease; /* Firefox */
	    -ms-transition: all 1s ease; /* IE 9 */
	    -o-transition: all 1s ease; /* Opera */
	    transition: all 1s ease;
    }

    &:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
	}
}

/** AUTOSHIP 3
===================================*/
.autoship-box{
	margin: 35px 0;
	.btnwrap{
		text-align: center;
		.btn{
			margin-bottom: 9px;
		}
		p{
			font-size: 0.8em;
		}
	}
}
.autoship-boxitem{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding: 0 15px;
	margin-bottom: 65px;
	@media screen and (min-width: 62em){
		margin-bottom: 40px;
	}

	.inside{
		border: 1px solid #c1c1c1;
		border-top: 4px solid #51a46a;
		padding: 40px 20px 25px;
		position: relative;
		min-height: 175px;
		@media screen and (min-width: 48em){
			padding: 40px 25px 25px;
		}
	}
	@media screen and (min-width: 48em){
		width: 45%;
	}
	@media screen and (min-width: 62em){
		width: 33%;
	}

	.numb{
		position: absolute;
		top: -30px;
		right: 0;
		left: 0;
		margin: auto;
		display: inline-block;
		width: 55px;
		height: 55px;
		line-height: 55px;
		font: 700 33px/47px 'futura-pt';
		border: 4px solid #52a46c;
		text-align: center;
		color: #52a46c;
		background-color: white;
		border-radius: 100%;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
	}

	figure{
		float: left;
		text-align: center;
		margin-right: 32px;
	}

	.desc{
		overflow: hidden;
		text-align: left;
		font-size: 15px;

		h4{
			margin: 0;
			margin-bottom: 8px;
			font:  600 17px 'futura-pt';
			color: black;
		}
		p{
			margin-bottom: 0;
		}
	}
}

.btn-whiteBorder{
	background: none;
	border: none;
	color: $color-green;;
	box-shadow: inset 0 0 0 2px rgba( $color-green, 1);
	letter-spacing: 0.1em;
	background: white;
	text-transform: none;
	&:hover,
	&:focus{
		background: $color-green;
		color: white;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	}
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}


.tip-popup{
	display: inline-block;
	position: relative;
	text-decoration: underline;
	cursor: pointer;
    color: black;

    .tip-popupmain{
    	visibility: hidden;
    	opacity: 0;
    	position: absolute;
    	top: 0;
    	left: 50%;
		margin-left: -125px;
		width: 250px;
    	display: inline-block;
		z-index: 1000;
		padding: 10px 16px 13px;
		background-color: white;
		border: 1px solid #51a36b;
		border-top: 4px solid #51a36b;
		color: black;
		content: attr(data-tooltip);
		font-size: 14px;
		line-height: 1.2;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
		&:before {
		    content: '';
		    z-index: 999;
		    border: 6px solid transparent;
		    background: transparent;
		    border-top-color: transparent;
		    border-bottom-color: #51a36b;
		    background-color: transparent;
		    position: absolute;
		    top: -16px;
		    left: 50%;
		    margin-left: -6px;
		}
    }

    &:hover{
    	.tip-popupmain{
    		visibility: visible;
    		opacity: 1;
    		top: 100%;
    	}
    }

}


.pagination-wrap{
	text-align: center;
	margin: 40px 0;
}
.pagination {
  &.paginateStyle{
			 > li {
				 @media screen and (max-width: 48em){
					 	display: none;
						&:first-child, &:last-child{
								@include inline-block();
						}
				 }
				 	span, a{
							border-color: #107c4b;
							color: #2d6fae;
							font-weight: 400;
							font-size: 0.9em;
							line-height: 1.5em;

							&:hover{
								background-color: #107c4b;
								color: white;
							}
					}
					span{
						background-color: #107c4b;
						color: white;
						font-weight: 700px;
					}

					.prevnext{
						span{
								background-color: transparent;
								color: #2d6fae;
						}

						&:hover{
							span{
								  color: white;
							}
						}
					}


			 }
	}
}
