<aside class="aside-acc col-md-3">
	<div class="account-menu">
		<ul>
			<li {{#is basename 'account'}}class="active"{{/is}}><a href="account.html" class="fa fa-user">Account Information</a></li>
			<li {{#is basename 'account_order'}}class="active"{{/is}}><a href="account_order.html" class="fa fa-clock-o">Orders</a></li>
			<li {{#is basename 'account_address'}}class="active"{{/is}}><a href="account_address.html" class="fa fa-map-marker">Address Book</a></li>
			<li {{#is basename 'account_subscrip'}}class="active"{{/is}}><a href="account_subscript.html" class="fa fa-calendar">Subscription</a></li>
			<li {{#is basename 'account_refer'}}class="active"{{/is}}><a href="account_refer.html" class="fa fa-comments-o">Refer A friend</a></li>
			<li {{#is basename 'account_card'}}class="active"{{/is}}><a href="account_card.html" class="fa fa-credit-card">Credit Cards</a></li>	
			<li><a href="#" class="fa fa-power-off">logout</a></li>	
		</ul>
	</div>
</aside>