<header class="site-header">
	<!-- SITE-HEADER-TOP BEGIN  -->
		<div class="site-header-top">
			<div class="container">
				
				<div class="site-header-top-left clearfix">
					<p>Free Shipping on All Subscription Orders</p>
				</div>

				<div class="site-header-top-right">
					<ul class="user-about">
						<li><a href="#" class="user">Login</a></li>
						<li><a href="#" class="cart-bag">Cart </a></li>
					</ul>
				</div>

			</div>
		</div>
	

	<!-- SITE-HEADER-MIDDLE BEGIN -->
		<div class="site-header-right">
			<div class="container">
				<div class="logo-header">
					<a href="#">
						<img src="images/logo.png" alt="logo-site">
					</a>
				</div><!-- / .logo-header -->

				<div class="nav-header nav-right">
					<ul>
						<li><a href="#">Sop</a></li>
						<li><a href="#">Subscribe</a></li>
						<li><a href="#">Why Hiline</a></li>
						<li><a href="#">Faqs</a></li>
					</ul>
				</div><!-- / .nav-header .nav-right -->

				<a href="javascript:void(0);" class="btn-rwd-sidebar"><i class="fa fa-bars"></i></a>

			</div>
		</div>

</header>