<footer class="site-footer">
	<div class="container">
		<div class="row">
			
			<div class="col-md-3">
				
				<div class="widget-footer clearfix">
					<ul class="list-widget-link">
						<li><a href="#">contact</a></li>
						<li><a href="#">faq</a></li>
						<li><a href="#">blog</a></li>
						<li><a href="#">press</a></li>
						<li><a href="#">reviews</a></li>
						<li><a href="#">refer a friend</a></li>
					</ul>
				</div><!-- / .widget-footer -->

				<div class="widget-footer clearfix">
					<ul class="list-widget-socmed">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
					</ul>
				</div><!-- / .widget-footer -->

			</div><!-- / .col-md-3 -->

			<div class="col-md-9">

				<div class="row">

					<div class="col-md-5 clearfix">
						<div class="widget-footer clearfix">
							<h4 class="title-widget">need help?</h4>

							<p class="text-info"><a href="#">Hi@HiLineCoffee.com</a></p>
							<p class="text-info">(221) 9223-1234</p>
						</div><!-- / .widget-footer -->
					</div><!-- / .col-md-5 -->

					<div class="col-md-7 clearfix">
						<div class="widget-footer clearfix">
							
							<h4 class="title-widget">sign up for our emails and get 10% off!</h4>

							<form class="form-subscribe">
								<input type="email" placeholder="Email address ...">
								<input type="submit" class="btn btn-blue" value="subscribe">
							</form>

						</div>
					</div><!-- / .col-md-7 -->

					<div class="col-md-12 clearfix">
						<div class="widget-footer clearfix">
							
							<p>HiLine and its products are not endorsed by, sponsored by, licensed by or approved by Nespresso USA Inc., Keurig or any of their affiliates. Nespresso® is a registered trademark of Societe des Produits Nestle S.A. Keurig® and K-CUP® are registered trademarks of Keurig, Inc.</p>

							<p>Copyright &copy; 2015, Hiline Coffee Company</p>
							<p><a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a>.</p>
						</div>
					</div><!-- / .col-md-12 -->

				</div>
				
			</div><!-- / .col-md-9 -->

		</div>
	</div>	
</footer>