<header class="site-header">
	
	<!-- SITE-HEADER-TOP BEGIN  -->
		<div class="site-header-top">
			<div class="container">
				
				<div class="site-header-top-left clearfix">
					<p>Free Shipping on All Subscription Orders</p>
				</div>

				<div class="site-header-top-right clearfix">
					<p>
					checkout
					<a href="#" class="checkout">	
						<span class="icon"></span>
						<span class="count">5</span>
					</a></p>
				</div>

			</div>
		</div>
	
	<!-- SITE-HEADER-MIDDLE BEGIN -->
		<div class="site-header-middle">
			<div class="container">
				
				<div class="nav-header nav-left">
					<ul>
						<li>
							<a href="#">Shop</a>
							<ul>
								<li><a href="#">Pods or keurig</a></li>
								<li><a href="#">Pods for Nespresso</a></li>
								<li><a href="#">Whole Bean Coffee</a></li>
								<li><a href="#">Ground Coffee Packs</a></li>
								<li><a href="#">Accessories</a></li>
								<li><a href="#">Gift Cards</a></li>
							</ul>
						</li>
						<li><a href="#">Subscribe</a></li>
						<li {{#is basename 'office_delivery'}} class="active" {{/is}}><a href="#">Office Delivery</a></li>
					</ul>
				</div><!-- / .nav-header .nav-left -->

				<div class="logo-header">
					<a href="#">
						<img src="images/logo.png" alt="logo-site">
					</a>
				</div><!-- / .logo-header -->

				<div class="nav-header nav-right">
					<ul>
						<li><a href="#">Our Story</a></li>
						<li><a href="#">FAQs</a></li>
						<li><a href="#">Cart</a>
							<div id="CartItemPreview" style="display: none;">
								<div class="block block-cart">
									<p id="FreeShippingReport">
										Spend $50 more to<br>qualify for FREE shipping!
									</p>
									<div class="block-content">
										<!-- <p class="empty">You have no items in your shopping cart.</p> -->
											<ul id="cart-sidebar" class="mini-products-list">
												<li class="item last odd">
													<p class="product-name"><a href="#">Liberty Lungo Dark</a></p>
													<a href="#" title="Liberty Lungo Dark" class="product-image"><img src="https://store-static.hilinecoffee.com/media/catalog/product/cache/1/thumbnail/50x50/9df78eab33525d08d6e5fb8d27136e95/h/i/hiline_liberty_caramel_1_1.jpg" width="50" height="50" alt="Liberty Lungo Dark"></a>
													<div class="product-details">
														<p class="ProductQuantityAndPrice">
															<strong>1</strong> x
															<span class="price">$11.99</span>
														</p>
														<a href="#" title="Edit item" class="GreyButton btn-edit">Edit</a>
														<a href="#" title="Remove item" class="GreyButton btn-remove">Remove</a>
													</div>
												</li>
											</ul><!-- //cart-sidebar -->
									</div>
								</div>
							</div><!-- //CartItemPreview -->
						</li>
					</ul>
				</div><!-- / .nav-header .nav-right -->

				<a href="javascript:void(0);" class="btn-rwd-sidebar"><i class="fa fa-bars"></i></a>

			</div>
		</div>

</header>