<header class="site-header">
	
	<!-- SITE-HEADER-TOP BEGIN  -->
	<div class="site-header-top">
			<div class="container">
				<div class="site-header-top-left clearfix">
					<p>Free Shipping on All Subscription Orders 
					 <a href="#" class="tip-popup" data-tooltip="">LEARN MORE
					 	<span class="tip-popupmain">
					 		All one time orders and all autoship orders over $50 ship free. For orders less than $50, there is a flat $5 shipping fee.
					 	</span>
					 </a> <!-- //tip-popup -->
				</div>

				<div class="site-header-top-right">
					<ul class="user-about">
						<li><a href="#" class="user">Login</a></li>
						<!-- <li><a href="#" class="cart-bag">Cart </a></li> -->
					</ul>
				</div>

			</div>
	</div>
	<!-- SITE-HEADER-MIDDLE BEGIN -->
		<div class="site-header-middle">
			<div class="container">
				
				<div class="nav-header nav-left">
					<ul>
						<li>
							<a href="#">Shop</a>
								<ul>
									<li><a href="#">Pods or keurig</a></li>
									<li><a href="#">Pods for Nespresso</a></li>
									<li><a href="#">Whole Bean Coffee</a></li>
									<li><a href="#">Ground Coffee Packs</a></li>
									<li><a href="#">Accessories</a></li>
									<li><a href="#">Gift Cards</a></li>
								</ul>
						</li>
						<li><a href="#">Subscribe</a></li>
						<li {{#is basename 'office_delivery'}} class="active" {{/is}}><a href="#">Office Delivery</a></li>
					</ul>
				</div><!-- / .nav-header .nav-left -->

				<div class="logo-header">
					<a href="#">
						<img src="images/logo.png" alt="logo-site">
					</a>
				</div><!-- / .logo-header -->

				<div class="nav-header nav-right">
					<ul>
						<li><a href="#">Our Story</a></li>
						<li><a href="#">FAQs</a></li>
						<li class="cartPrev-nav"><a href="#" class="cart-menu">Cart<span class="cart-count">(2)</span></a>
							<div id="CartItemPreview">
								<p id="FreeShippingReport">
									Spend $50 more to<br>qualify for FREE shipping!
								</p>
								<div class="block-content">
									<!-- <p class="empty">You have no items in your shopping cart.</p> -->
									<ul id="cart-sidebar" class="mini-products-list">
											<li class="item">
												<p class="product-name"><a href="#">Liberty Lungo Dark</a></p>
												<a href="#" title="Liberty Lungo Dark" class="product-image"><img src="https://store-static.hilinecoffee.com/media/catalog/product/cache/1/thumbnail/50x50/9df78eab33525d08d6e5fb8d27136e95/h/i/hiline_liberty_caramel_1_1.jpg" alt="Liberty Lungo Dark"></a>
												<div class="product-details">
													<p class="ProductQuantityAndPrice">
														<strong>1</strong> x
														<span class="price">$11.99</span>
													</p>
													<a href="#" title="Edit item" class="btn-gray">Edit</a>
													<a href="#" title="Remove item" class="btn-gray">Remove</a>
												</div>
											</li>
											<li class="item">
												<p class="product-name"><a href="#">Liberty Lungo Dark</a></p>
												<a href="#" title="Liberty Lungo Dark" class="product-image"><img src="https://store-static.hilinecoffee.com/media/catalog/product/cache/1/thumbnail/50x50/9df78eab33525d08d6e5fb8d27136e95/h/i/hiline_liberty_caramel_1_1.jpg" alt="Liberty Lungo Dark"></a>
												<div class="product-details">
													<p class="ProductQuantityAndPrice">
														<strong>1</strong> x
														<span class="price">$11.99</span>
													</p>
													<a href="#" title="Edit item" class="btn-gray">Edit</a>
													<a href="#" title="Remove item" class="btn-gray">Remove</a>
												</div>
											</li>
											<div class="summary">
												<p class="subtotal">
													Cart Subtotal:
													<strong class="price">$11.99</strong>						
												</p>
											</div>
											<div class="actions">
												<button type="button" title="Checkout" class="btn-green">Checkout</button>
											</div>
										</ul><!-- //cart-sidebar -->
								</div>
							</div><!-- //CartItemPreview -->
						</li>
					</ul>
				</div><!-- / .nav-header .nav-right -->

				<a href="javascript:void(0);" class="btn-rwd-sidebar"><i class="fa fa-bars"></i></a>

			</div>
		</div>

</header>