<footer id="footer-alt">
		<div class="footshare-bar">
			<div class="container">
				<span class="emailtext">hi@hilinecoffee.com</span>
				<div class="foot-share">
					<ul class="list-unstyled">
						<li><a href="#" class="fa fa-facebook"></a></li>
						<li><a href="#" class="fa fa-twitter"></a></li>
						<li><a href="#" class="fa fa-linkedin"></a></li>
					</ul>
				</div>
			</div>
		</div> <!-- //footshare-bar -->

		<div class="footer-alt-btm container">
			<p class="copyright">Copyright © 2015, HiLine Coffee Company</p>
			<p class="privpo">
				<a href="#">Terms & Conditions </a>
				<span>and</span>
				<a href="#">Privacy Policy.</a>
			</p>
		</div> <!-- //Footer-alt-btm -->
</footer>