{{> site-header-cart }}
<div class="site-main">
	<section class="hero-inner" style="background-image: url('images/banner_inner9.jpg')">
		<div class="container">
			<div class="hero-inner__desc colorwhite">
				<h1>Story</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->
	
	<div class="headline-text">
		<div class="container">
			<h1>The freshest roasted-to-order coffee, delivered straight to your door</h1>
		</div>
	</div><!-- //headeline-text -->
	
	<article class="article-pad bg-green">
		<div class="container">
			<figure class="img-right img-shadow">
				<img src="images/about_thumb1.jpg" alt="">
			</figure><!-- //Img-right -->
			<div class="side_desc top-space">
				<h3 class="title-mdBold">OUR MISSION</h3>
				<div class="content-text">
					<p>Fresh coffee tastes better. We offer the freshest coffee for Keurig and Nespresso machines. Why? Because you deserve it. Coffee pods in most stores were made months ago and are frequently stale. We roast right before shipping, so that you get the freshest single-serve coffee in the world.</p>
				</div>
			</div> <!-- //side_desc -->
		</div>
	</article> 

	<article class="article-pad bg-brown">
		<div class="container">
			<figure class="img-left img-shadow">
				<img src="images/about_thumb2.jpg" alt="">
			</figure><!-- //Img-right -->
			<div class="side_desc top-space">
				<h3 class="title-mdBold">MADE IN NEW YORK</h3>
				<div class="content-text">
					<p>We are a boutique New York roaster. We have served millions of cups of great coffee, and named our roasts after our favorite landmarks and neighborhoods. We have won a number of awards, but at the end, none of it matters. The only thing we care about is whether you like it.</p>
				</div>
			</div> <!-- //side_desc -->
		</div>
	</article> 

	<article class="prod-process">
		<div class="container">
			<h2>PRODUCTION PROCESS</h2>			
			<ul class="list-unstyled row">
				<li class="prod-process__item col-md-4">
					<figure><img src="images/prod_process.jpg" alt=""></figure>
					<div class="desc">
						<h5>1. Select</h5>
						<p>We select the best beans from small lot farms</p>
					</div>
				</li>
				<li class="prod-process__item col-md-4">
					<figure><img src="images/prod_process2.jpg" alt=""></figure>
					<div class="desc">
						<h5>2. Roast</h5>
						<p>We roast your coffee when you order</p>
					</div>
				</li>
				<li class="prod-process__item col-md-4">
					<figure><img src="images/prod_process3.jpg" alt=""></figure>
					<div class="desc">
						<h5>3. Pack</h5>
						<p>We pack and deliver the freshest pods in the world</p>
					</div>
				</li>
			</ul>
		</div>
	</article> <!-- //prod-process -->

	<article class="article-pad bg-green">
		<div class="container">
			<h2 class="title-centerLg">HOW WE STARTED</h2>
			<div class="content-text">
				<p>One cold New York morning, Gene realized to his wife’s horror that they were out of Nespresso pods. Without a Nespresso boutique nearby and unwilling to leave his wife uncaffeinated, Gene cut the lid off a used Nespresso pod, filled it with freshly ground premium coffee beans from his favorite roaster, and sealed it with aluminum foil. The result was extraordinary: beautiful aromatic shot, more delicious than the original. Why doesn't anyone produce fresh pods to improve the taste? HiLine was created to answer that question.</p>
			</div>
		</div>
	</article><!-- //article-pad -->
	<div class="space30"></div>

	<div class="container">
		<article class="hil-team row">
				<header class="hil-team-head">
					<h2 class="title-centerLg">HOW WE STARTED</h2>
					<div class="content-text">
						<p>HiLine Coffee is made in New York, and we are committed to producing the freshest coffee pods in environmentally friendly and recyclable packaging. Read more about how HiLine Coffee is Giving Back.</p>
					</div>
				</header>
				<div class="item-review">
					<div class="subitem-review eqHeight">
						<header class="title-reviews clearfix">
							<figure class="team-thumb"><img src="images/team/team1.jpg"></figure>
							<div class="content-title">
								<h3>Gene Kakaulin</h3>
								<span>CEO</span>
							</div>
						</header>
						<p>Gene enjoys making great coffee and experimenting with coffee makers. A certified barista, he would have been happy running a specialty café. Instead he spent most of his career on Wall Street, most recently investing in wind and solar energy companies. It took him a decade to realize that coffee is his favorite form of sustainable energy.</p>			
					</div>
				</div><!-- / .item-review -->

				<div class="item-review">
					<div class="subitem-review eqHeight">
						<header class="title-reviews clearfix">
							<figure class="team-thumb"><img src="images/team/team2.jpg"></figure>
							<div class="content-title">
								<h3>Ted Snyder</h3>
								<span>COO</span>
							</div>
						</header>
						<p>Ted is a born entrepreneur with a passion for great value and customer service. Always a bundle of natural energy, he is a decaf drinker. He's never satisfied with second best and insists that we deliver the same quality and service to our customers that he demands as a customer himself.</p>
					</div>
				</div><!-- / .item-review -->

				<div class="item-review">
					<div class="subitem-review eqHeight">
						<header class="title-reviews clearfix">
							<figure class="team-thumb"><img src="images/team/team3.jpg"></figure>
							<div class="content-title">
								<h3>Tom Pittlik</h3>
								<span>CTO</span>
							</div>
						</header>
						<p>Tom is an enthusiastic member of the Australian coffee diaspora, frequenting cafes around his home in the East Village. A computing enthusiast, Tom has built a social network for gamers with over 300,000 members.</p>
					</div>
				</div><!-- / .item-review -->

				<div class="item-review">
					<div class="subitem-review eqHeight">
						<header class="title-reviews clearfix">
							<figure class="team-thumb"><img src="images/team/team4.jpg"></figure>
							<div class="content-title">
								<h3>Emily Laats</h3>
								<span>VP eCommerce</span>
							</div>
						</header>
						<p>Emily is passionate about all things eCommerce and espresso. When she's not in the office, you can find her running around Gramercy Park. Emily's favorite coffee shops include Stumptown, Blue Bottle and Brooklyn Roasting Company.</p>
					</div>
				</div><!-- / .item-review -->

				<div class="item-review">
					<div class="subitem-review eqHeight">
						<header class="title-reviews clearfix">
							<figure class="team-thumb"><img src="images/team/team5.jpg"></figure>
							<div class="content-title">
								<h3>Julia Korosteleva</h3>
								<span>VP Marketing</span>
							</div>
						</header>
						<p>That hot, freshly brewed coffee—Julia just can’t live without. Not only does she love coffee but she’s also a guru on how to get it into your hands: she figures out what people want and then gets HiLine to develop and market that product. Joe’s is Julia’s favorite café, since she drank thousands of their espressos while studying at Columbia.</p>
					</div>
				</div><!-- / .item-review -->

				<div class="item-review">
					<div class="subitem-review eqHeight">
						<header class="title-reviews clearfix">
							<figure class="team-thumb"><img src="images/team/team6.jpg"></figure>
							<div class="content-title">
								<h3>Andrew Hetzel</h3>
								<span>Advisor</span>
							</div>
						</header>
						<p>Andrew is a restless traveler, spending 200+ days on the road each year working with coffee growers and roasters on six continents. Life long coffee aficionado, Andrew is a Coffee Quality Institute instructor, juror at Cup of Excellence competitions and board member of the Specialty Coffee Association of America.</p>
					</div>
				</div><!-- / .item-review -->
		</article><!-- //hil-team -->
		<div class="space60"></div>

		<div class="shop-btncenter">
			<h2>DRINK FRESH COFFEE</h2>
			<a href="#" class="btn btn-greenBold">SHOP NOW</a>
		</div>
	</div>
	<div class="space60"></div>

	{{> subscribe_grey }}
</div><!-- / .site-main -->