{{> site-header-cart}}

<div class="site-main">
	<div class="space60"></div>
	<div class="account-wrap container">
		
		<div class="title-center"><h2 class="title-xs-bold">Refer A Friend</h2></div>
		
		<div class="row">
			{{> aside_account }}

			<div class="content-acc col-md-9">
				<div class="inside">
					<div class="acc-refertext">
						Send your friends a coupon for $5 Off their first order and we'll send you a coupon for $5 Off too!
					</div>

					<article class="acc-referRow">
						<h4>Method 1</h4>
						<div class="content-text">
							Share this url to friends
							<span class="urlBox">http://hilinecoffee.com/12356</span>
						</div>
					</article> <!-- //acc-referRow -->

					<article class="acc-referRow">
						<h4>Method 2</h4>
						<div class="content-text">
							Enter your email and invite friends.
							<div class="acc_referForm">
								<form name="">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Your email">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Friends email. Separate it with comma for multiple email i.e. user@abc.com, jon@snow.com">
									</div>
									<div class="form-group">
										<input type="submit" name="" value="submit" class="btn btn-green">
									</div>
								</form>
							</div>
						</div>
					</article> <!-- //acc-referRow -->

				</div>
			</div> <!-- //content-acc -->
		</div>
	</div><!-- //Account wrap -->
	{{> subscribe_grey }}
</div> <!-- //Site Main -->
	
