{{> site-header-cart}}

<div class="site-main">
	<div class="space60"></div>
	<div class="account-wrap container">
		<div class="title-center"><h2 class="title-xs-bold">YOUR ACCOUNT INFO</h2></div>
		<div class="row">
			{{> aside_account }}

			<div class="content-acc col-md-9">
				<div class="inside">
					<div class="acc-infoBox">
						<div class="acc-infoBox__line">
							<div class="acc-infoBox__in eqHeight">
								<h4>0</h4>
								<span class="subtext">COFFEE SHIPPED</span>
								<a href="#" class="link-infoBox">Order History</a>
							</div>
							<div class="acc-infoBox__in eqHeight">
								<h4>$5</h4>
								<span class="subtext">REWARD POINT</span>
								<p class="share-reward">Share this: <span class="text-box">http://hillinecofee.com</span></p>
							</div>
						</div>
					</div> <!-- //acc-infoBox -->

					<div class="acc-row">
						<div class="acc-row__head">
							<p class="acc-row__label">Name<small>Aat the ant man</small></p>
							<a href="#" class="acc-row__edit"><span>Edit</span></a>
						</div>

						<div class="cc-row__form">
							<form name="">
								<div class="form-group">
									<input type="text" class="form-control" name="" placeholder="Name">
								</div>
								<div class="form-group">
									<input type="submit" name="" value="submit" class="btn btn-green">
								</div>
							</form>
						</div>
					</div> <!-- //acc-row -->

					<div class="acc-row">
						<div class="acc-row__head">
							<p class="acc-row__label">Email<small>aat@antman.com</small></p>
							<a href="#" class="acc-row__edit"><span>Edit</span></a>
						</div>

						<div class="cc-row__form">
							<form name="">
								<div class="form-group">
									<input type="email" class="form-control" name="" placeholder="Email">
								</div>
								<div class="form-group">
									<input type="submit" name="" value="submit" class="btn btn-green">
								</div>
							</form>
						</div>
					</div> <!-- //<div class="acc-row"> -->

					<div class="acc-row">
						<div class="acc-row__head">
							<p class="acc-row__label">Password<small>Last Changed: 3 months ago</small></p>
							<a href="#" class="acc-row__edit"><span>Edit</span></a>
						</div>

						<div class="cc-row__form">
							<form name="">
								<div class="form-group">
									<input type="password" class="form-control" name="" placeholder="Current Password">
								</div>
								<div class="form-group">
									<input type="password" class="form-control" name="" placeholder="New Password">
								</div>
								<div class="form-group">
									<input type="password" class="form-control" name="" placeholder="Retype New Password">
								</div>
								<div class="form-group">
									<input type="submit" name="" value="submit" class="btn btn-green">
								</div>
							</form>
						</div>
					</div> <!-- //<div class="acc-row"> -->
				</div>
			</div> <!-- //content-acc -->
		</div>
	</div> <!-- //account-wrap  -->
	{{> subscribe_grey }}
</div> <!-- //Site Main -->
	
