{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner10.jpg')">
		<div class="container">
			<div class="hero-inner__desc colorwhite">
				<h1>aeropress coffee</h1>
			</div>
		</div>
	</section><!-- / .hero-inner -->

	<div class="container">
		<article class="satisfa-splash reset-splash">
			<h2 class="title-centerline">making perfect coffee with aeropress</h2>
		</article>
	</div><!-- / .container -->

	<div class="satisfac reset-satisfac-top">
		<div class="container">
			<div class="row">
				
				<div class="satisfac__desc col-sm-12">
					<h2>The AeroPress - Alternative Coffee Brewing Options</h2>
					<div class="content-text">Not quite satisfied with your French press? Want something that makes just a single cup of coffee at a time, but gives you complete control over the process? Want a brewing option that gives you the control of a French press, but not the four to six minute brewing time? If so, an AeroPress might be the right option for you. This innovative system is similar to a French press, at least superficially, but it offers a far shorter brewing period (and there are other significant differences as well). While an AeroPress will not be the right choice for many coffee lovers, it can be beneficial for some. Here’s what you should know.</div>

					<div class="space45"></div>
					<h2>What is an AeroPress?</h2>
					<div class="content-text">Where high-end French presses are made from glass and metal, the AeroPress is made completely from plastic, although the exact polymer chosen was selected because it didn’t add any plastic-y taste to the finished brew. Essentially, it works on the same principles as a syringe, and is really designed to give you an espresso-strength cup of coffee, rather than filter strength. With that being said, the majority of users prefer filter strength to espresso strength in most instances, so that’s become the norm in terms of overall usage.</div>
					<div class="space20"></div>
					<div class="video-wrapper video-maxwidth">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/1I1sE-OJQA4" frameborder="0" allowfullscreen></iframe>
					</div><!-- / .video-wrapper -->
					<div class="space60"></div>

					<div class="tab-container">
						<ul class="nav nav-tabs nav-hiline" role="tablist" style="font-size: 16px !important;">
							<li role="presentation" class="active">
								<a href="#tab1" aria-controls="part" role="tab" data-toggle="tab">Part of AeroPress</a>
							</li>
							<li role="presentation">
								<a href="#tab2" aria-controls="how" role="tab" data-toggle="tab">How Does it Work?</a>
							</li>
							<li role="presentation">
								<a href="#tab3" aria-controls="Coffee Grinds" role="tab" data-toggle="tab">Coffee Grinds</a>
							</li>
							<li role="presentation">
								<a href="#tab4" aria-controls="pros" role="tab" data-toggle="tab">Pros of the AeroPress</a>
							</li>
							<li role="presentation">
								<a href="#tab5" aria-controls="cons" role="tab" data-toggle="tab">Cons of the AeroPress</a>
							</li>
						</ul><!-- / .nav-hiline -->

						<div class="tab-content">
							
							<div role="tabpanel" class="tab-pane active" id="tab1">
								<div class="content-text">
									Like a French press, the AeroPress has only a few basic parts. There’s the larger, outer cylinder, and a smaller inner cylinder equipped with a rubber plunger. You also have a funnel, as well as a few accessories to help make using the press simpler (a leveler, a scoop for grounds, and paper filters). Filters are attached to the bottom of the large, outer cylinder with a screw cap to hold them in place.
								</div>
							</div><!-- / .tab-pane -->

							<div role="tabpanel" class="tab-pane" id="tab2">
								<div class="content-text">
									You’ll find that the AeroPress works a lot like a French press. In fact, it’s the same concept to an extent, except that you’re passing water through the coffee grounds, rather than letting them steep. One of the most significant advantages to the AeroPress is that it requires only about 30 seconds of brewing time, in comparison to the four to six minutes required for a French press. That means it requires a good deal less time to get your cup of coffee. It’s also very small, light and compact, which means it’s a great option for travel.
								</div>
								<div class="content-text">To use the press, you’ll need to screw the end cap with a fresh filter onto the end of the larger cylinder. Next, add your coffee to the cylinder. You want at least 14 grams, but a stronger cup will require 20 grams of grounds. Next, add your water. It must be between 170 and 190 degrees. Stir the water and grounds for 10 to 30 seconds depending on your desired strength, and then insert the inner cylinder with the rubber plunger facing down. Hold the press over your cup (it’s best to actually rest the press on the rim of the cup), and press the plunger down. Hot coffee fills the cup.</div>
							</div><!-- / .tab-pane -->

							<div role="tabpanel" class="tab-pane" id="tab3">
								<div class="content-text">
									Unlike a French press, which needs a coarser grind than drip coffee makers, an AeroPress can use very fine grinds thanks to the paper filter. Because the filter is made of paper and not wire mesh, it can stop very fine coffee grounds from spilling out into your cup of coffee. The finer the grind, the stronger your coffee will be (modified by steeping time, of course).
								</div>
							</div><!-- / .tab-pane -->

							<div role="tabpanel" class="tab-pane" id="tab4">
								<div class="content-text">
									There’s a lot to love about the AeroPress, particularly in comparison to its bulkier cousin the French press.
								</div>
								<ul class="list-circle">
									<li>
										<p>It’s lightweight and easy to clean</p>
									</li>
									<li>
										<p>It’s ideal for traveling, particularly if you’ll be staying somewhere that lacks decent coffee-making facilities</p>
									</li>
									<li>
										<p>It’s faster than the French press while still giving you complete control over the entire process</p>
									</li>
									<li>
										<p>You can create a cup of coffee with roughly the same strength as espresso</p>
									</li>
									<li>
										<p>Coffee brewed in this way is less acidic than what comes from drip coffee makers</p>
									</li>
									<li>
										<p>You can use a finer grind of coffee than what’s possible with a French press</p>
									</li>
									<li>
										<p>There’s very little sediment thanks to the paper filter</p>
									</li>
									<li>
										<p>Less time spent in brewing means less bitterness in your coffee (that might not be a good thing, depending on your preferences)</p>
									</li>
									<li>
										<p>There are alternatives to paper filters – but they’re not available from the AeroPress manufacturer, and do not come with the press out of the box</p>
									</li>
								</ul>
							</div><!-- / .tab-pane -->

							<div role="tabpanel" class="tab-pane" id="tab5">
								<div class="content-text">
									While there are a lot of perks to this little press, there are some drawbacks that might make you think twice before buying one. These include:
								</div>
								<ul class="list-circle">
									<li>
										<p>It’s made of plastic, and can be damaged pretty easily if you’re not careful (a drop from counter height can crack or break either cylinder)</p>
									</li>
									<li>
										<p>It’s more labor intensive than using a pod or cup-based system</p>
									</li>
									<li>
										<p>It requires that you heat (and monitor) your own water</p>
									</li>
									<li>
										<p>Some people find they need to dilute the brewed coffee to bring down its strength (for non-espresso lovers)</p>
									</li>
									<li>
										<p>Like pod and cup-based systems, you can only brew a single cup at a time. However, unlike those systems, you have to clean the press between cups (particularly if you’re using two different types of coffee)</p>
									</li>
									<li>
										<p>Paper filters can be messy, and do require disposal. They can also shift out of place if not wetted before use, which allows grounds to pass through into your finished cup</p>
									</li>
								</ul>
							</div><!-- / .tab-pane -->

						</div><!-- / .tab-content -->

					</div><!-- / .tab-container -->

					<div class="satisfac__panel">
						<div class="content-text">If you prefer the aeropress coffee maker, then look no further than HiLine Coffee. Our wide variety of coffee pods and packs can be used with aeropress so that you enjoy thw multitude of benefits of using the equipment.
						</div>
					</div><!-- / .satisfac__panel -->

				</div><!-- / .satisfac__desc -->
 
			</div>

			<div class="clearfix"></div>
			<div class="space45"></div>
			<div class="space15"></div>
		</div><!-- / .container -->
	</div><!-- / .satisfac -->
 
	{{> subscribe_grey }}
</div>
