{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner5.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>ALternative To k cups coffee</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<h2 class="title-centerline">THE RICH COFFEE YOU LOVE FROM HILINE, NOW AVAILABLE IN K-CUP PACKS</h2>
		
		<article class="article-full">
				<figure class="alignnone"><img src="images/kcups_coffee.jpg"></figure><div class="space20"></div>
				<div class="text-center"><a href="#" class="btn btn-green">Shop</a></div>
				<div class="space45"></div>
				
				<div class="content-text"><p>Hi there, we’re Gene and Ted the founders of HiLine Coffee Company. Our story goes back over fifteen years when we met as undergrads at the University of Pennsylvania. We love Keurig k-cups coffee and New York City and we created HiLine Coffee Company to share our three passions with you. It wasn’t always this way. Our love for coffee goes back to a long time ago before you could make K-Cups coffee with the easy press of a button on your Keurig machine. We developed our passion for coffee together as undergrads enjoying the rich cafes around our University and then our coffee tastes evolved as we traveled the world and later moved to New York City. Our interest in coffee culminated when we founded HiLine Coffee to deliver delicious coffee and great value. We wanted to share with our friends and customers the same amazing coffee we had experienced at home and in our travels at a fair price.</p>
				<p>
					To accomplish this we partnered with small roasters to select the finest beans, roast them carefully, grind them to perfection and pack them into kcup pods compatible with Keurig machines. Because we’re a small nimble company without a big marketing budget or celebrity endorsements we can focus all of our resources on what’s important to us and you – Great tasting coffee. The result is excellent tasting coffee in each of our Keurig compatible k-cup pods. At HiLine Coffee we believe in choice, high quality and great value for our customers. Coffee isn’t just a business for us, it’s a passion and an endless pursuit of perfection. We’re so convinced you will love our K-cups coffee alternative that we offer a 100% guarantee. If you don’t love it just send it back on us and we’ll give you a full refund. Plus when you buy $50.00 or more of coffee we’ll even ship it to you for free.
				</p><div>
		</article>
		
		<div class="article-full">
			<div class="content-text">
				<p>We hope you love HiLine Coffee as much as we do. If you like K-cup coffee we think you’ll be delighted with the fun and delicious blends that we offer here at HiLine Coffee Company. Each of our blends is named after one of our favorite New York City neighborhoods to share with you our love for the place we call home and to create a café quality cup of coffee for you in your own home. We hope you’ll give our Keurig compatible k-cups a try and let us know what you think!</p>
			</div>
		</div>
		<div class="space20"></div>

		<div id="timeline" class="timelineSc">
			<figure class="thumb-sm"><img src="images/timeline_sm.png" alt=""></figure>
			<div class="space45"></div>
			<figure id="thumbLg" class="thumb-lg">
				<img src="images/timeline.jpg" alt="">
			</figure>
			<div class="timelineSc-btn toggleTimeline"><a href="#"><span>EXPAND INFOGRAPHIC</span></a></div>
		</div> <!-- TimelineSC -->
		<div class="space45"></div>

		<div class="article-full">
			<div class="content-text">
				<p>We hope you love HiLine Coffee as much as we do. If you like K-cup coffee we think you’ll be delighted with the fun and delicious blends that we offer here at HiLine Coffee Company. Each of our blends is named after one of our favorite New York City neighborhoods to share with you our love for the place we call home and to create a café quality cup of coffee for you in your own home. We hope you’ll give our Keurig compatible k-cups a try and let us know what you think!</p>
			</div>
			<div class="space20"></div>
			<div class="video-wrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/k8UvKghBFn0" frameborder="0" allowfullscreen></iframe>
            </div><!-- / .video-wrapper -->
		</div>
		<div class="space45"></div>

		<div class="satisfac__panelGrey">
			<div class="content-text"><p>If you want to access to a coffee k-cup, HiLine Coffee is your go-to place for great tasting coffee in coffee k-cup pods. Our coffee beans are roasted and ground to perfection and packed in k-cup pods to give you a perfect blend of taste and great value.</p></div>
		</div><!-- / .satisfac__panel -->
		<div class="space45"></div>
	</div><!-- / .container -->
	{{> subscribe_grey }}
</div><!-- / .site-main -->