{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner5.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>freshly roasted beans</h1>
			</div>
		</div>
	</section><!-- / .hero-inner -->

	<div class="container">
		<article class="satisfa-splash reset-splash">
			<h2 class="title-centerline">alternative to green mountain coffee</h2>
		</article>
	</div><!-- / .container -->

	<div class="satisfac reset-satisfac-top">
		<div class="container">
			<div class="row">
				
				<div class="satisfac__desc col-sm-12">
					<h2>Who is Green Mountain Coffee Roasters?</h2>
					<div class="content-text">Green Mountain Coffee used to be a small Vermont roaster. It got its start in 1981, and like many other such regional roasters, it sold roasted coffee beans mostly wholesale to local restaurants, stores and cafes. Our friends who lived in New England in the 1990s, remember Green Mountain dearly. The company outgrew its niche market after a very clever strategic decision about a decade ago. In the mid 2000s, the folks at Green Mountain Coffee partnered with a Boston based technology start-up named Keurig. Keurig was working on the idea for a single serve coffee maker and needed a partner with strong coffee expertise. That was a perfect marriage. Over time the relationship developed so well that Green Mountain Coffee became the most successful roaster in the U.S., merged with Keurig and went public to become Keurig Green Mountain Coffee Roasters (Nasdaq: GMCR).</div>

					<div class="space45"></div>
					<h2>Why Was the Partnership So Successful?</h2>
					<div class="content-text">The combined company has done three things extremely well. One, its k-cup technology allowed consumers to prepare a cup of coffee in less than a minute. No longer did we need to settle for pot coffee prepared in the morning. Bitter unpleasant acidity of pot coffee was replaced by Keurig's generally nice coffee. Two, the sealing technology employed by the company preserved the quality of the ground coffee much better than large 1 lb bags, hence guaranteeing that the quality of coffee would improve over what most consumers used to drink. Lastly, the company partnered up with a number of well known coffee players like Starbucks, Folgers, Dunkin Donuts, etc. to provide consumers with a wide selection of k-cups. Never before did consumers have so many coffee choices available in such convenient setting.</div>
					
					<div class="space45"></div>
					<h2>What is HiLine’s Offering?</h2>
					<div class="content-text">We are fans of what GMCR has done for consumers and for the coffee industry. But ignorance is bliss. Through our own education in the world of coffee, hanging out in many leading New York third wave cafes, we lost our unconditional love for most k-cups. Some of our friends had the same experience. It's hard to go back to mediocre quality once you have been introduced to something much better. HiLine was founded with the goal of solving that frustration for ourselves and our friends. We aim to provide only the highest quality specialty coffees in single-serve format. We also want to provide the freshest roasted coffee for Keurig machines, because the freshness of the roast is the most important factor in coffee quality.</div>

					<div class="space15"></div>
					<div class="alignnone">
						<img src="images/alternative-to-green.jpg">
					</div>

					<div class="space45"></div>
					<h2>Why Give HiLine a Chance?</h2>
					<ul class="list-circle">
						<li>
							<p>We are a small specialty roaster focused on the most delicious specialty coffees.</p>
						</li>
						<li>
							<p>Our beans are freshly roasted. We put the "roasted on date" on all of our packaging. The fresher -- the tastier.</p>
						</li>
						<li>
							<p>It's free to try us and by buying online from HiLine you will save as much as 40% compared to other premium k-cups!</p>
						</li>
					</ul>

					<div class="space45"></div>
					<h2>What's the Future of Coffee?</h2>
					<div class="content-text">When we talk to people who work at Keurig, they tell us that most consumers are not interested in higher quality coffees that we are offering. At the same time, our friends at Blue Bottle, Stumptown, Counter Culture and other third wave coffee chains, give us similar criticism. They say that people who are interested in high quality coffees are not interested in Keurig. While it's true for some coffee drinkers, it's not true for all of us. Just like us, there are a lot of coffee drinkers with developed taste buds who appreciate the convenience of Keurig machines while loving the highest quality coffees available. That's who we are and that's who we serve. We believe there is nothing inconsistent about using a single-serve machine in the morning and going to the best local specialty cafe in the afternoon. We do that ourselves. And we think at least a few other folks will share in our passion. It is an uphill battle though, which is why we wanted to share the video below that summarizes nicely how we feel about our business.</div>

					<div class="space20"></div>
					<div class="video-wrapper video-maxwidth">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/1I1sE-OJQA4" frameborder="0" allowfullscreen></iframe>
					</div><!-- / .video-wrapper -->
					<div class="space60"></div>

				</div><!-- / .satisfac__desc -->

			</div>

			<div class="clearfix"></div>
			<div class="space45"></div>
			<div class="space15"></div>
		</div><!-- / .container -->
	</div><!-- / .satisfac -->
 
	{{> subscribe_grey }}
</div>
