{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner5.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>ROASTED-TO-ORDER COFFEE</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<h2 class="title-centerline">ALTERNATIVE TO KEURIG K CUPS</h2>
		<div class="satisfac__desc">
			<article>
				<h2 class="title-article">Delicious Coffee. Great Value.</h2>
				<div class="content-text"><p>We’re Gene and Ted, two coffee loving best friends who founded HiLine Coffee Company to bring you what we think is some of the world’s finest coffee at a great value. After meeting in college, we developed a passion for delicious coffee as we sampled premium coffees both in local coffeehouses and at fine cafes around the world. At HiLine Coffee, we love great coffee, Keurig machines and <a href="#" class="link-inline">New York City</a>. We’re committed to delivering exceptional tasting coffee at a fair price, and we wanted to share all three of our passions with you. That’s why we developed our own alternative to Keurig K cups. We love the convenience of Keurig machines and being able to brew an outstanding cup of coffee using a convenient single serve system. While there are already a lot of choices for people who love Keurig Coffee, we thought we could improve upon them and bring you the taste and quality of some of our favorite <a href="#" class="link-inline">New York City cafes</a> in your morning cup of coffee.<div>
			</article>
			<div class="space40"></div>
			<article>
				<h2 class="title-article">Our Commitment</h2>
				<div class="content-text"><p>To deliver on our commitment to quality we work with small specialty coffee roasters to produce a premium alternative to K-cups. Each of our HiLine premium Keurig compatible cups begins around the world in diverse coffee growing lands. There, we source some of the finest beans that will soon become the coffee we all enjoy. We roast all of our beans using meticulous artisan techniques and produce all of our coffee in small batches. Then we carefully grind the coffee beans packing them immediately into our K-cups alternatives compatible with your Keurig machine. The result is a rich full-bodied cup of coffee with just the right flavor profile for you to enjoy at home with the push of a button on your Keurig machine. And naturally because we’re New Yorkers each of the HiLine coffee blends comes with an enjoyable New York theme. As a result of our partnerships with roasters we’re able to increase the variety of K cups alternatives available to our customers and improve upon the freshness and quality. By selling directly to our customers we can provide a superior level of quality, value and convenience to lovers of K-cups and Keurig coffee machines.</p>
					<figure class="alignnone">
							<img src="images/alternativekeurig.jpg">
					</figure>
				</div>
			</article>
			<div class="space40"></div>
			<article>
				<h2 class="title-article">How K Cups Work</h2>
				<div class="content-text"><p>Keurig machines were made to brew either a single cup of coffee, hot chocolate or tea and they are packed in a single serving portion pack called a K-Cup. They work to brew coffee by puncturing the foil on top pf the K-Cup pack with a spray nozzle, while piercing the bottom with a discharge nozzle. Hot water is forced through the K-Cup pack passing through the grounds contained in a paper filter with a temperature of 192 degrees. The original patents expired in 2012 opening up the market to new entrants like HiLine Coffee. We hope you enjoyed this brief overview and that you will love using our HiLine Coffee in your Keurig machine.</p></div>
				<div class="video-wrapper">
                    <iframe width="500" height="290" src="http://www.youtube.com/embed/3Rxuu_4XpEM"
                    frameborder="0" allowfullscreen></iframe>
                </div>
			</article>
			
			<div class="content-text">Here are five great reasons to enjoy Keurig Coffee Pods alternatives from HiLine Coffee:
				<ul class="list-circle">
					<li>
						<p>We offer excellent tasting coffee in every cup. All of our blends have been meticulously crafted by coffee connoisseurs. We use only the finest coffee beans from around the world, carefully roast them to perfection,  then grind and package them immediately to ensure a rich satisfying coffee experience. Produced in small  batches, each batch is tested for taste, aroma, color.</p>
					</li>
					<li>
						<p>HiLine coffee costs less than other brands and offers an exciting alternative to your familiar old Keurig Green <a href="#" class="link-inline">Mountain coffee</a> pods.</p>
					</li>
					<li>
						<p>Shipping is only $5.00 and when you order $50.00 or more from us you’ll get the additional savings of free shipping.</p>
					</li>
					<li>
						<p>Enjoyment guaranteed or your money back. If you don’t love HiLine coffee as much as we do, just let us know. We will send you a prepaid return shipping label and refund your full purchase price and any shipping charges you paid.</p>
					</li>
					<li>
						<p>We are a locally owned small business based in New York City, not a big foreign multi-billion dollar conglomerate. We care about great coffee, great value and supporting our local community. We’re committed to selling the best tasting coffee at an honest price and providing great personal service.</p>
					</li>
				</ul>
			</div>

			<div class="space15"></div>

			<div class="content-text">
				Please check out our <a href="#" class="link-inline">Review of Keurig 2.0 Coffee Brewer</a>
			</div>
			<div class="video-wrapper">
				<iframe width="1140" height="600" src="http://www.youtube.com/embed/3Rxuu_4XpEM" frameborder="0" allowfullscreen></iframe>
			</div><!-- / .video-wrapper -->
		</div><!-- / .satisfac__desc -->
		<div class="space45"></div>
	</div><!-- / .container -->
</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->