{{> site-header-cart }}
<div class="site-main">
	<section class="hero-inner" style="background-image: url('images/banner_inner7.jpg')">
		<div class="container">
			<div class="hero-inner__desc colorwhite">
				<h1>Freshly roasted coffee</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->
	
	<div class="container">
		<h2 class="title-centerline">ALTERNATIVE TO KEURIG K CUPS</h2>

		<div class="article-full">
			<h3 class="title-xs-normal">Why Make Compatible Pods for Nespresso?</h3>
			<div class="content-text">
				<p>In our quest to find rich bold and intriguing flavors that have not yet been packed in Nespresso pods, we discovered amazing coffees from Costa Rica, Guatemala, Columbia, Brazil and countries throughout Africa. The result was the development of our masterpiece blends, roasted to perfection, carefully ground and packed in capsules compatible with Nespresso machines. Our pods work just as easily as the Nespresso coffee pods, yet provide a new flavor experience for the palate with a range between sweetness and coffee kick to sharp and fragrant. We take pride in each pod and are delighted by the rich thick and dense full bodies espresso they create. Once you try them you will certainly be back for more!</p>
			</div>
		</div><!-- article-full --> 
		<div class="space20"></div>
		
		<div class="article-full">
			<figure class="img-right"><img src="images/nespreso_capsule.jpg"></figure>
			<h3 class="title-article">Why Make Compatible Pods for Nespresso?</h3>
			<div class="content-text">
				<p>So what are our favorite Nespresso pods? We like most Nespresso capsules and have particular affinity for Ristretto, Rosabaya and Dulsao. We feel that they are truly spectacular blends that make us happy whenever we have them. They are a work of art, and when we attempted to develop our blends we strove to improve on these three in any way we could. Unlike buying from Nespresso, you can become our customers without joining Nespresso Club, just come to our store and buy as much as you want.</p>
			</div>
		</div><!-- article-full --> 
		<div class="space20"></div>

		<div class="article-full row">
			<div class="col-md-6 pull-right">
				<h3 class="title-article">What is Intensity?</h3>
				<div class="content-text">
					<p>Something must be said about Nespresso’s use of numbers to classify its coffees. The intensity number (usually from 1 to 10) is an innovation and a shortcut developed by Nespresso to simplify the consumer shopping experience. What it stands for is how roasted, full-bodied and bitter the coffee is. The higher the intensity, the more roasted the coffee, and consequently the more bitter and "full-bodied" it tastes.</p>
				</div>
			</div>
			<div class="video-wrapper col-md-6">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/xiBaSg3txiQ" frameborder="0" allowfullscreen></iframe>
			</div><!-- / .video-wrapper -->
		</div><!-- article-full --> 
		<div class="space45"></div>

		<div class="article-full">
			<h3 class="title-article">Our Aspiration to Make a Perfect Pod</h3>
			<div class="content-text">
				<p>What we have attempted to accomplish with our hit parade of coffee blends was a variety that dwindles that of any <a href="#" class="link-inline">coffeehouse</a>, while providing the convenience that even <a href="#" class="link-inline">Starbucks</a> can't match!  The Nespresso pods already make a superior job producing espresso shots than most other single-serve coffee machine; we just wanted to improve the consumer experience.</p>
			</div>
		</div><!-- article-full --> 
		<div class="space30"></div>

		<div class="btn-wrapcenter">
			<a href="#" class="btn btn-green">VIEW OUR BLEND GUIDE</a><span>or</span>
			<a href="#" class="btn btn-green">SHOP COFFEE</a>
		</div>
		<div class="space60"></div>
	</div>
	{{> subscribe_grey }}
</div><!-- / .site-main -->