{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner5.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>Freshly roasted coffee</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<h2 class="title-centerline">alternative to keurig coffee pods</h2>
		<div class="satisfac__desc">
			<h2>Do You Love Your Keurig Coffee Machine?</h2>
			<div class="content-text">If you love coffee, K cups and Keurig coffee pods you have come to the right place. We’re Gene and Ted, the founders of HiLine Coffee, and we have developed a premium alternative to Keurig Coffee pods that will work with your Keurig machine and that we’re convinced you’ll love. We love coffee, Keurig coffee pods and our hometown <a href="#" class="link-inline">New York City</a>. Our passion for coffee goes back almost fifteen years, when as friends and undergraduates at the <a href="#" class="link-inline">University of Pennsylvania</a> we discovered our first great coffee at a local Philadelphia coffee house. As our friendship grew, so did our love for coffee. Our tastes and preferences became even more refined after we both moved to New York City to pursue fast track finance jobs and we had an opportunity to sample rich coffees in New York, and in our travels which took us around the world.</div>

			<div class="space60"></div>

			<h2>Delicious Coffee. Great Value!</h2>
			<div class="content-text">We founded HiLine Coffee with a mission to give consumers more choice and variety and to deliver delicious coffee and great value. To accomplish that mission we’re very excited about our line of Keurig Coffee Pods alternatives. They work in your Keurig machine and represent <a href="#" class="link-inline">Keurig k cups cheap alternative</a>, except they are our own brand filled with premium beans and complete with a fun whimsical New York theme. In fact we named each of our blends after our favorite New York City neighborhoods and icons to give you a fun New York City café experience at home and in every cup. Our premium K Cups alternative are less expensive than many Keurig coffee pods on the market, and we think our quality is second to none. Of course we want you to be the judge of that yourself! We’re so thrilled you found us and we’re excited to share a cup of coffee with you.</div>

			<figure class="alignnone">
				<img src="images/alternativekeurig.jpg">
			</figure>

			<div class="content-text">Here are five great reasons to enjoy Keurig Coffee Pods alternatives from HiLine Coffee:
				<ul class="list-circle">
					<li>
						<p>We offer excellent tasting coffee in every cup. All of our blends have been meticulously crafted by coffee connoisseurs. We use only the finest coffee beans from around the world, carefully roast them to perfection,  then grind and package them immediately to ensure a rich satisfying coffee experience. Produced in small  batches, each batch is tested for taste, aroma, color.</p>
					</li>
					<li>
						<p>HiLine coffee costs less than other brands and offers an exciting alternative to your familiar old Keurig Green <a href="#" class="link-inline">Mountain coffee</a> pods.</p>
					</li>
					<li>
						<p>Shipping is only $5.00 and when you order $50.00 or more from us you’ll get the additional savings of free shipping.</p>
					</li>
					<li>
						<p>Enjoyment guaranteed or your money back. If you don’t love HiLine coffee as much as we do, just let us know. We will send you a prepaid return shipping label and refund your full purchase price and any shipping charges you paid.</p>
					</li>
					<li>
						<p>We are a locally owned small business based in New York City, not a big foreign multi-billion dollar conglomerate. We care about great coffee, great value and supporting our local community. We’re committed to selling the best tasting coffee at an honest price and providing great personal service.</p>
					</li>
				</ul>
			</div>

			<div class="space15"></div>

			<div class="content-text">
				Please check out our <a href="#" class="link-inline">Review of Keurig 2.0 Coffee Brewer</a>
			</div>
			<div class="video-wrapper">
				<iframe width="1140" height="600" src="http://www.youtube.com/embed/3Rxuu_4XpEM" frameborder="0" allowfullscreen></iframe>
			</div><!-- / .video-wrapper -->
		</div><!-- / .satisfac__desc -->
		<div class="space45"></div>
	</div><!-- / .container -->
</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->