{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner6.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>fresh coffee for less.</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<h2 class="title-centerline">alternative to blue bottle coffee</h2>

		<div class="row">
			
			<div class="satisfac__desc col-sm-12">
				<h2 class="title-article">who is Hiline Coffee?</h2>
				<div class="content-text">We love coffee! And we love saving money! Several years ago Gene realized that his mornings became a pleasant routine revolving around making cappuccino for his wife and himself. He would fire up his favorite La Spaziale Mini Vivaldi machine and the mornings would fly by. In the process, coffee beans would run out way too quickly. When he looked through receipts, Gene recognized that he was going through 3-4 lbs of <a href="#" class="link-inline">Blue Bottle Coffee</a> beans every month. He looked into buying similar quality beans online to save time and money but realized that there are no high quality roasters that provided premium freshly roasted beans at a good price. Virtually every roaster would have the same pricing! In fact most online offerings, like subscription clubs, were more expensive and provided inferior product. That’s why when we founded HiLine, we wanted to build our business in a way that allowed us to sell the best coffee rated at least 90+ points by <a href="#" class="link-inline">Coffee Review</a> for less than $10 a bag. We manage it by roasting the coffee right when you order and sending it directly to you. Because we don’t have expensive cafes, boutiques or retail distribution, we can maintain our costs significantly lower than any competitor. The result is the freshest, highest quality coffee beans from our roaster to your home.</div>
				<div class="space60"></div>

				<h2 class="title-article">Alternative Cafe Inspired by Blue Bottle</h2>
				<div class="content-text">Our first best cappuccino experience was in San Francisco. At the time, James Freeman was starting Blue Bottle by humbly selling his artisan coffee from a small Blue Bottle coffee cart at Ferry Terminal Farmers Market. The cart was unpretentious, but the latte drinks blew you away. The cappuccino was brewed with freshly roasted beans combined with beautiful micro foam from local organic milk. The Blue Bottle coffee crew can really fix a beautiful cappuccino. You tried it, and you were in heaven. What was different about this cart and many cafes that followed was that it focused on coffee quality not on creating a nice cozy environment like Starbucks or other coffee chains. The Blue Bottle café experience to us means high quality coffee. Unfortunately, it also means long lines and limited sitting areas. Luckily online, we don’t have these problems!</div>
				
				<figure class="alignnone">
					<img src="images/bluebottle.jpg">
				</figure>
				<div class="space60"></div>

				<h2 class="title-article">Who Has the Time</h2>
				<div class="content-text">Starting a business for us meant that every new day became busier than the last. Our entrepreneur friends and customers, many of whom say <a href="#" class="link-inline">great things about us</a>, have the same problem – they don’t have as much time anymore to go to a Blue Bottle Coffee shop or any other café, while they still need their delicious coffee fix. We want to be able to drink coffee at home or in the office, sometimes using a <a href="#" class="link-inline">French Press</a> or <a href="#" class="link-inline">AeroPress</a> or a <a href="#" class="link-inline">Keurig</a>. So HiLine has developed premium roasted-to-order coffee products for most popular brewers, and we hope you will give us a try. If you do, we are 100% confident, you will love your coffee and will save a lot of time and money!</div>

				<div class="video-wrapper video-maxwidth">
					<iframe width="650" height="450" src="http://www.youtube.com/embed/3Rxuu_4XpEM" frameborder="0" allowfullscreen></iframe>
				</div><!-- / .video-wrapper -->
				<div class="space60"></div>

			</div><!-- / .satisfac__desc -->

			<div class="clearfix"></div>
			<div class="satisfac__panel">
				<div class="content-text">Blue bottle coffee experience meets convenience through HiLine Coffee. There is no need for you to spend hours waiting in long lines of a blue bottle café to satisfy your craving when you can order online from us.</div>
			</div><!-- / .satisfac__panel -->

		</div><!-- / .row -->

		<div class="clearfix"></div>
		<div class="space45"></div>
		<div class="space15"></div>
	</div><!-- / .container -->
</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->