{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner5.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>Roasted To order Coffee</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<h2 class="title-centerline">ALTERNATIVE TO KEURIG K CUPS</h2>

		<div class="satisfac__desc">
			<article>
				<h2 class="title-article">Delicious Coffee. Great Value.</h2>
				<div class="content-text"><p>We’re Gene and Ted, two coffee loving best friends who founded HiLine Coffee Company to bring you what we think is some of the world’s finest coffee at a great value. After meeting in college, we developed a passion for delicious coffee as we sampled premium coffees both in local coffeehouses and at fine cafes around the world. At HiLine Coffee, we love great coffee, Keurig machines and <a href="#" class="link-inline">New York City</a>. We’re committed to delivering exceptional tasting coffee at a fair price, and we wanted to share all three of our passions with you. That’s why we developed our own alternative to Keurig K cups. We love the convenience of Keurig machines and being able to brew an outstanding cup of coffee using a convenient single serve system. While there are already a lot of choices for people who love Keurig Coffee, we thought we could improve upon them and bring you the taste and quality of some of our favorite <a href="#" class="link-inline">New York City cafes</a> in your morning cup of coffee.<div>
			</article>
			<div class="space40"></div>

			<article>
				<h2 class="title-article">Our Commitment</h2>
				<div class="content-text"><p>To deliver on our commitment to quality we work with small specialty coffee roasters to produce a premium alternative to K-cups. Each of our HiLine premium Keurig compatible cups begins around the world in diverse coffee growing lands. There, we source some of the finest beans that will soon become the coffee we all enjoy. We roast all of our beans using meticulous artisan techniques and produce all of our coffee in small batches. Then we carefully grind the coffee beans packing them immediately into our K-cups alternatives compatible with your Keurig machine. The result is a rich full-bodied cup of coffee with just the right flavor profile for you to enjoy at home with the push of a button on your Keurig machine. And naturally because we’re New Yorkers each of the HiLine coffee blends comes with an enjoyable New York theme. As a result of our partnerships with roasters we’re able to increase the variety of K cups alternatives available to our customers and improve upon the freshness and quality. By selling directly to our customers we can provide a superior level of quality, value and convenience to lovers of K-cups and Keurig coffee machines.</p>
					<figure class="alignnone">
							<img src="images/alternativekeurig_v2.jpg">
					</figure>
				</div>
			</article>
			<div class="space40"></div>

			<article>
				<h2 class="title-article">How K Cups Work</h2>
				<div class="content-text"><p>Keurig machines were made to brew either a single cup of coffee, hot chocolate or tea and they are packed in a single serving portion pack called a K-Cup. They work to brew coffee by puncturing the foil on top pf the K-Cup pack with a spray nozzle, while piercing the bottom with a discharge nozzle. Hot water is forced through the K-Cup pack passing through the grounds contained in a paper filter with a temperature of 192 degrees. The original patents expired in 2012 opening up the market to new entrants like HiLine Coffee. We hope you enjoyed this brief overview and that you will love using our HiLine Coffee in your Keurig machine.</p></div><div class="space15"></div>
				<div class="video-wrapper video-maxwidth">
					<iframe width="650" height="450" src="http://www.youtube.com/embed/3Rxuu_4XpEM" frameborder="0" allowfullscreen></iframe>
				</div><!-- / .video-wrapper -->
			</article>
			<div class="space40"></div>
		</div><!-- / .satisfac__desc -->
		<div class="space45"></div>

		<div id="accordion" class="panel-group">
			<h2 class="title-panline">Why Choose HiLine’s Alternative to Keurig K-cup</h2>
		    <div class="panel">
		        <div class="panel-heading" id="headingOne">
		            <h2 class="panel-title">
						<a href="#collapse1" data-toggle="collapse">
						   <span class="numb">1</span>Simply delicious coffee!
						</a>
					</h2>
		        </div>
		        <!-- / .panel-heading -->
		        <div class="panel-collapse" id="collapse1">
		            <div class="panel-body">
		                <div class="content-text"><p>We offer excellent tasting coffee in each and every one of our Keurig compatible cups. All of our blends have been carefully formulated by coffee lovers. We only use the best coffee beans from exotic coffee producing lands around the globe, roast them carefully until they are perfect and then grind and pack them immediately to guarantee a rich and enjoyable coffee tasting experience that will delight your taste buds and warm your heart. We produce in small batches and test each batch for taste, aroma, caffeine and color.</p></div>
		            </div>
		        </div>
		    </div>
		    <!-- / .panel -->
		    <div class="panel">
		        <div class="panel-heading">
		            <h2 class="panel-title">
						<a href="#collapse2" data-toggle="collapse">
							<span class="numb">2</span>More Freedom, More Choice, More Fun!
						</a>
					</h2>
		        </div>
		        <!-- / .panel-heading -->
		        <div class="panel-collapse collapse" id="collapse2">
		            <div class="panel-body">
		                <div class="content-text"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore</p></div>

		            </div>
		        </div>
		    </div>
		    <!-- / .panel -->
		    <div class="panel">
		        <div class="panel-heading">
		            <h2 class="panel-title">
						<a href="#collapse3" data-toggle="collapse">
							<span class="numb">3</span>Save money and get extra savings with our free shipping!
						</a>
					</h2>
		        </div>
		        <!-- / .panel-heading -->
		        <div class="panel-collapse collapse" id="collapse3">
		            <div class="panel-body">
		                 <div class="content-text"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore</p></div>
		            </div>
		        </div>
		    </div>
		    <!-- / .panel -->
		    <div class="panel">
		        <div class="panel-heading">
		            <h2 class="panel-title">
						<a href="#collapse4" data-toggle="collapse">
							<span class="numb">4</span>Enjoyment guaranteed with our 100% satisfaction guarantee!
						</a>
					</h2>
		        </div>
		        <!-- / .panel-heading -->
		        <div class="panel-collapse collapse" id="collapse4">
		             <div class="panel-body">
		                 <div class="content-text"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore</p></div>
		            </div>
		        </div>
		    </div>

		    <div class="panel">
		        <div class="panel-heading">
		            <h2 class="panel-title">
		                <a href="#collapse5" data-toggle="collapse">
		                    <span class="numb">5</span>New York City Based!
		                </a>
		            </h2>
		        </div>
		        <!-- / .panel-heading -->
		        <div class="panel-collapse collapse" id="collapse5">
		             <div class="panel-body">
		                 <div class="content-text"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore</p></div>
		            </div>
		        </div>
		    </div>

		     <div class="panel">
		        <div class="panel-heading">
		            <h2 class="panel-title">
		                <a href="#collapse6" data-toggle="collapse">
		                    <span class="numb">6</span>Keurig History
		                </a>
		            </h2>
		        </div>
		        <!-- / .panel-heading -->
		        <div class="panel-collapse collapse" id="collapse6">
		             <div class="panel-body">
		                 <div class="content-text"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore</p></div>
		            </div>
		        </div>
		    </div>
		    <!-- / .panel -->
		</div><!-- //accordion -->
		<div class="space20"></div>
		<div class="satisfac__panelGrey">
					<div class="content-text">HiLine Coffee’s premium quality alternatives to Keurig k cups won’t be heavy on anyone’s pocket. They cost much less than many of the K Cups curently available. Each cup contains coffee made from the finest beans from coffee producing farms across the globe. The freshly brewed coffee offered at great value is simple irresistible.</div>
				</div><!-- / .satisfac__panel -->
				<div class="space45"></div>
			</div><!-- / .container -->
		</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->