{{> site-header-cart}}

<div class="site-main">

	<div class="autsohipwrap">
		<section class="hero-inner" style="background-image: url('images/banner_inner8.jpg')">
			<div class="container">
				<div class="hero-inner__desc">
					<h1 class="hero-inner__titlesmall">NEVER RUN OUT OF COFFEE AGAIN</h1>
					<small>Save 10% Automatically free shipping, always</small>
				</div>
			</div>
		</section><!-- / .her-inner -->

		<div class="container">
			<div class="autohsip-numb">
				<h2 class="title-centerMd">How it Works</h2>
				
				<section class="autoship-box">
					<ul class="list-unstyled">
						<li class="autoship-boxitem">
							<div class="inside">
								<span class="numb">1</span>
								<figure><img src="images/aship1.png" alt="" width="44"></figure>
								<div class="desc">
									<h4>Select</h4>
									<div class="content-text">
										<p>Find your favorite blends and select the autoship schedule you'd like.</p>
									</div>
								</div>
							</div>
						</li>

						<li class="autoship-boxitem">
							<div class="inside">
								<span class="numb">2</span>
								<figure><img src="images/aship2.png" alt="" width="49"></figure>
								<div class="desc">
									<h4>Schedule</h4>
									<div class="content-text">
										<p>Checkout as normal, you'll create an account along the way.</p>
									</div>
								</div>
							</div>
						</li>

						<li class="autoship-boxitem">
							<div class="inside">
								<span class="numb">3</span>
								<figure><img src="images/aship3.png" alt="" width="46"></figure>
								<div class="desc">
									<h4>Manage</h4>
									<div class="content-text">
										<p>Login to your account to pause, update or cancel your autoship at any time.</p>
									</div>
								</div>
							</div>
						</li>
					</ul>

					<div class="btnwrap">
						<a href="#" class="btn btn-whiteBorder">Coming Soon</a>
						<p>Please check back soon for updates</p>
					</div>
				</section> <!-- //autoship-box -->

			</div><!-- //autohsip-numb -->
		</div>
	</div> 
	<div class="space60"></div>
	{{> subscribe_grey }}
</div> <!-- //Site Main -->
	
