{{> site-header-cart}}
<div class="site-main main-grey">
	<div class="space30"></div>
	<div class="container">
		{{#subscription}}
			<div class="subs-wrap">
				<div class="container">
					<header class="subs-headAutship">
						{{#header}}
							<h2 class="title-md-bold">Autoship Monthly and Save 10%</h2>
							<div class="content-text"><p>Always Free Shipping | Pause or Cancel Anytime</p></div>
						{{/header}}
					</header> <!-- //subs-head -->
				</div>

				<div class="subs-box">
					<div class="subs-boxItem subs-method">
						{{#subsMethod_sub}}
							<header class="subs-boxhead">
								<h2>{{{title}}}</h2>
							</header>
							<div class="subsItem ct-target">
								<ul>
									{{#product}}
									<li class="list-prod subListProduct filterNav" rel="{{filternav}}">
										<figure>
											<div class="thumb">
												<span class="choSen fa fa-check-square"></span>
												<img src="images/{{thumb}}" alt="">
											</div>
											<figcaption class="captext">{{desc}}</figcaption>
										</figure>
									</li>
									{{/product}}
								</ul>
								<div class="text-center"><a href="#" class="btn-lnGreen nextStep">{{button}}</a>
								<div class="space30"></div>
								</div>
							</div>
						{{/subsMethod_sub}}
					</div> <!-- //subs-itemBox -->

					<div class="subs-boxItem subs-pod">
						{{#subsMethod_pod}}
							<header class="subs-boxhead">
								<h2><span>2</span> Select Your Coffee</h2>
							</header>
							<div class="subsItem ct-target">
								<h3 class="total-select">0/20 pods have been selected, please select 20 more!</h3>
								 <ul>
                                    <li class="list-prod">
                                        <div class="thumb-coffe">
                                        	<figure><img src="images/product/coffee1.jpg"></figure>
                                        	<p>Stock Exchange Dark Roast</p>
                                        	<div class="selectwrap">
												<select name="" class="selectBox">
													<option class="0">20 pods ($14.99)</option>
													<option value="1">21 pods ($14.99)</option>
													<option value="2">22 pods ($14.99)</option>
												</select>
                                        	</div>
                                        </div>
                                    </li>
                                    <li class="list-prod">
                                        <div class="thumb-coffe">
                                            <figure><img src="images/product/coffee2.jpg"></figure>
                                            <p>Donut Truck Medium Roast</p>
                                            <div class="selectwrap">
												<select name="" class="selectBox">
													<option class="0">20 pods ($14.99)</option>
													<option value="1">21 pods ($14.99)</option>
													<option value="2">22 pods ($14.99)</option>
												</select>
                                        	</div>
                                        </div>
                                    </li>
                                    <li class="list-prod">
                                        <div class="thumb-coffe">
                                            <figure><img src="images/product/coffee3.jpg"></figure>
                                            <p>Fifth Ave Medium Roast</p>
                                            <div class="selectwrap">
												<select name="" class="selectBox">
													<option class="0">20 pods ($14.99)</option>
													<option value="1">21 pods ($14.99)</option>
													<option value="2">22 pods ($14.99)</option>
												</select>
                                        	</div>
                                        </div>
                                    </li>
                                </ul>
								<div class="text-center">
									<a href="#" class="btn-lnGreen nextStep">Proceed to Checkout</a>
								</div>
								<div class="space30"></div>
								<div class="alert-greybox">
									<p>Remember - Our monthly autoship orders have FREE shipping and 10% off a la cart pricing</p>
								</div>
								<div class="space30"></div>
							</div>
						{{/subsMethod_pod}}
					</div> <!-- //subs-boxItem -->
				</div>
			</div><!-- //subs-wrap -->
		{{/subscription}}
	 </div>
	 <div class="space30"></div>
</div> <!-- //Site Main -->
	
