{{> site-header-cart}}

<div class="site-main">

	<div class="autsohipwrap">
		<!-- <div class="autoship-intro">
			<h2 class="title-lgBold2">Never run out of freshly roasted coffee again!</h2>
			<div class="content-text">
				HiLine makes it easy to get your favorite Nespresso and Keurig compatible pods on a regular schedule without the hassle of having to remember to re-order.  And with HiLine, it's easy to change quantities, pause your auto ship or make shipping changes. 
			</div>
		</div> //autoship-intro -->
		<section class="hero-inner" style="background-image: url('images/banner_inner8.jpg')">
			<div class="container">
				<div class="hero-inner__desc">
					<h1 class="hero-inner__titlesmall">NEVER RUN OUT OF COFFEE AGAIN</h1>
					<small>Save 10% Automatically free shipping, always</small>
				</div>
			</div>
		</section><!-- / .her-inner -->

		<div class="container">
			<div class="autohsip-numb">
				<h2 class="title-centerMd">How it Works</h2>
				<ul class="autohsip-numb__list list-unstyled">
					<li class="col-md-4">
						<div class="inside">
							<span class="numb">1</span>
							<div class="desc">
								<h5>Select</h5>
								<p>Find your favorite blends and select the autoship schedule you'd like.</p>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="inside">
							<span class="numb">2</span>
							<div class="desc">
								<h5>Schedule</h5>
								<p>Checkout as normal, you'll create an account along the way.</p>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="inside">
							<span class="numb">3</span>
							<div class="desc">
								<h5>Manage</h5>
								<p>Login to your account to pause, update or cancel your autoship at any time.</p>
							</div>
						</div>
					</li>
				</ul>

				<div class="btn-center">
					<a href="#" class="btn btn-green">Browse for Nespresso</a>
					<a href="#" class="btn btn-green">Browse for Keurig</a>
				</div>

				<div class="autoship-thumb"><figure><img src="images/thumb_autoship.jpg" alt=""></figure></div>

			</div><!-- //autohsip-numb -->

			<section class="autohsip-misc">
				<div class="inside">
					<article>
						<h5>Can I cancel my autoship?</h5>
						<div class="content-text">
							<p>Of course!  You can cancel your autoship at any time."<br>
							"Can I change the quantities of each item in my autoship? - Yup! Simply login to your 
							account and click to manage your Autoship.  You can change individual item quantities 
							with just a few clicks.</p>
						</div>
					</article>

					<article>
						<h5>Can I pause my autoship?</h5>
						<div class="content-text">
							<p>Of course!  You can cancel your autoship at any time."<br>
							Yes, if you are going on vacation or simply don't need an order, just login and pause the autoship.  You can turn it back on whenever you'd like.</p>
						</div>
					</article>
				</div>
			</section><!-- //autohsip-misc -->
		</div>
	</div> 
	<div class="space60"></div>
	{{> subscribe_grey }}
</div> <!-- //Site Main -->
	
