{{> site-header}}

<div class="site-main">
	<div class="space30"></div>
	<div class="container">
			<div class="link-backwrap">
				<a href="#" class="link-back"><span class="fa fa-caret-left">Back link to all blogs</span></a>
			</div>

			<section class="blog-singleWrap col-md-8 col-md-offset-2"> 
				<article class="blog-single">
						{{#singlePost}}
						<header class="blog-single__head">
							<h3 class="title-bolddMd">{{title}}</h3>
							<span class="meta-author">{{meta}}</span>
						</header>

						<div class="content-text">
							<figure class="img-center"><img src="images/{{thumb}}" alt=""></figure>
							{{{desc}}}
							<div class="post-dtl-share">
								<img src="images/{{blogShare}}" alt="">
							</div>
						</div>
						{{/singlePost}}
				</article><!-- // blog-single -->

				<div class="post-author line-top">
					<header class="post-author__head">
						<figure class="post-author__img"><a href="#"><img src="images/blog/author.jpg" alt=""></a></figure>
						<div class="personal">
							<h3><a href="#">Emily Laats</a></h3>
							<span class="author-as">VP eCommerce</span>
						</div>
					</header>

					<div class="content-text">
						<p>Emily is passionate about all things eCommerce and espresso. When she's not in the office, you can find her running around Gramercy Park. Emily's favorite coffee shops include Stumptown, Blue Bottle and Brooklyn Roasting Company.</p>
					</div>
				</div> <!-- // post-author line-top -->
			</section><!-- //Blog-single wrap -->
	</div>
</div><!-- Site Main -->

	
