{{> site-header}}

<div class="site-main">
	<div class="blogintro">
		<div class="container">
			<div class="blogintro__thumb">
				<img src="images/blog/intro.jpg" alt="">
			</div><!-- blogintro__thumb -->
		</div>
	</div><!-- //BLog intro -->

	<div class="blogmain">
		<div class="container">
			<div class="headnav-blog">
				<div class="ddropdown">
	                <a href="javascript:void(0);" id="ddNav" class="ddown-nav">
	                    <span>Choose Category</span>
	                    <i class="ready fa fa-caret-down"></i>
	                </a>
	                <div class="ddown-list">
	                    <ul>
	                        <li><a href="javascript:void(0);">New York</a>
	                        </li>
	                        <li><a href="javascript:void(0);">California</a>
	                        </li>
	                        <li><a href="javascript:void(0);">London</a>
	                        </li>
	                        <li><a href="javascript:void(0);">Hongkong</a>
	                        </li>
	                        <li><a href="javascript:void(0);">Indonesia</a>
	                        </li>
	                    </ul>
	                </div>
	            </div>
				<a href="#" class="rss-link">Subscribe</a>
			</div><!-- //headnav-blog -->

			<section class="blogitem-wrap center-wrap">
				{{~#blogItem}}
					<article class="blogitem">
						<figure class="thumb"><img src="images/blog/blog_thumb.jpg"></figure>
						<div class="desc">
							<header>
								<h3 class="title-thinMd"><a href="#">{{title}}</a></h3>
								<span class="meta-auth">{{meta}}</span>
							</header>

							<div class="content-text">
								{{desc}}
								<a href="http://hilinecoffee.purepsdhtml.com/blog_detail.html" class="link-textblue">{{link}}</a>
							</div>
						</div>
					</article> <!-- //blogitem -->
				{{~/blogItem}}
				  <div class="clearfix"></div>
				  <div class="paginatewrap">
						<ul class="pagination">
							<li class="button"><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-caret-left"></i>Prev</span></a></li>
							<li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><span>...</span></li>
							<li><a href="#">5</a></li>
							<li class="button"><a href="#" aria-label="Next"><span aria-hidden="true">Next <i class="fa fa-caret-right"></i></span></a></li>
						</ul>
				 </div>
			</section> <!-- //blogitem-wrap -->
		</div>
	</div> <!-- Blog Main -->
</div> <!-- Main -->
	
