{{> header_ceckout}}

<div class="ship-nav">
	<div class="container">
		<div class="box lined active">
			<span class="numb">1</span>
			<span class="text">Shipping</span>
		</div>	
		<div class="box ">
			<span class="numb">2</span>
			<span class="text">Payment and Review</span>
		</div>
	</div>
</div><!-- //ship-nav -->

<div class="site-main site-mainSpace">
	<div class="container">
		<div class="row form-shipAdd">
			<form name="">
				<div class="leftside col-md-7">
					<div class="f-headtext">
						<h5>Shipping Address</h5>
						<a href="#" class="f-headtext__link">Choose from Existing</a>
					</div>
					<div class="shipAdd-boxes">
						<ul class="list-unstyled">
							<li class="acc-addsBox table-responsive hideSibling">
								<table class="table">
									<tr>
										<td width="28%"><strong class="name">Felix Widjaja</strong></td>
										<td>GGR<br>New York, NY 1234<br>UNITED STATES</td>
										<td align="right"><a href="#" class="arr-tbToggle"><span class="fa fa-caret-up"></span></a></td>
									</tr>
								</table>
							</li> <!-- //acc-addsBox -->
							<li class="acc-addsBox table-responsive hideSibling">
								<table class="table">
									<tr>
										<td width="28%"><strong class="name">Aat bro</strong></td>
										<td>GGR<br>New York, NY 1234<br>UNITED STATES</td>
										<td align="right"></td>
									</tr>
								</table>
							</li> <!-- //acc-addsBox -->
							<li class="acc-addsBox table-responsive hideSibling">
								<table class="table">
									<tr>
										<td width="28%"><strong class="name">Alan bin</strong></td>
										<td>GGR<br>New York, NY 1234<br>UNITED STATES</td>
										<td align="right"></td>
									</tr>
								</table>
							</li> <!-- //acc-addsBox -->
						</ul>
					</div>
				</div><!-- //leftside -->

				<aside class="asideright col-md-5">
					<div class="asideInner">
						<div class="ship-summary">
							<h4>Order Summary</h4>
							<table class="table tb-shisumary">
								<tr>
									<td>Subtotal</td>
									<td align="right">$28.99</td>
								</tr>
								<tr>
									<td>Shipping</td>
									<td align="right"><em>free</em></td>
								</tr>
								<tr>
									<td>Tax</td>
									<td align="right">$0.00</td>
								</tr>

								<tr>
									<td>Total (USD)</td>
									<td align="right">$25.00</td>
								</tr>
								<tr><td colspan="2"></td></tr>
								<tr><td colspan="2"></td></tr>
								<tr>
									<td colspan="2"><a href="#" class="coupon">Apply Coupon Code</a></td>
								</tr>
							</table>
						</div><!-- //ship-summary -->
						<div class="btn-full"><input type="submit" name="" value="Continue to PaymenT" class="btn btn-greenBold"></div>
					</div>
				</aside> <!-- asideright -->

			</form>
		</div> <!-- // form-shipAdd--> 
	</div>
</div> <!-- //Site Main -->

	
