{{> header_ceckout}}

<div class="ship-nav">
	<div class="container">
		<div class="box lined active">
			<span class="numb">1</span>
			<span class="text">Shipping</span>
		</div>	
		<div class="box ">
			<span class="numb">2</span>
			<span class="text">Payment and Review</span>
		</div>
	</div>
</div><!-- //ship-nav -->

<div class="site-main site-mainSpace">
	<div class="container">
		<div class="row form-shipAdd">
			<form name="">
				<div class="leftside col-md-7">
					<div class="f-headtext">
						<h5>Shipping Address</h5>
						<a href="#" class="f-headtext__link">Choose from Existing</a>
					</div>
					<div class="row">
						<div class="col-md-6 form-group">
							<input type="text" name="" class="form-control" placeholder="First Name">
						</div>
						<div class="col-md-6 form-group">
							<input type="text" name="" class="form-control" placeholder="Last Name">
						</div>
					</div>
					<div class="form-group">
						<input type="email" name="" class="form-control"  placeholder="Email">
					</div>
					<div class="form-group">
						<input type="text" name="" class="form-control"  placeholder="Company">
					</div>
					<div class="form-group">
						<input type="text" name="" class="form-control"  placeholder="Full Street Address">
					</div>
					<div class="form-group">
						<input type="text" name="" class="form-control"  placeholder="Apt, Floor, Unit">
					</div>
					<div class="form-group">
						<input type="text" name="" class="form-control"  placeholder="City">
					</div>
					<div class="row">
						<div class="col-sm-6 form-group">
							<select class="form-control">
								<option>State / Province</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<div class="col-sm-6 form-group">
							<input type="text" class="form-control" placeholder="Zip">
						</div>	
					</div>
					<div class="checkbox">
					    <input type="checkbox" value="" id="cxbox">
					    <label for="cxbox"><span></span>Save this address</label>
					</div>
				</div><!-- //leftside -->

				<aside class="asideright col-md-5">
					<div class="asideInner">
						<div class="ship-summary">
							<h4>Order Summary</h4>
							<table class="table tb-shisumary">
								<tr>
									<td>Subtotal</td>
									<td align="right">$28.99</td>
								</tr>
								<tr>
									<td>Shipping</td>
									<td align="right"><em>free</em></td>
								</tr>
								<tr>
									<td>Tax</td>
									<td align="right">$0.00</td>
								</tr>

								<tr>
									<td>Total (USD)</td>
									<td align="right">$25.00</td>
								</tr>
								<tr><td colspan="2"></td></tr>
								<tr><td colspan="2"></td></tr>
								<tr>
									<td colspan="2"><a href="#" class="coupon">Apply Coupon Code</a></td>
								</tr>
							</table>
						</div><!-- //ship-summary -->
						<div class="btn-full"><input type="submit" name="" value="Continue to PaymenT" class="btn btn-greenBold"></div>
					</div>
				</aside> <!-- asideright -->

			</form>
		</div> <!-- // form-shipAdd--> 
	</div>
</div> <!-- //Site Main -->

	
