{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner5.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>best coffee makers</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<h2 class="title-centerline">analysis of keurig single cup coffee makers</h2>

		<div class="satisfa-testi row no-bord">
			<div class="desc col-sm-6 no-padd">
				<p>If you’re looking for a great coffee to use in your Keurig single cup coffee makers then HiLine Coffee is a great place for you to check out! We’re Gene and Ted, the founders of HiLine Coffee Company. We love great coffee, Keurig single cup coffee makers and our hometown New York City. We founded HiLine Coffee to share our passions with you and to deliver delicious coffee and great value to our friends and customers. We’re really excited about our new K cups alternatives that can be used in Keurig single cup coffee makers. They look just like the keurig kcups brand, but they are filled with our premium café quality artisanal coffee and come in fun New York City themed packaging. They also cost less than the big name brand Keurig kcups coffee pods.</p>
			</div><!-- / .desc .col-sm-6 -->
			<div class="thumb col-sm-6">
				<figure>
					<img src="images/coffee-makers.jpg">
				</figure>
			</div><!-- / .thumb .col-sm-6 -->

			<div class="clearfix"></div>
			<div class="space45"></div>
			<p class="text-center">
				<a href="#" class="btn btn-green btn-big">shop now</a>
			</p>
		</div><!-- / .satisfa-testi -->

		<div class="satisfac__desc">
			<div class="content-text">Our love for coffee began over 15 years ago when we met as undergrads at the University of Pennsylvania and became best friends. We remember experiencing our first great coffee experience in a local Philly coffee house and after that we were hooked. Time flew, and after graduation we moved to New York City to pursue busy corporate jobs, which took us to countries around the world and gave us more opportunities to sample some rich and exotic coffees. Finally we decided to follow our passions in business as well, and we founded HiLine Coffee Company. Each of our K-cups alternatives for use in Keurig single serve coffee makers starts out as premium coffee beans from far off exotic coffee producing countries around the globe. We work with small specialty roasters to carefully roast the coffee beans, then grind them to perfection and pack them immediately into Keurig compatible cups to ensure optimum freshness. In addition to offering delicious coffee and great value we also believe in giving back.</div>

			<div class="content-text">One way we give back is by supporting Carolina for Kibera, a charity which helps young women obtain an education in the coffee growing country of Kenya. Since we source coffee from Kenya, we thought this program was a natural fit with our mission. We strongly feel that each child deserves an education, however in Kenya public education ends before high school. In Kibera, which is a poor slum in Nairobi, many families have to get by on only a dollar or two a day and school is a luxury out of reach. Girls who cannot afford tuition have to leave school and either go to work or get married at a young age. The scholarship program run by Caolina for Kibera ensures that a family’s financial situation doesn’t put a limit on a child’s potential to excel in school. We feel good about our coffee and the ways in which we are helping.</div>

			<div class="content-text">Here are five more great reasons to love Keurig single cup coffee makers compatible k-cups alternatives from HiLine Coffee!
				<ul class="list-circle">
					<li>
						<p>We sell the best tasting coffee in every cup. Each one of our premium blends have been carefully created by       coffee connoisseurs. We only use the best coffee beans from around the globe, roasting them carefully to perfection, then grinding and packaging them right away to provide a rich delightful coffee experience. We        produce in small batches and test each batch for taste, color and aroma.</p>
					</li>
					<li>
						<p>HiLine Coffee is less expensive than other brands that work in Keurig single cup coffee makers and is an      exciting new alternative to the familiar old Keurig k-cups.</p>
					</li>
					<li>
						<p>Shipping costs only $5.00 and if you order $75.00 or more from us you will also get the additional benefit of free shipping to save even more.</p>
					</li>
					<li>
						<p>Satisfaction guaranteed or your money back. If you don’t absolutely love HiLine Coffee as much as we do then we are committed to refunding all of your money, including any shipping charges you may have paid. It’s as easy as that. No hassles, just great coffee!</p>
					</li>
					<li>
						<p>We’re a locally owned small business in New York City, not a big billion dollar company run by Wall Street. We believe in delicious coffee, great value and giving back. We are fully dedicated to selling only the best tasting coffee at a fair price and providing great personal service.</p>
					</li>
				</ul>
			</div>

			<div class="clearfix"></div>
			<div class="space15"></div>
			<div class="content-text">
				Please also read our <a href="#" class="link-inline">Keurig 2.0 Review</a>
			</div>

			<div class="video-wrapper">
				<iframe width="1140" height="600" src="http://www.youtube.com/embed/3Rxuu_4XpEM" frameborder="0" allowfullscreen></iframe>
			</div><!-- / .video-wrapper -->
		</div><!-- / .satisfac__desc -->

		<div class="clearfix"></div>
		<div class="space45"></div>
		<div class="space15"></div>
	</div><!-- / .container -->
</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->