{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner4.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>We're hiline coffee, Not highline coffee!</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<article class="satisfa-splash reset-splash">
			<h2 class="title-centerline">but it is one of our favorite spots in new york city.</h2>
		</article>
	</div><!-- / .container -->

	<div class="satisfac reset-satisfac-top">
		<div class="container">
			<div class="row">
				
				<div class="satisfac__desc col-sm-12">

					<h2>What's in the Name!</h2>
					<div class="content-text">Our friends and customers always wonder how to spell our name. Are you "Highline Coffee" or perhaps "High Line Coffee"? We are close enough geographically and in spirit. But we go by "HiLine Coffee", and we just want to set the record straight that we're HiLine Coffee Company! When coming up with the name for the business, we were walking the stretch of the High Line Park in the Meatpacking, looked around and realized that it's probably our favorite hang out in New York. If you haven't been or donated please do so as soon as you can! For more info please check out more info on <a href="#" class="link-inline">The High Line</a>.</div><!-- / .content-text -->
				
					<div class="clearfix"></div>
					<div class="space15"></div>
					<div class="satisfa-testi smaller-marg-bottom">
						<figure class="thumb padding-help col-sm-5">
							<img src="images/coffeecoupon.jpg">
						</figure>
						<div class="desc col-sm-7">
							<h4>The Hig Line -- The Coolest NYC Landmark</h4>
							<p>So why are we so partial to the desolate elevated railroad turned park? Because it combines what we believe is best about New York. The neighborhood's industrial past and historical development doomed railroad as a commercial enterprise decades ago. Yet a couple of enterprising volunteers rallied up significant forces to preserve the landmark when it was earmarked for demolition, and raised sufficient funds to turn it into an urban oasis in a few years. It's beautiful and industrial, serene and cosmopolitan, equal part apocalyptic I am Legend and Transcendentalist's Nature. The balance of contrasts is breathtaking!</p>
						</div>
					</div><!-- / .satisfa-testi -->

					<div class="satisfac__logo col-sm-5">
						<div class="video-wrapper">
							<iframe width="560" height="315" src="http://www.youtube.com/embed/3Rxuu_4XpEM" frameborder="0" allowfullscreen></iframe>
						</div>
					</div><!-- / .satisfac__logo -->

					<div class="satisfac__desc col-sm-7">
						<h2>So is Your Coffee Any Good?</h2>
						<div class="content-text">It's not. Our coffee is the best coffee you can buy online. Please do try us out and in the meantime enjoy a stop motion that we created a year ago or so.</div>
					</div>
					
				</div><!-- / .satisfac__desc -->

			</div>
		</div>
	</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->