{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner6.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>fresh coffee for less.</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<h2 class="title-centerline">alternative to nespresso nyc store</h2>
		
		<div class="row">
			<div class="satisfac__desc col-sm-12">
				<h2>Alternative to Nespresso Store</h2>
				
				<div class="content-text">Nespresso has seven flagship stores in the United States and 22 more boutique-in-shops at places like Bloomingdale’s, Macy’s and Sur La Table. If you want to refill on Nespresso capsules, you have to go to one of these places or you can shop on the phone or on Nespresso’s website. To provide a new and exciting alternative to people who own Nespresso machines, we started HiLine Coffee to change all this and offer our own independent brand of compatible capsules for Nespresso.</div>

				<div class="clearfix"></div>
				<div class="space15"></div>

				<div class="satisfa-testi smaller-marg-bottom">
					<figure class="thumb padding-help col-sm-5">
						<img src="images/coffeless.jpg">
					</figure>
					<div class="desc col-sm-7">
						<h4>What Does HiLine Do?</h4>
						<p>We launched HiLine Coffee on July 4, 2013, with the goal of bringing Nespresso machine owners choice and independence. Our aim is to provide the freshest, highest quality coffee directly to consumers. Because we don’t have expensive cafes and don’t work with celebrity endorsers, we are able to provide delicious coffee at a fraction of the Nespresso brand price.</p>
					</div>
				</div><!-- / .satisfa-testi -->

				<div class="clearfix"></div>
				<div class="space15"></div>

				<div class="satisfa-testi no-bord">
					<div class="desc col-sm-6 no-padd">
						<h2>So What's the trick?</h2>
						<p>There are no tricks. Instead of going to a Nespresso store, just visit HiLineCoffee.com to discover our own brand of amazing compatible capsules for Nespresso. People who try us, love us! If you are still not sure, we have a free sample promotion going for new customers. Just use the code FREESAMPLE at checkout.</p>
					</div><!-- / .desc -->
					<div class="thumb col-sm-6">
						<figure>
							<img src="images/coffeeless.jpg">
						</figure>
					</div>

				</div><!-- / .satisfa-testi -->

				<h2>Nespresso Cafes</h2>
				<div class="content-text">Nespresso USA has seven stand-alone cafes, including 2 in NYC, and one each in SF, LA, Boston, Dallas and Miami. Each Nespresso cafe reminds us of a luxury goods boutique with minimalist aesthetic and well-dressed uniformed wait staff. While a Nespresso boutique is unlikely to be placed on the list of the best cafes by <a href="#" class="link-inline">Roast Magazine</a> soon, it's a nice place to sit for a cup of coffee. It's almost never crowded and is a good place to meet someone!</div>

				<div class="clearfix"></div>
				<div class="space45"></div>
				<div class="satisfac__panel">
					<div class="content-text">Blue bottle coffee experience meets convenience through HiLine Coffee. There is no need for you to spend hours waiting in long lines of a blue bottle café to satisfy your craving when you can order online from us.</div>
				</div>
			</div><!-- / .satisfac__desc -->
		</div><!-- / .row -->
		
		<div class="clearfix"></div>
		<div class="space15"></div>
		<div class="space60"></div>

	</div><!-- / .container -->
</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->