{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner6.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>coffee subscription services</h1>
			</div>
		</div>
	</section><!-- / .hero-inner -->

	<div class="container">
		<article class="satisfa-splash reset-splash">
			<h2 class="title-centerline">is coffee of the month club worth it?</h2>
		</article>
	</div><!-- / .container -->

	<div class="satisfac reset-satisfac-top">
		<div class="container">
			<div class="row">
				
				<div class="satisfac__desc col-sm-12">
					<h2>Your Guide to Choosing a Coffee Subscription</h2>
					<div class="content-text">Love your coffee but hate having to go to the store every week to pick it up? Maybe you want to enjoy a different variety than what you can get locally, or perhaps you’re more interested in saving a little money in the long run over buying smaller boxes at the grocery store. Whatever the reason, a coffee subscription lets you achieve your goal. The problem is that there are a lot of companies out there offering subscriptions, but they’re far from being created equal. If you’ve been interested in exploring what’s out there, but haven’t made the leap yet, or you’re looking for a better alternative to your current subscription program, this guide is for you.</div>
					<div class="space20"></div>
					<div class="video-wrapper">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/1I1sE-OJQA4" frameborder="0" allowfullscreen></iframe>
					</div><!-- / .video-wrapper -->
					<div class="space60"></div>

					<div class="tab-container">
						<ul class="nav nav-tabs nav-hiline" role="tablist" style="font-size: 16px !important;">
							<li role="presentation" class="active">
								<a href="#tab1" aria-controls="frequency" role="tab" data-toggle="tab">Frequency of Delivery</a>
							</li>
							<li role="presentation">
								<a href="#tab2" aria-controls="quantity" role="tab" data-toggle="tab">Quantity Shipped</a>
							</li>
							<li role="presentation">
								<a href="#tab3" aria-controls="customization" role="tab" data-toggle="tab">Customization</a>
							</li>
							<li role="presentation">
								<a href="#tab4" aria-controls="no" role="tab" data-toggle="tab">No Random Choices</a>
							</li>
							<li role="presentation">
								<a href="#tab5" aria-controls="selection" role="tab" data-toggle="tab">Selection</a>
							</li>
							<li role="presentation">
								<a href="#tab6" aria-controls="shelf" role="tab" data-toggle="tab">Coffee Sourcing</a>
							</li>
						</ul><!-- / .nav-hiline -->

						<div class="tab-content">
							
							<div role="tabpanel" class="tab-pane active" id="tab1">
								<div class="content-text">
									How often does the supplier ship out your coffee? Too frequently, and you risk having a lot of coffee on hand that you don’t need, not to mention the ongoing charges for your subscription. Too infrequently, and you risk running out of coffee, which means that you’ll need to go to the store to replenish your supply in between deliveries. Ideally, you’ll receive a monthly shipment.
								</div>
							</div><!-- / .tab-pane -->

							<div role="tabpanel" class="tab-pane" id="tab2">
								<div class="content-text">
									Everyone’s coffee consumption is different, and it also varies by the number of coffee drinkers in your household. A single person might only have one or two cups per day, but add another coffee drinker or two to the mix, and you’re looking at six cups a day. If some (or all) of those people are heavy coffee drinkers, you can go through java very quickly. You should choose a coffee subscription that offers different quantities shipped monthly (50, 100 and 150 per month, for instance). That allows you to choose the right option for your household’s coffee consumption without either receiving too much or too little.
								</div>
							</div><!-- / .tab-pane -->

							<div role="tabpanel" class="tab-pane" id="tab3">
								<div class="content-text">
									A coffee subscription service should give you the ability to have the coffee you love (and other styles you want to try) shipped right to your home. It shouldn’t force you to buy only what the supplier thinks is best. It also shouldn’t force you to buy entire cases of a certain style. It’s your money, and your coffee. You should get the mix that’s right for you and your household. Look for a subscription plan that lets you customize your order by boxes of 10. If a supplier offered 10 styles, that would allow you to order a box of each if you chose the 100 per month delivery option.
								</div>
							</div><!-- / .tab-pane -->

							<div role="tabpanel" class="tab-pane" id="tab4">
								<div class="content-text">
									Some suppliers like to randomize your subscription – they choose what’s going to their customers. While that might be a good way to discover a few styles that you like, what about those that you don’t like? What if you’re stuck with styles that you don’t like and will never drink? Not only is that wasted storage space in your kitchen or your pantry, but it’s wasted money – you’re still paying for that coffee, even though you don’t get to pick it yourself.
								</div>
							</div><!-- / .tab-pane -->

							<div role="tabpanel" class="tab-pane" id="tab5">
								<div class="content-text">
									A word or two should be said about the selection of styles offered in your subscription. Make sure there are enough styles to satisfy your need for exploration and experimentation, as well as several favorite styles that you want to keep on hand. This ensures that you have a go-to brew in case you’re not thrilled with some of your other choices. In the same vein, make sure the supplier has a good description for each coffee style offered so you can make an informed decision. Don’t choose blindly – Russian roulette with coffee is rarely fun.
								</div>
							</div><!-- / .tab-pane -->

							<div role="tabpanel" class="tab-pane" id="tab6">
								<div class="content-text">
									Depending on how heavy a coffee drinker you are, you might find that you have coffee sitting around for some time. While your coffee should come in sealed pods, that doesn’t mean that it will stay good forever. Thankfully, pods have a longer shelf life than some other packaging types, but they’re not eternal, and not all suppliers offer the same length of life. Look for pods that stay fresh for up to 12 months. This ensures that you can store away your excess and be assured of a fresh, delicious cup every time up to a full year after ordering.
								</div>
							</div><!-- / .tab-pane -->

							<div role="tabpanel" class="tab-pane" id="tab7">
								<div class="content-text">
									Coffee isn’t just coffee – there are <a class="link-inline">organic coffee beans</a>, <a href="#" class="link-inline">Fair Trade</a> coffee and more. If buying organic, Fair Trade™ coffee matters to you, make sure that your supplier shows proof. They should have the USDA-certified organic seal, as well as Fair Trade™ certification notification on their packaging. Again, the FAQ content on your supplier’s website is a good source of information. If you don’t see it listed, then chances are good that their coffee is neither organic nor Fair Trade. The same applies to Kosher coffee – if it’s not mentioned on the company’s website, chances are it’s not. 
								</div>
								<div class="content-text">
									At HiLine Coffee, we take pride in sourcing our coffee from some of the best family-owned roasters in the world. We’re also committed to ensuring that our customers have the right options in terms of style selection, quantity and delivery frequency (we ship your chosen styles monthly). With three quantity options from which to choose, as well as our wide range of blends, HiLine’s coffee subscription plan has a lot to offer.
								</div>
							</div><!-- / .tab-pane -->

						</div><!-- / .tab-content -->
					</div>
				</div><!-- / .satisfac__desc -->

			</div>

			<div class="clearfix"></div>
			<div class="space45"></div>
			<div class="space15"></div>
		</div><!-- / .container -->
	</div><!-- / .satisfac -->
 
	{{> subscribe_grey }}
</div>
