{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner3.jpg')">
		<div class="container">
			<div class="hero-inner__desc colorwhite">
				<h1>DRINK FRESH COFFEE</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<article class="satisfa-splash reset-splash">
			<h2 class="title-centerline">COMPARISON OF NESPRESSO ORIGINALLINE AND VERTUOLINE</h2>
		</article>
	</div><!-- / .container -->

	<div class="satisfac reset-satisfac-top">
		<div class="container">
			<div class="row">

				<div class="satisfac__desc col-sm-12">
					<div class="content-text">Single-serve coffee pods and the machines that use them only seem like a new phenomenon. The Nespresso, however, is 39 years old. First introduced in Switzerland in 1976, it took some time to catch on. Nespresso SA would be founded as a Nestle subsidiary in 1986, with machines and coffee pods hitting the Swiss market in force by 1989, followed by the French and American markets in 1991. The early Nespresso system was boxy and utilitarian, but the Concept machine of 2001, followed by the Essenza in 2004, introduced Nespresso in the form the public knows today. In the decade since, the number of machines and the coffees available for them has grown, as has the company's share of the market. That's partly thanks to the explosion of the single-serve market, as well as the machines' design, which fuses modernist class with reliable function.
					</div>

					<div class="space60"></div>
					<div class="tablist-container clearfix">
						<ul class="list-tab clearfix" role="tablist">
							<li class="active">
								<a href="#tab1" aria-controls="home" role="tab" data-toggle="tab">Models   </a>
							</li>
							<li>
								<a href="#tab2" aria-controls="home" role="tab" data-toggle="tab">OriginalLine vs VertuoLine </a>
							</li>
							<li>
								<a href="#tab3" aria-controls="home" role="tab" data-toggle="tab">Design</a>
							</li>
							<li>
								<a href="#tab4" aria-controls="home" role="tab" data-toggle="tab">Nespresso Capsule </a>
							</li>
							<li>
								<a href="#tab5" aria-controls="home" role="tab" data-toggle="tab">Function</a>
							</li>
							<li>
								<a href="#tab6" aria-controls="home" role="tab" data-toggle="tab">Taste</a>
							</li>
							<li>
								<a href="#tab7" aria-controls="home" role="tab" data-toggle="tab">Cost</a>
							</li>
							<li>
								<a href="#tab8" aria-controls="home" role="tab" data-toggle="tab">Conclusion</a>
							</li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane fade in active" id="tab1">
								<div class="content-text">
									Through an OEM manufacturer, Nespresso produces several OriginalLine machines. These include the Essenza, CitiZ, U, Inissia, and Pixie. Two machines are also made in partnership with outside vendors DeLonghi (the Lattissima) and KitchenAid. 
								</div>
							</div>
							<div class="tab-pane fade" id="tab2">
								<div class="content-text">2014 would see more changes for Nespresso as the VertuoLine debuted in the North American market. When this happened, the first-generation Nespresso machines were christened the OriginalLine. The VertuoLine was designed to offer more serving options, especially to consumers who tend to like larger servings of coffee. Like the OriginalLine, the VertuoLine promises convenience for busy coffee drinkers. However, the name and portion sizes weren't the only differences between the machines.</div>
								<div class="space30"></div>
								<div class="tab-thumbCenter"><img src="images/machine/Pixie.png" alt=""></div>
							</div>
						
							<div class="tab-pane fade" id="tab3">
								<div class="content-text">Both series of Nespresso machines share a similar retro-futuristic aesthetic that seems classically European. But for all the similarities -- Art Deco-inspired ornamentation, gorgeous curves, and intuitive control surfaces -- the machines have one key difference. The OriginalLine's European-ness is emphasized not only in its lines, but in its size; these are machines with a small footprint that won't be an intrusion in places where space is at a premium. In contrast, the VertuoLine is roughly the same size as a Keurig. </div>
							</div>

							<div class="tab-pane fade" id="tab4">
								<div class="content-text"><p>Like Keurig's 2.0 machines, the VertuoLine incorporates a layer of DRM into their capsules. Each one includes a barcode that tells the machine the kind and volume of coffee it's brewing. The Vertuoline also incorporates a centrifuge that spins the capsule as it brews, a proecess that the company has named Centrifusion. The added step adds time to the process, but also gives the appearance of a more pronounced crema and a slightly higher volume of <a href="#" class="link-inline">espresso.</a></p> 
								<p>That's a bit misleading, however, since the Original Line's crema is closer to a traditional espresso crema (a result of the higher-pressure brew process), while the Vertuoline's crema shares a bit more in common with a milk frother (many users have remarked on the crema's foaminess with the Vertuoline).</p></div>
								<div class="space30"></div>
								<div class="tab-thumbCenter"><img src="images/machine/Vertuoline.png" alt=""></div>
							</div>

							<div class="tab-pane fade" id="tab5">
								<div class="content-text"><p>Both series of Nespresso machines share a similar retro-futuristic aesthetic that seems classically European. But for all the similarities -- Art Deco-inspired ornamentation, gorgeous curves, and intuitive control surfaces -- the machines have one key difference. The OriginalLine's European-ness is emphasized not only in its lines, but in its size; these are machines with a small footprint that won't be an intrusion in places where space is at a premium. In contrast, the VertuoLine is roughly the same size as a Keurig.</p></div>
							</div>
							<div class="tab-pane fade" id="tab6">
								<div class="content-text"><p>If you're familiar with coffee making, and especially with espresso, you may well have read the last paragraph and thought, "Wouldn't a lower temperature and pressure lead to lowered extraction?" You would be correct. </p> 
								<p>We recently tried a VertuoLine and OriginalLine machine head to head. Our taste test bears out several reviewers' complaints. While we were happy with the results we got from the OriginalLine, the espresso from the VertuoLine tasted underextracted, and was lukewarm and decidedly weaker. In theory, the centifugal force of the Centrifusion process would be an adequate replacement for the pressure applied by a traditional espresso maker, or by the OriginalLine. In practice, however, it's a poor substitution. </p></div>
							</div>
							<div class="tab-pane fade" id="tab7">
								<div class="content-text"><p>If you're familiar with coffee making, and especially with espresso, you may well have read the last paragraph and thought, "Wouldn't a lower temperature and pressure lead to lowered extraction?" You would be correct. </p> 
								<p>We recently tried a VertuoLine and OriginalLine machine head to head. Our taste test bears out several reviewers' complaints. While we were happy with the results we got from the OriginalLine, the espresso from the VertuoLine tasted underextracted, and was lukewarm and decidedly weaker. In theory, the centifugal force of the Centrifusion process would be an adequate replacement for the pressure applied by a traditional espresso maker, or by the OriginalLine. In practice, however, it's a poor substitution. </p></div>
								<div class="space30"></div>
								<div class="tab-thumbCenter"><img src="images/nespreso_capsule.jpg" alt=""></div>
							</div>
							<div class="tab-pane fade" id="tab8">
								<div class="content-text"><p>While Keurig gets most of the press in the single-serve coffee space, Nespresso significantly predates Keurig. On a number of factors -- not least of these a wider selection of coffee pods, the ability to recycle the pods and, most importantly, taste -- the OriginalLine series of Nespresso machines also comes out on top. If Nespresso was going to follow Keurig's lead, many customers would rather they hadn't followed the lead of making a machine that limits customers' options while delivering a noticeably diminished cup of coffee. Our advice? Barring a major and surprising improvement in the VertuoLine, stick to the OriginalLine if your money and the taste of your coffee matter to you. </p> 
								<p>For another take, here's a video review from our friends at Aromacup.com, comparing the Nespresso Vertuoline versus the Nespresso Lattissima Plus  </p></div>
								<div class="space30"></div>
								<div class="video-wrapper wrapper-center">
									<iframe width="560" height="315" src="http://www.youtube.com/embed/3Rxuu_4XpEM" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
						</div><!-- / .tab-content -->
					</div><!-- / .tablist-container -->
				</div><!-- / .satisfac__desc .col-sm-12 -->				

			</div>
		</div>
	</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->