{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner2.jpg')">
		<div class="container">
			<div class="hero-inner__desc colorwhite">
				<h1>Compatible Machines</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<div class="item-machinewrap">
			<div class="space60"></div>
			<div class="item-machine clearfix">
				<a href="#" class="subitem-machine">
					<figure><img src="images/machine/Essenza.png"></figure>
					<h2>Essenza</h2>
				</a>
			</div><!-- / .item-machine -->

			<div class="item-machine clearfix">
				<a href="#" class="subitem-machine">
					<figure><img src="images/machine/Citiz.png"></figure>
					<h2>Citiz</h2>
				</a>
			</div><!-- / .item-machine -->

			<div class="item-machine clearfix">
				<a href="#" class="subitem-machine">
					<figure><img src="images/machine/Delonghi.png"></figure>
					<h2>Delonghi Lattissima Plus</h2>
				</a>
			</div><!-- / .item-machine -->

			<div class="item-machine clearfix">
				<a href="#" class="subitem-machine">
					<figure><img src="images/machine/Maestria.png"></figure>
					<h2>Maestria</h2>
				</a>
			</div><!-- / .item-machine -->

			<div class="item-machine clearfix">
				<a href="#" class="subitem-machine">
					<figure><img src="images/machine/Le-Cube.png"></figure>
					<h2>Le Cube</h2>
				</a>
			</div><!-- / .item-machine -->

			<div class="item-machine clearfix">
				<a href="#" class="subitem-machine">
					<figure><img src="images/machine/Inissia.png"></figure>
					<h2>Inissia</h2>
				</a>
			</div><!-- / .item-machine -->

			<div class="item-machine clearfix">
				<a href="#" class="subitem-machine">
					<figure><img src="images/machine/Pixie.png"></figure>
					<h2>Pixie</h2>
				</a>
			</div><!-- / .item-machine -->

			<div class="item-machine clearfix">
				<a href="#" class="subitem-machine">
					<figure><img src="images/machine/Umilk.png"></figure>
					<h2>U Milk</h2>
				</a>
			</div><!-- / .item-machine -->
		</div> <!-- /item-machinewrap -->
		<div class="space30"></div>

		<div class="machine-text">
			<p>*Please note that HiLine espresso pods are not compatible with the Nespresso Vertuoline machine.</p>
			<div class="space30"></div>
			<a href="#" class="btn btn-green">SHOP NOW</a>
		</div> <!-- //machine-text -->
	</div>
	<div class="space60"></div>
	{{> subscribe_grey }}
</div><!-- / .site-main -->