{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner7.jpg')">
		<div class="container">
			<div class="hero-inner__desc colorwhite">
				<h1>descalling espresso machine</h1>
			</div>
		</div>
	</section><!-- / .hero-inner -->

	<div class="container">
		<article class="satisfa-splash reset-splash">
			<h2 class="title-centerline">keep your machine working</h2>
		</article>
	</div><!-- / .container -->

	<div class="satisfac reset-satisfac-top">
		<div class="container">
			<div class="row">
				<div class="satisfac__desc col-sm-12">
					<h2>More Choice. More Freedom!</h2>
					<div class="content-text">Descaling can be done in four easy steps and should take about 20 minutes. Follow these steps.</div>
					
					<div class="space45"></div>
				
					<div class="tab-container">
						<ul class="nav nav-tabs nav-hiline" role="tablist" style="font-size: 16px !important;">
							<li role="presentation" class="active">
								<a href="#tab1" aria-controls="prepare" role="tab" data-toggle="tab">Prepare Your Machine</a>
							</li>
							<li role="presentation">
								<a href="#tab2" aria-controls="descale" role="tab" data-toggle="tab">Descale Your Machine</a>
							</li>
							<li role="presentation">
								<a href="#tab3" aria-controls="rins" role="tab" data-toggle="tab">Rinse</a>
							</li>
							<li role="presentation">
								<a href="#tab4" aria-controls="exit" role="tab" data-toggle="tab">Exit the Descaling Mode</a>
							</li>
						</ul><!-- / .nav-hiline -->

						<div class="tab-content">
							
							<div role="tabpanel" class="tab-pane active" id="tab1">
								<ul class="list-circle">
									<li>
										<p>Remove capsules and capsule container.</p>
									</li>
									<li>
										<p>Put in 1 liter of warm fresh water (4 cups) in the water container.</p>
									</li>
									<li>
										<p>Mix in a sachet of descaling solution.</p>
									</li>
									<li>
										<p>Turn the machine on.</p>
									</li>
									<li>
										<p>Turn a container than can hold up to a liter of water under the coffee outlet.</p>
									</li>
								</ul>
							</div><!-- / .tab-pane -->

							<div role="tabpanel" class="tab-pane" id="tab2">
								<ul class="list-circle">
									<li>
										<p>Pixie, Inissia, Essenza and Citiz – simultaneously press on two buttons for three seconds.</p>
									</li>
									<li>
										<p>U – simultaneously press all three buttons for three seconds.</p>
									</li>
									<li>
										<p>Lattisima – put in the descaling nozzle, press the cappuccino button.</p>
									</li>
								</ul>
							</div><!-- / .tab-pane -->

							<div role="tabpanel" class="tab-pane" id="tab3">
								<ul class="list-circle">
									<li>
										<p>Rinse the water container.</p>
									</li>
									<li>
										<p>Pour in fresh water in the water container.</p>
									</li>
									<li>
										<p>Run the cycle again without the descaling solution in the water.</p>
									</li>
									<li>
										<p>Empty and rinse the drip tray.</p>
									</li>
								</ul>
							</div><!-- / .tab-pane -->

							<div role="tabpanel" class="tab-pane" id="tab4">
								<ul class="list-circle">
									<li>
										<p>Pixie, Inissia, Essenza and Citiz – press the two buttons simultaneously for three seconds.</p>
									</li>
									<li>
										<p>U – press and hold three buttons simultaneously for three seconds.</p>
									</li>
									<li>
										<p>Latissima – take out the descaling nozzle.</p>
									</li>
								</ul>
							</div><!-- / .tab-pane -->

						</div><!-- / .tab-content -->

					</div><!-- / .tab-container -->

					<div class="clearfix"></div>
					<div class="space45"></div>
					<div class="content-text">For more detail, please watch the following demo videos :</div>
					<div class="space45"></div>
					<div class="row descalling-wrapper">
						
						<div class="col-md-4 item-descalling-video">
							<div class="subitem">
								
								<a href="http://www.youtube.com/watch?v=1I1sE-OJQA4?rel=0" class="large-views" rel="prettyPhoto">
									<img src="images/youtube-thumbnail.jpg" alt="">
								</a>
								<div class="video-wrapper small-views">
									<iframe width="560" height="315" src="http://www.youtube.com/embed/1I1sE-OJQA4" frameborder="0" allowfullscreen></iframe>
								</div><!-- / .video-wrapper .small-views -->
								
								<h2>Pixie or Inisia</h2>
							</div>
						</div><!-- / .item-descalling-video -->

						<div class="col-md-4 item-descalling-video">
							<div class="subitem">
								
								<a href="http://www.youtube.com/watch?v=1I1sE-OJQA4?rel=0" class="large-views" rel="prettyPhoto">
									<img src="images/youtube-thumbnail.jpg" alt="">
								</a>
								<div class="video-wrapper small-views">
									<iframe width="560" height="315" src="http://www.youtube.com/embed/1I1sE-OJQA4" frameborder="0" allowfullscreen></iframe>
								</div><!-- / .video-wrapper .small-views -->

								<h2>Essenza</h2>
							</div>
						</div><!-- / .item-descalling-video -->

						<div class="col-md-4 item-descalling-video">
							<div class="subitem">
								
								<a href="http://www.youtube.com/watch?v=1I1sE-OJQA4?rel=0" class="large-views" rel="prettyPhoto">
									<img src="images/youtube-thumbnail.jpg" alt="">
								</a>
								<div class="video-wrapper small-views">
									<iframe width="560" height="315" src="http://www.youtube.com/embed/1I1sE-OJQA4" frameborder="0" allowfullscreen></iframe>
								</div><!-- / .video-wrapper .small-views -->

								<h2>U</h2>
							</div>
						</div><!-- / .item-descalling-video -->

						<div class="col-md-4 item-descalling-video">
							<div class="subitem">
								
								<a href="http://www.youtube.com/watch?v=1I1sE-OJQA4?rel=0" class="large-views" rel="prettyPhoto">
									<img src="images/youtube-thumbnail.jpg" alt="">
								</a>
								<div class="video-wrapper small-views">
									<iframe width="560" height="315" src="http://www.youtube.com/embed/1I1sE-OJQA4" frameborder="0" allowfullscreen></iframe>
								</div><!-- / .video-wrapper .small-views -->
								<h2>Citiz</h2>
							</div>
						</div><!-- / .item-descalling-video -->

						<div class="col-md-4 item-descalling-video">
							<div class="subitem">
								
								<a href="http://www.youtube.com/watch?v=1I1sE-OJQA4?rel=0" class="large-views" rel="prettyPhoto">
									<img src="images/youtube-thumbnail.jpg" alt="">
								</a>
								<div class="video-wrapper small-views">
									<iframe width="560" height="315" src="http://www.youtube.com/embed/1I1sE-OJQA4" frameborder="0" allowfullscreen></iframe>
								</div><!-- / .video-wrapper .small-views -->
								<h2>Latissima Plus</h2>
							</div>
						</div><!-- / .item-descalling-video -->

					</div><!-- / .descalling-wrapper -->

				</div><!-- / .satisfac__desc -->

			</div>

			<div class="clearfix"></div>
			<div class="space45"></div>
			<div class="space15"></div>
		</div><!-- / .container -->
	</div><!-- / .satisfac -->
 
	{{> subscribe_grey }}
</div>
