{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner6.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>Making the best espresso coffee</h1>
			</div>
		</div>
	</section><!-- / .hero-inner -->

	<div class="container">
		<article class="satisfa-splash reset-splash">
			<h2 class="title-centerline">How to use espresso machines</h2>
		</article>
	</div><!-- / .container -->

	<div class="satisfac reset-satisfac-top">
		<div class="container">
			<div class="row">
				
				<div class="satisfac__desc col-sm-12">
					<h2>Espresso - Understanding Your Shot of Java</h2>
					<div class="content-text">Espresso…it’s been hailed as the best thing to happen to coffee, but it’s also known as one of the strongest options on the market, and is often avoided by those with more sensitive palates. Developed in Italy, getting a good cup of espresso once meant having to go to a café or coffee shop. Even then, your results might be mixed depending on the skills and knowledge of the barista, as well as the equipment used in the shop. That’s changed with the relentless march of technology. Today, espresso machines are available for home use, ranging from traditional machines to Nespresso. If you’re curious about espresso, there’s a great deal to learn beyond just what systems are available, though.</div>

					<div class="space45"></div>
					<div class="video-wrapper">
						<iframe width="650" height="450" src="http://www.youtube.com/embed/3Rxuu_4XpEM" frameborder="0" allowfullscreen></iframe>
					</div><!-- / .video-wrapper -->
					<div class="space60"></div>

					<h2>The History of Espresso</h2>
					<div class="content-text">While steam-powered coffee machines were known prior to 1901 (some dating as far back as 1884), the first true espresso machine debuted just one year after the turn of the century. To clarify, a “true” espresso machine makes a single cup for each customer, rather than bulk brewing. From that point, espresso began to gain popularity in Italy, although it was a long time before the beverage made its way through the rest of Europe and eventually to American shores. In fact, true espresso arrived in America and many other English-speaking nations long after derivative beverages like cappuccinos and lattes (both of which use espresso as the base for a different drink). </div>

					<div class="content-text">What began in Italy slowly spread into Europe, gaining popularity mostly with younger coffee drinkers in the 1950s. It experienced a similar adoption by the youth of America a few years later, although members of the Italian diaspora around the world had been consuming espresso for far longer.</div>

					<div class="space45"></div>
					<h2>Differences Between Espresso and Conventional Coffee</h2>
					<div class="content-text">There are numerous differences between a shot of espresso and a cup of conventionally brewed coffee. This includes differences in the finished product, as well as in the brewing process. </div>

					<div class="content-text">The Brewing Process: </div>
					<div class="content-text">Espresso is brewed using almost boiling water through a small amount of coffee grounds under pressure. Once the pressure is alleviated, the water turns quickly to steam, but only after producing brewed coffee. It also produces the trademark foam that tops a cup of espresso. </div>

					<div class="content-text">The Finished Drink: </div>
					<div class="content-text">One sip of espresso is enough to tell you just how much it differs from a conventional cup of coffee. Espresso is thicker than coffee for one thing, and the flavors are far more concentrated. The creamy, foamy head (crema) is another difference. The thickness, or body, is derived from the higher concentration of solids and semi-solids in the liquid. You’ll also find that ounce for ounce, espresso has far more caffeine than a conventional cup of coffee. That doesn’t mean that a shot of espresso gives you a larger jolt than a traditional cup of coffee. Because espresso is usually served in shot form, there’s actually less caffeine consumed than with a regular cup of Joe.</div>

					<div class="space45"></div>
					<h2>Understanding Espresso Lingo</h2>
					<div class="content-text">Over the years, a number of espresso-specific words have come into use to describe shot size, as well as length. These include the following:</div>
					<ul class="list-circle">
						<li>
							<p>Single/solo – A single shot of espresso, approximately 0.8 ounces (originally the standard serving size)</p>
						</li>
						<li>
							<p>Double/doppio – A double shot of espresso, approximately 1.7 ounces (today’s standard serving size)</p>
						</li>
						<li>
							<p>Triple/triplo – A triple shot of espresso, approximately 2.5 ounces</p>
						</li>
						<li>
							<p>Ristretto – A reduced shot length (length can mean the height of the serving vessel, or it can imply changes to the amount of ground coffee and crema depending on where you are buying from)</p>
						</li>
						<li>
							<p>Normale – A standard shot length</p>
						</li>
						<li>
							<p>Lungo – A long shot length</p>
						</li>
						<li>
							<p>Caffe crema – An extra long shot (up to about 8 ounces)</p>
						</li>
					</ul><!-- / .list-circle -->

					<div class="space45"></div>
					<h2>Coffee Beverages Based on Espresso</h2>
					<div class="content-text">If you’ve been a latte lover for years, but aren’t really all that fond of espresso, you might find it surprising to learn that you’ve been drinking espresso all along. It’s used as the base for a broad range of very popular coffee beverages including:</div>
					<div class="box-list-divide clearfix">
						<ul class="list-circle">
							<li>
								<p>Latte</p>
							</li>
							<li>
								<p>Cortado</p>
							</li>
							<li>
								<p>Cappuccino</p>
							</li>
						</ul><!-- / .list-circle list-maxwidth-->			

						<ul class="list-circle">
							<li>
								<p>Flat White</p>
							</li>
							<li>
								<p>Macchiato</p>
							</li>
							<li>
								<p>Piccolo</p>
							</li>
						</ul>	
					</div><!-- / .box-list-divide -->


					<div class="space45"></div>
					<h2>Differences Between Espresso and Conventional Coffee</h2>
					<div class="content-text">Unless you’re a dedicated patron of a specific neighborhood coffee shop and would never dream of brewing your own, chances are good that you’ve considered the option of purchasing an espresso machine for your home. Do you really need a machine solely dedicated to espresso, though? </div>
					<div class="content-text">For the vast majority of coffee lovers, a Nespresso style machine will be the best choice as it offers the widest range of brewing options. An espresso machine can only be used to make espresso or espresso-based beverages. What do you do when you’re in the mood for a nice cup of regular coffee, though? What if you want to test out new flavors or new coffee styles, but not in an espresso? While espresso machines are capable of using any type of ground coffee (and numerous different grinds), they still make espresso. You either drink it as is, or use it to make a cappuccino, latte, macchiato or some other beverage, but there’s no getting around the fact that you can’t just make a regular cup of coffee. </div>
					<div class="content-text">There are other considerations here as well. For instance, an espresso machine needs regular cleaning, and it’s far more intensive than what you’ll find with a drip coffee maker, let alone a Nespresso machine. This is particularly true if you opt for a high-end machine that needs regular polishing.</div>
					<div class="content-text">With a Nespresso machine, on the other hand, the sky’s the limit. You can make espresso if you like, but you’re not limited to that option only. With the variety of pods on the market today, you’ll discover that you can brew whatever style of coffee you might want.</div>
					
					<div class="space15"></div>
					<div class="alignnone">
						<img src="images/coffee-bread.jpg">
					</div>
					<div class="space45"></div>
				</div><!-- / .satisfac__desc -->

			</div>
			<div class="clearfix"></div>
			<div class="space45"></div>
			<div class="space15"></div>
		</div>
	</div><!-- / .satisfac -->

	{{> subscribe_grey }} 
</div>
