{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner.jpg')">
		<div class="container">
			<div class="hero-inner__desc colorwhite">
				<h1>free shipping</h1>
			</div>
		</div>
	</section><!-- / .hero-inner -->

	<div class="satisfac reset-satisfac-top">
		<div class="container">
			<div class="row">
				
				<div class="satisfac__desc col-sm-12">
					<div class="clearfix"></div>
					<div class="space45"></div>
					<div class="satisfa-testi no-bord">
					    <div class="thumb pull-left col-sm-6">
					        <figure>
					            <img src="images/boxhiline.jpg">
					        </figure>
					    </div><!-- / .thumb -->
					    <div class="desc col-sm-6 no-padd">
					        <p class="font-28">HiLine Coffee is committed to providing you with delicious coffee, great value and free shipping. All orders of $50 or more qualify for free shipping. Otherwise, shipping is only $5.</p>

					        <div class="clearfix"></div>
					        <div class="space30"></div>
					        <a href="#" class="btn btn-green">show now</a>
					    </div><!-- / .desc -->

					</div>

				</div><!-- / .satisfac__desc -->

			</div>

			<div class="clearfix"></div>
			<div class="space45"></div>
			<div class="space15"></div>
		</div><!-- / .container -->
	</div><!-- / .satisfac -->
 
	{{> subscribe_grey }}
</div>
