{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner10.jpg')">
		<div class="container">
			<div class="hero-inner__desc colorwhite">
				<h1>Perfect moka Pot coffee</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<h2 class="title-centerline">HOW TO MAKE THE BEST COFFEE PRESS EXPERIENCE</h2>
		<article>
				<h2 class="title-article">A Look at the French Press – Is It Right for Your Caffeinating Needs?</h2>
				<div class="content-text"><p>For most of us, a standard drip coffee maker or a single-serve coffee brewer like Keurig is all that’s needed to get the morning cup of motivation. However, it’s rumored that a French press might be the better option, particularly for those who want the ultimate in control over brewing conditions and who truly savor amazing coffee. What’s the truth here? Is a French press the best way to get delicious hot java or is it all just hype? Actually, there is some truth to it all, but we’ll let you judge for yourself.</p></div>
				<div class="video-wrapper">
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/iMDUUfbr-X4" frameborder="0" allowfullscreen></iframe>
                </div>
		</article>
		<div class="space45"></div>

				
		<div class="tab-container">

			<ul class="nav nav-tabs nav-hiline" role="tablist">
				<li role="presentation" class="active">
					<a href="#tab1" aria-controls="difference" role="tab" data-toggle="tab">Parts of a French Press </a>
				</li>
				<li role="presentation">
					<a href="#tab2" aria-controls="cost" role="tab" data-toggle="tab">  How a French Press Works</a>
				</li>
				<li role="presentation">
					<a href="#tab3" aria-controls="taste" role="tab" data-toggle="tab">Pros of a French Press  </a>
				</li>
				<li role="presentation">
					<a href="#tab4" aria-controls="better" role="tab" data-toggle="tab">Cons of a French Press</a>
				</li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="tab1">
					<div class="content-text"><p>
						There are only a few parts to a French press, which makes cleanup and handling pretty easy. There’s the beaker (the body of the press – you might be tempted to call it a carafe). This is usually made of glass in higher-end models, but economy presses use clear acrylic instead. On top of the beaker, you’ll find a lid, usually made of metal, but sometimes of hard plastic. Finally, there’s the plunger. This fits tightly into the beaker, and has a fine wire mesh screen attached to the bottom. The screen is what separates the coffee grounds from the finished coffee before you pour by pressing them to the bottom of the carafe. It’s also what gives the French press its name (because you press the coffee down).</p></div>
				</div>
				<div role="tabpanel" class="tab-pane" id="tab2">
					<div class="content-text"><p>If you’re in a hurry to get your morning cup of Joe and get on the road to work, a French press isn’t the ideal option. It’s more time consuming than a Nespresso machine, or any other pod-based system, and even takes more time than your average drip coffee maker. However, for all that, it might be a worthwhile investment, particularly if you entertain a good deal or simply have the time required to use the press every morning.</p>
					<p>To use a French press, you’ll first need to add your coffee to the beaker. You need coarse ground coffee – the grind you use for your drip coffee maker is too fine, and will float right through the tiny holes in the mesh screen. Next, you add hot water. Overall, you’ll need roughly 1 ounce of coffee grounds to 15 ounces of water. Add one-third of the water (at 200 to 205 degrees Fahrenheit), and stir the coffee grounds. Let it set for 30 seconds and allow the coffee to “bloom”. Next, add the rest of the water slowly. Cover the beaker with the lid and let it sit for about four minutes – this is the brewing period.</p>
					<p>After brewing is done, press the plunger down to separate the coffee grounds from the liquid. Most French press users now pour the coffee into a serving carafe, or serve it in its entirety. If it sits too long in contact with the grounds at the bottom of the beaker, the coffee can develop a bitter taste that many find unpalatable.</p>
					</div>
					<div class="space60"></div>

					<figure class="alignnone">
						<img src="images/frenchpress.jpg">
					</figure>
				</div>
				<div role="tabpanel" class="tab-pane" id="tab3">
					<div class="content-text"><p>It’s true that despite the lengthier brewing process and more hands-on nature of the French press that there are some pros to using one. These include the following:</p>
						 <ul class="list-circle">
                            <li>
                                <p>You have complete control over water temperature, which is a good thing considering that many coffee pots  aren’t capable of getting water to the optimum temperature range (200 – 205 degrees F).</p>
                            </li>
                            <li>
                                <p>There are no filters to dispose of, and there’s no papery aftertaste to your coffee from a filter (some people can  taste the paper residue, but others don’t or are completely accustomed to it).</p>
                            </li>
                            <li>
                                <p>Coffee is more full bodied than what’s possible with a conventional coffee pot due to the sediment in the cup.  Sediment is also a good source of fiber (if you can bring yourself to drink it).</p>
                            </li>
                            <li><p>The simplicity of the design means that cleaning your French press isn’t a huge ordeal. However, there is more cleanup involved than with a drip coffee maker or a pod or cup-based system.</p></li>
                        </ul>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="tab4">
					<div class="content-text"><p>While there are certainly benefits to using a French press, there are also some drawbacks. These include the following:</p>
						 <ul class="list-circle">
                            <li>
                                <p>You’ll probably want to grind your own beans, which adds time. You’ll also need to get the right grind, which  means buying additional equipment – a burr grinder is necessary. That also means more cleanup (you have to clean your grinder).</p>
                            </li>
                            <li>
                                <p>Because of the sediment in the bottom of the cup, most people don’t actually finish the entire cup. Sediment is also messy.</p>
                            </li>
                            <li>
                                <p>You can’t let the coffee sit – it needs to be consumed immediately. There is no warmer on a French press, and  even if there were, the coffee grounds at the bottom of the beaker would make the coffee too bitter to really enjoy.</p>
                            </li>
                        </ul>
					</div>
				</div>
			</div><!-- / .tab-content -->
		</div><!-- / .tab-container -->


		<div class="clearfix"></div>
		<div class="space45"></div>
		<div class="space15"></div>
	</div><!-- / .container -->
</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->