{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner3.jpg')">
		<div class="container">
			<div class="hero-inner__desc colorwhite">
				<h1>giving back</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<h2 class="title-centerline">every child deserves an education</h2>
		<div class="satisfac__desc">

			<div class="content-text"><p>At HiLine Coffee Company we not only believe in great tasting coffee and excellent service, but also in giving back. As a small business we want to use our resources to give back in the most meaningful way possible and to ensure our contributions really help people in need. To accomplish this we partnered with Carolina for Kibera to fund scholarships that would send promising Kenyan girls to high school. We chose to work with Carolina for Kibera because our donations would go directly to help those in need and since many of our coffee beans are sourced from Kenya, we would be helping people in the region that is so vital to our business. We believe that every child deserves an education, but in Kenya public education stops before high school. In Kibera, which is an impoverished slum in Nairobi, Kenya, many families live on one or two dollars a day, and school is an unattainable luxury. Girls who cannot afford tuition are forced to leave school and work, or in some cases marry at a young age. The Scholarship Program ensures that a family’s material circumstances do not limit a student’s ability to excel in school. None of the scholarships provides full awards. Families share responsibility for fees as a demonstrated commitment to students’ academic success.</p>
			<p>The Scholarship Program offers more than just school fees. It fully invests in student development, providing mentorships, counseling, tutoring, career panels, study skills and community service. In 2010, its first year, the Scholarship Program awarded 307 scholarships to primary, secondary and post-secondary students from Kibera. Many recipients of scholarships balance family commitments and schoolwork alongside CFK trainings and activities.</p>
			</div>
			<div class="space30"></div>
			<div class="box-donate">
				<div class="subbox-donate">
					<p>For more information and to help us in this important work by donating to Carolina for Kibera please visit the CFK website.</p>
					<a href="#" class="btn btn-green btn-big">donate now</a>
				</div>
			</div><!-- / .box-donate -->
			<div class="space60"></div>
		</div><!-- / .satisfac__desc -->
	</div><!-- / .container -->
</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->