{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner10.jpg')">
		<div class="container">
			<div class="hero-inner__desc colorwhite">
				<h1>how it works</h1>
			</div>
		</div>
	</section><!-- / .hero-inner -->

	<div class="container">
		<article class="satisfa-splash reset-splash">
			<h2 class="title-centerline">ground coffee packs</h2>
		</article>
	</div><!-- / .container -->

	<div class="satisfac reset-satisfac-top">
		<div class="container">
			<div class="row">
				
				<div class="col-md-12 clearfix">
					<div class="row coffee-packs-wrapper">
						
						<div class="col-md-2 item-coffee-packs clearfix">
							<div class="subitem">
								<img src="images/coffee_packs/1.jpg">
								<h3>French Press</h3>
							</div>
						</div><!-- / .item-coffee-facks -->

						<div class="col-md-2 item-coffee-packs clearfix">
							<div class="subitem">
								<img src="images/coffee_packs/2.jpg">
								<h3>Moka Pot</h3>
							</div>
						</div><!-- / .item-coffee-facks -->

						<div class="col-md-2 item-coffee-packs clearfix">
							<div class="subitem">
								<img src="images/coffee_packs/3.jpg">
								<h3>Aeropress</h3>
							</div>
						</div><!-- / .item-coffee-facks -->

						<div class="col-md-2 item-coffee-packs clearfix">
							<div class="subitem">
								<img src="images/coffee_packs/4.jpg">
								<h3>Drip</h3>
							</div>
						</div><!-- / .item-coffee-facks -->

						<div class="col-md-2 item-coffee-packs clearfix">
							<div class="subitem">
								<img src="images/coffee_packs/5.jpg">
								<h3>Chemex</h3>
							</div>
						</div><!-- / .item-coffee-facks -->

						<div class="col-md-2 item-coffee-packs clearfix">
							<div class="subitem">
								<img src="images/coffee_packs/6.jpg">
								<h3>Precolator</h3>
							</div>
						</div><!-- / .item-coffee-facks -->

					</div><!-- / .coffee-packs-wrapper -->

					<div class="clearfix"></div>
					<div class="space15"></div>
					<div class="satisfa-testi smaller-marg-bottom">
						<figure class="thumb padding-help col-sm-5">
							<div class="video-wrapper">
								<iframe width="650" height="450" src="http://www.youtube.com/embed/3Rxuu_4XpEM" frameborder="0" allowfullscreen></iframe>
							</div>
						</figure><!-- / .thumb padding-help -->
						<div class="desc col-sm-7">
							<h4>No Grinding. No Measuring. No Mess.</h4>
							<p>We love a fresh, strong, delicious cup of coffee in the morning. But sometimes there's just not enough time. So we set out to make manual brewing more convenient, and developed a technology to measure, and vacuum seal fresh ground coffee in a single-serve pack. And it really works! We use award winning coffees and they stay fresh until you're ready to brew the perfect cup. Now you can enjoy the quality of a specialty café without the hassle.</p>
						</div>
					</div><!-- / .satisfa-testi -->

					<div class="row coffee-packs-wrapper-sell">
						
						<div class="col-md-4 item-coffee-packs-sell clearfix">
							<div class="subitem-packs-sell">
								<figure>
									<img src="images/coffee_packs_sell/1@2x.jpg">
								</figure>
								<h2>Roast</h2>
								<p>We roast award-winning beans when you place an order.</p>
							</div> 
						</div><!-- / .col-md-4 .item-coffee-packs-sell -->

						<div class="col-md-4 item-coffee-packs-sell clearfix">
							<div class="subitem-packs-sell">
								<figure>
									<img src="images/coffee_packs_sell/2@2x.jpg">
								</figure>
								<h2>Grind</h2>
								<p>We grind the beans for use with the coffee maker of  your choice.</p>
							</div>
						</div><!-- / .col-md-4 .item-coffee-packs-sell -->

						<div class="col-md-4 item-coffee-packs-sell clearfix">
							<div class="subitem-packs-sell">
								<figure>
									<img src="images/coffee_packs_sell/3@2x.jpg">
								</figure>
								<h2>Packs</h2>
								<p>We seal the cofffee in single-serve packs to preserver freshness.</p>
							</div> 
						</div><!-- / .col-md-4 .item-coffee-packs-sell -->

						<div class="clearfix"></div>
						<div class="content-text text-center">
							<a href="#" class="btn btn-green">shop now</a>
						</div>

					</div><!-- / .row .coffee-packs-wrapper-sell -->

				</div><!-- / .col-md-12 -->

			</div>

			<div class="clearfix"></div>
			<div class="space45"></div>
			<div class="space15"></div>
		</div><!-- / .container -->
	</div><!-- / .satisfac -->

	{{> subscribe_grey }}
</div>