{{> site-header}}

<div class="site-main">
<!-- SECTION-BANNER-BEGIN -->
	<section id="banner" class="section-box section-banner">
		<div class="banner-caption">
			<h1>Fresh Coffe For Less.</h1>
			<p>The freshet pods for Keurig and Nespresso delivered to your door. <br>We cut out the middleman and pass the savings onto you.</p>
			<p class="btn-center">
				<a href="#" class="btn btn-green">Pods for Nespresso</a>
				<a href="#" class="btn btn-green">Pods for keurig</a>
			</p>
		</div>	
	</section><!-- / #banner -->
 

<!-- SECTION-BESTSELLER -->
	<section id="bestseller" class="section-box section-bestseller ">
		<div class="container">
			
			<header class="header-section">
				<h2>best sellers</h2>
			</header>

			<div class="row bestseller-container">
				
				<div class="col-md-6">
					
					<header class="header-bestseller">
						<h3>for nespresso</h3>
					</header>

					<div class="row subbestseller-container">
						
						<div class="col-md-4 item-bestseller">
							<a class="subitem-bestseller">
								<img src="images/nespresso/1.jpg">

								<div class="bestseller-info">
									<h4>wallstreet</h4>
									<span class="price">$0.65 /POD</span>
								</div>
							</a>
						</div><!-- / .col-md-4 .item-bestseller -->

						<div class="col-md-4 item-bestseller">
							<a class="subitem-bestseller">
								<img src="images/nespresso/2.jpg">

								<div class="bestseller-info">
									<h4>times square</h4>
									<span class="price">$0.59 /POD</span>
								</div>
							</a>
						</div><!-- / .col-md-4 .item-bestseller -->

						<div class="col-md-4 item-bestseller">
							<a class="subitem-bestseller">
								<img src="images/nespresso/3.jpg">

								<div class="bestseller-info">
									<h4>brookyln</h4>
									<span class="price">$0.39 /POD</span>
								</div>
							</a>
						</div><!-- / .col-md-4 .item-bestseller -->

					</div><!-- / .row .subbestseller-container -->

				</div><!-- / .col-md-6 -->

				<div class="col-md-6">
					
					<header class="header-bestseller">
						<h3>for keurig</h3>
					</header>

					<div class="row subbestseller-container">
						
						<div class="col-md-4 item-bestseller">
							<a class="subitem-bestseller">
								<img src="images/keurig/1.jpg">

								<div class="bestseller-info">
									<h4>donut truck</h4>
									<span class="price">$0.66 /POD</span>
								</div>
							</a>
						</div><!-- / .col-md-4 .item-bestseller -->

						<div class="col-md-4 item-bestseller">
							<a class="subitem-bestseller">
								<img src="images/keurig/2.jpg">

								<div class="bestseller-info">
									<h4>fifth ave</h4>
									<span class="price">$0.69 /POD</span>
								</div>
							</a>
						</div><!-- / .col-md-4 .item-bestseller -->

						<div class="col-md-4 item-bestseller">
							<a class="subitem-bestseller">
								<img src="images/keurig/3.jpg">

								<div class="bestseller-info">
									<h4>stock exchange</h4>
									<span class="price">$0.58 /POD</span>
								</div>
							</a>
						</div><!-- / .col-md-4 .item-bestseller -->


					</div><!-- / .row .subbestseller-container -->

				</div><!-- / .col-md-6 -->

				<p class="btn-center">
					<a href="#" class="btn btn-green">plans for nespresso</a>
					<a href="#" class="btn btn-green">plans for keurig</a>
				</p>

			</div><!-- / .row .bestseller-container -->

		</div>
	</section><!-- / #bestseller -->

<!-- SECTION-SUBSCRIBE -->
	<section id="subscribe" class="section-box-small section-subscribe bg-gray-light">
		<div class="container">
			<p class="text-subscribe">Get HiLine in your office, and get free coffee at home! <a href="#">Learn more <i class="fa fa-play"></i></a></p>
		</div>
	</section><!-- / #subscribe -->

<!-- SECTION-CLIENT -->
	<section id="client" class="section-box-small section-client bg-gray-dark">
		<div class="container">
			
			<div class="col-md-3">
				<h3 class="title-client">as featured in</h3>
			</div><!-- / .col-md-3 -->
			<div class="col-md-3">
				<a href="#" class="client-link">
					<img src="images/client/1.png">
				</a>
			</div><!-- / .col-md-3 -->
			<div class="col-md-3">
				<a href="#" class="client-link">
					<img src="images/client/2.png">
				</a>
			</div><!-- / .col-md-3 -->
			<div class="col-md-3">
				<a href="#" class="client-link">
					<img src="images/client/3.png">
				</a>
			</div><!-- / .col-md-3 -->

		</div>
	</section><!-- / #client -->
</div> <!-- Site MAin -->
