{{> site-header-cart }}
<div class="site-main">

	<section class="hero-inner" style="background-image: url('images/banner_inspiration.jpg')">
		<div class="container">
			<div class="hero-inner__desc colorwhite text-left">
				 <h1>terms & conditions</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<section class="inspi-wraplist row">
				<article  class="inspi-item">
						<div class="inside">
							<div class="fig-caption">
									<h4>Health Benefits of Coffee</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, dolore magna aliqua..
										<br><a href="#" class="link-more">Read more</a>
									</p>
							</div> <!--inspi-caption -->
							<figure>
									<img src="images/inspi_thumb.jpg" alt="" />
							</figure>
						</div>
				</article> <!-- ///inspi-item -->

				<article  class="inspi-item">
						<div class="inside">
							<div class="fig-caption">
									<h4>Alternative to Green Mountain Coffee</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, dolore magna aliqua..
										<br><a href="#" class="link-more">Read more</a>
									</p>
							</div> <!--inspi-caption -->
							<figure>
									<img src="images/inspi_thumb2.jpg" alt="" />
							</figure>
						</div>
				</article> <!-- ///inspi-item -->

				<article  class="inspi-item">
						<div class="inside">
								<div class="fig-caption">
										<h4>Health Benefits of Coffee</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, dolore magna aliqua..
											<br><a href="#" class="link-more">Read more</a>
										</p>
								</div> <!--inspi-caption -->
								<figure>
										<img src="images/inspi_thumb.jpg" alt="" />
								</figure>
						</div>
				</article> <!-- ///inspi-item -->

				<article  class="inspi-item">
						<div class="inside">
							<div class="fig-caption">
									<h4>Alternative to Green Mountain Coffee</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, dolore magna aliqua..
										<br><a href="#" class="link-more">Read more</a>
									</p>
							</div> <!--inspi-caption -->
							<figure>
									<img src="images/inspi_thumb2.jpg" alt="" />
							</figure>
						</div>
				</article> <!-- ///inspi-item -->
				<article  class="inspi-item">
						<div class="inside">
							<div class="fig-caption">
									<h4>Health Benefits of Coffee</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, dolore magna aliqua..
										<br><a href="#" class="link-more">Read more</a>
									</p>
							</div> <!--inspi-caption -->
							<figure>
									<img src="images/inspi_thumb.jpg" alt="" />
							</figure>
						</div>
				</article> <!-- ///inspi-item -->

				<article  class="inspi-item">
						<div class="inside">
							<div class="fig-caption">
									<h4>Alternative to Green Mountain Coffee</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, dolore magna aliqua..
										<br><a href="#" class="link-more">Read more</a>
									</p>
							</div> <!--inspi-caption -->
							<figure>
									<img src="images/inspi_thumb2.jpg" alt="" />
							</figure>
						</div>
				</article> <!-- ///inspi-item -->

				<div class="pagination-wrap container">
						<ul class="pagination paginateStyle">
							    <li>
							      <a href="#" class="prevnext"><span><i class="fa fa-caret-left" aria-hidden="true"></i>&nbsp;&nbsp;Prev</span></a>
							    </li>
							    <li><span>5</span></li>
							    <li><a href="#">10</a></li>
							    <li><a href="#">15</a></li>
							    <li><a href="#">20</a></li>
							    <li><a href="#">25</a></li>
							    <li><a href="#">30</a></li>
							    <li><a href="#">35</a></li>
							    <li><a href="#">40</a></li>
							    <li>
							      <a href="#" class="prevnext" ><span>Next&nbsp;&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i></span></a>
							    </li>
						</ul>
				</div>
		</section> <!-- //inspi-wraplist -->
	</div>
</div><!-- / .site-main -->
