{{> site-header-cart }}
<div class="site-main">
	<div class="space20"></div>
	<article class="article-full container">
		<figure class="img-right"><img src="images/bulletproof.jpg"></figure>
		<p>One thing life teaches you is never to say, "Now I've seen everything." Because you haven't. Case in point: butter in coffee -- called a "Bulletproof coffee," after after Dave Asprey’s Bulletproof Diet that spawned it, is a thing now.I've had buttered rum, and like lots of people in the New York/New Jersey area, I love a good buttered roll with my coffee. But the thought of actually putting butter in my coffee had never occurred to me. </p>
		<p>In the last month or so, however, I've seen at least half a dozen articles extolling the virtues of the Bulletproof Coffee. I'm skeptical of the supposed health benefits, but having an adventuresome palate (and a cast-iron stomach), I figured I'd have nothing to lose by a bit of bandwagon jumping, and decided to give buttered coffee a try. </p>
		<p>First, obviously, you'll need to make your coffee. This isn't as straightforward as it sounds, since you can't just dump a couple of spoonfuls of instant into a mug, add water, and stir in any old butter (or, God forbid, margarine). If you're going to do this, you owe it to yourself (and your stomach) to do it right. You'll find several recipes for Bulletproof Coffee online, but most of them require you to buy and add proprietary supplements. Since I'm not big on that sort of thing, I'm going to break this down to three essentials. So: </p>

		<ul class="list-unstyled">
			<li>
				<h3 class="title-xs-normal">
					1.&nbsp; Use high-quality coffee. 
				</h3>
				<div class="content-text">
					<p>This should go without saying, but starting with the right coffee -- try HiLine's <a href="#" class="link-inline">Tribeca Medium Roast,</a> or <a href="#" class="link-inline">Empire State Medium Roast,</a> since a darker roast tastes a bit "off" if you're brewing a Bulletproof Coffee -- makes a big difference. </p>
				</div>
				<div class="space10"></div>
			</li>
			<li>
				<h3 class="title-xs-normal">
					2.&nbsp; Use a blender. 
				</h3>
				<div class="content-text">
					<p>If you've got a traditional blender, that'll work fine (run the pitcher under hot water first). So will a Magic Bullet, Ninja, or pretty much anything else (my personal preference is my immersion blender, since it cleans easily). Stirring doesn't quite cut it, since the oils in the butter will just separate from the coffee and leave you with a cup of coffee with an oil slick floating on top. A blender emulsifies the oil and liquid, and supposedly also aids the body in absorbing the nutrients in the butter.  </p>
				</div>
				<div class="space10"></div>
			</li>
			<li>
				<h3 class="title-xs-normal">
					2.&nbsp; Use a blender. 
				</h3>
				<div class="content-text">
					<p>Unsalted is best; it's a little sweeter typically, and there's no salt to interfere with the taste of the coffee. Some people like a bit of salt (a la salted caramel), but that's something that's better done to taste. If you can find it, use Kerrygold or your favorite organic, grass-fed butter. The taste is a world away from the rest of the bland stuff in your grocery store's butter section. </p><p>t's that simple. You can add cream or sugar if you'd like, but I've found that the butter adds a flavor all its own to the coffee. It's different than cream (obviously), but there's a definite depth there that enhances the flavor of your morning brew. There's a bit of debate about the health benefits (more on that here, here, and here), but many people report that a Bulletproof gives them easy-to-digest protein that doesn't leave them feeling weighted down. I did find myself wanting less for breakfast the morning I tried this little experiment, and some part of that may have stemmed from the butterfat triggering the brain's sensation of satiety without my having to eat quite as much. <br>Is it for you? Well, there's only one way to find out.</p>
				</div>
				<div class="space10"></div>
			</li>
		</ul>
		<span class="buttonSm-text">Photo Credit: &copy; Ian L | Freerangestock.com</span>
		<div class="space60"></div>
	</article> <!-- article-full --> 
	{{> subscribe_grey }}
</div><!-- / .site-main -->