{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner10.jpg')">
		<div class="container">
			<div class="hero-inner__desc colorwhite">
				<h1>Perfect moka Pot coffee</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<h2 class="title-centerline">COMPARE KEURIG VS KEURIG 2.0</h2>
		<article class="article-full">
				<h2 class="title-article">Using the Moka Pot - Brewing Old School</h2>
				<div class="content-text"><p>Of all the various coffee brewing systems on the market today, few are as iconic as the moka pot. Originally invented back in 1933, the moka pot has become a trademark of the coffee industry, and even features prominently in industrial art and design. You’ll find a wide range of designs and types on the market, but they all work in roughly the same way. Moka pots don’t have the same work-intensive operation as French presses or the AeroPress, and can be used to brew more than a single cup at a time (although they don’t really make the same quantity as larger drip coffee makers do). What should you know about moka pots?</p></div>
				<div class="space20"></div>
				<div class="video-wrapper">
                   <iframe width="560" height="250" src="https://www.youtube.com/embed/iMDUUfbr-X4" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="space30"></div>
		</article>
		<article class="article-full">
			<h2 class="title-article">What Is It?</h2>
				<div class="content-text"><p>Superficially, the moka pot looks a great deal like a conventional percolator designed for use with a gas or electric stove. In fact, it operates in much the same way, using boiling water and steam to transform dry coffee grounds into brewed coffee. The same vessel contains the water for boiling, as well as the coffee grounds and the carafe to hold and serve brewed coffee.</p></div>
		</article>
		<div class="space45"></div>
		<div class="tab-container">
			<ul class="nav nav-tabs nav-hiline" role="tablist">
				<li role="presentation" class="active">
					<a href="#tab1" aria-controls="difference" role="tab" data-toggle="tab">Components of a Moka Pot </a>
				</li>
				<li role="presentation">
					<a href="#tab2" aria-controls="cost" role="tab" data-toggle="tab"> Components of a Moka Pot </a>
				</li>
				<li role="presentation">
					<a href="#tab3" aria-controls="taste" role="tab" data-toggle="tab">Pros to Using a Moka Pot</a>
				</li>
				<li role="presentation">
					<a href="#tab4" aria-controls="better" role="tab" data-toggle="tab">Cons to Using a Moka Pot</a>
				</li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="tab1">
					<div class="content-text">
						<p>Unlike the Chemex system, there are several different components necessary to make a moka pot work. You’ll find four main components here:</p>
						 <ul class="list-circle">
	                        <li>Lower Chamber – The bottom chamber of the pot holds the water needed for boiling.</li>
	                        <li>Coffee Basket and Tube – A basket sits on top of the lower chamber, with a metal tube leading down into the water below.
	                        </li>
	                        <li>Upper tube and Upper Chamber – The top of the moka pot is comprised of an upper chamber and an  upward leading tube.
	                        </li>
	                        <li>Filters – There are two metal filters in a moka pot, one on the basket containing the grounds, and a second inside the upper tube (both the lower tube and upper tube are made as one piece with their respective filters)les exists to meet your requirements in terms of aesthetics and brewing speed</li>
	                    </ul>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="tab2">
					<div class="content-text"><p>If you’ve ever used a percolator, then you understand the rudiments of how a moka pot works. It’s pretty simple, although not as basic as a French press, Chemex or AeroPress. With a moka pot, water is added to the bottom chamber, and then the pot is placed over a heat source (a gas or electric stove eye, usually, but there are self-heating units on the market). </p>
					<p>Once the water begins to approach boiling temperature, steam power forces it up the central tube and into the basket holding the coffee grounds. The force of the steam continues to move the water (now coffee) upward through the upper tube, where it collects in the top chamber. Once the brewing process is finished, you simply pour a cup of coffee through the spout. </p>
					<p>There are a few differences between a moka pot and a regular percolator. The first and one of the most important differences is the chambered design. A regular percolator uses just one large chamber, with a basket to hold ground coffee attached to a long tube that sits on a base in the carafe. </p>
					<p>Another difference is that moka pots are pressurized. They use a rubber gasket to prevent steam and heat from escaping, allowing them to build to boiling temperature much more quickly than a percolator, which often lacks pressurization. Finally, there’s a pressure relief valve built in that allows excess pressure and heat to escape without letting it all out.</p>
					</div>
					<div class="space60"></div>

					<figure class="alignnone">
						<img src="images/frenchpress.jpg">
					</figure>
				</div>
				<div role="tabpanel" class="tab-pane" id="tab3">
					<div class="content-text"><p>If you’re interested in brewing coffee in a more traditional way, rather than using a drip coffeemaker or a pod or cup-based system, there are a number of things to recommend a moka pot:</p>
						 <ul class="list-circle">
                            <li>The design is very iconic and provides a direct connection to the past</li>
                            <li>It’s less time consuming and labor-intensive than some other options (French presses, for instance)
                            </li>
                            <li>Both electric and stovetop versions are available to fit your living arrangements
                            </li>
                            <li>While capable of brewing more than a single cup, moka pots are small enough to be very portable.</li>
                            <li>A range of sizes and styles exists to meet your requirements in terms of aesthetics and brewing speed</li>
                        </ul>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="tab4">
					<div class="content-text">
						<p>While there’s a lot to <a href="#" class="link-inline">recommend</a> brewing your coffee in a moka pot, there are a few things that might make you rethink that decision:</p>
						<ul class="list-circle">
							<li>Gaskets need to be replaced periodically. While replacement is simple, finding the exact gasket you need  may or may not be an easy task (depending on the brand you choose)
							</li>
							<li>ilters (and the tubes connected to them) need to be replaced periodically</li>
							<li>While cleaning is minimal for those with a traditional frame of mind (the oils are allowed to build up on the equipment to prevent an aluminum taste being imparted to the coffee), long disuse will lead to rancidity and the need to thoroughly cleanse all parts of the moka pot
							</li>
							<li>It’s possible for grounds to slip through both filters and wind up in your coffee (like with a percolator)
							</li>
							<li>
								Safety valves can become blocked and will need periodic inspections
							</li>
							<li>Coffee brewed in a moka pot has stronger flavors, which some may find off-putting
							</li>
							<li>Moka pots do not make true espresso, despite their association. The pressures used in a moka pot are far too low to produce true espresso
							</li>
						</ul>
						<p>Moka pots are undeniably beautiful and historic. They can also be good options for those who want a deeper connection with traditional coffee brewing methods. Because there’s less labor involved in brewing a cup of coffee, they’re possibly a better option than a French press, as well. However, they’re slower than a pod or cup-based system because of the need to boil water, often with gas or electric stove heating. </p>
						<p>In the end, moka pots are more than just curiosities from the past, and present a unique way to enjoy your coffee. However, they’re not the perfect solution for all coffee lovers.</p>
						<div class="space30"></div>
						<figure class="alignnone">
							<img src="images/mokapod.jpg" alt="">
						</figure>
					</div>
				</div>
			</div><!-- / .tab-content -->
		</div><!-- / .tab-container -->
		<div class="space45"></div>
	</div><!-- / .container -->
</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->