{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner2.jpg')">
		<div class="container">
			<div class="hero-inner__desc colorwhite">
				<h1>Need a coupon or Discount ? </h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<article class="satisfa-splash reset-splash">
			<h2 class="title-centerline">looking for a nespresso coupon to use</h2>
		</article>
	</div><!-- / .container -->

	<div class="satisfac reset-satisfac-top">
		<div class="container">
			<div class="row">
				
				<div class="satisfac__desc col-sm-12">
					<h2>Looking for a Nespresso Coupon to use?</h2>
					<div class="content-text">We're HiLine Coffee and we not endorsed, sponsored, licensed or approved by Nespresso or any of its affiliates. We don't sell Nespresso, we do sell alternative Nespresso compatible coffee pods at a big discount. We started the business in part because many of our friends and avid Nespresso fans frequently pointed out to us that the price of pods is high and it would be great if somebody could offer a better deal. As a rule, luxury companies price products high and almost never offer coupons or discounts. We decided to do business differently. Because we are small and have only a few thousand customers, we can't afford to lose any of them. So we adopted an "every day low price" strategy. Our customers are happy because they get to save hundreds of dollars a year, and we are building a great business because this approach markets itself. Please don't forget to tell your friends with Nespresso machines about us!
					</div><!-- / .content-text -->


					<div class="clearfix"></div>
					<div class="space45"></div>
					<h2>Is Our Coffee Any Good?</h2>
					<div class="content-text">We think so! We drink a lot of it and constantly search for new blends and roasts. HiLine works with small specialty roasters that frequently have direct relationships with coffee farmers in Colombia, Guatemala, Costa Rica, Brazil and Kenya, among other places. This allows us to have great sourcing relationships and also constantly improve our coffees.</div>
					<div class="clearfix"></div>
					<div class="space15"></div>
					<div class="content-text">Living in New York, we are lucky to be surrounded by a lot of great cafes, like <a href="#" class="link-inline-blue">Four Barrel Coffee</a>. Our own coffee drinking influence HiLine's range of blends and coffees. We aim to meet our own standards and exceed your high expectations. All of this at a 30%+ discount to Nespresso! That's the best deal you can get!
					</div>
						
					<div class="clearfix"></div>
					<div class="space45"></div>
					<div class="satisfa-testi">
						<figure class="thumb col-sm-5">
							<img src="images/thumb_profile.jpg">
						</figure>
						<div class="desc col-sm-7">
							<h4>What People are Saying About Us</h4>
							<p>As a chef who travels the country opening restaurants and cooking for high-profile clients of the most discerning taste, I'm always on the look out for exciting new products of the highest quality. HiLine coffee is a premium coffee product that rivals some of the best coffee I've had in Michelin starred restaurants and in cafes of Rome and Paris. <a href="#" class="link-italic">Read more</a></p>

							<div class="space40"></div>
							<span class="text-italic">Anthony Hoy Fong, Restaurateur</span>
						</div>
					</div><!-- / .satisfa-testi -->
					
				</div><!-- / .satisfac__desc -->

			</div>
		</div>
	</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->