<header class="site-header site-header-success">
    <!-- SITE-HEADER-MIDDLE BEGIN -->
    <div class="site-header-middle">
        <div class="container">
           
            <div class="logo-header">
                <a href="#">
                    <img src="images/logo.png" alt="logo-site">
                </a>
            </div><!-- / .logo-header -->
        </div>
    </div><!-- / .site-header-middle -->
</header><!-- / .site-header -->


<div class="site-main">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 order-success-wrapper">
				
				<h2 class="title-success">thanks for your order!</h2>

				<p>We've received your order and you can reference it with Order ID 12345.  We'll be sending you a receipt via email just in case.</p>
				<p>Right now, your coffee is being roasted, packed and shipped to your door.  If you have any questions, just shoot us an email at <a href="#" class="link-textblue">hi@hilinecoffee.com</a>.</p>
				<div class="space60"></div>

				<div class="box-success clearfix">
					<h3>hey, do you drink bad coffee in your office?</h3>
					<div class="space15"></div>
					<p>Entice your office manager with a $25 promo code.</p>

					<a href="#" class="btn btn-green btn-minwidth" data-toggle="modal" data-target="#modalSuccess">
						submit
					</a>
				</div>
			</div><!-- / .col-md-8 -->
		</div>

		<div class="clearfix"></div>
		<div class="space60"></div>
	</div>

	<div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="modalSuccessTitle">
		<div class="modal-dialog" role="document">
			
			<div class="modal-content">
				
				<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div><!-- / .modal-header -->

				<div class="modal-body modal-hiline">
					<header class="header-modal">
						<h3>Hey, do you drink bad coffee in your office?</h3>
						<p>Help you office upgrade to fresh roasted HiLine coffee and we'll reward both you your company with $50 in free coffee!</p>
					</header>

					<form class="form-bad-coffee">
						<div class="row">

							<div class="col-md-6 clearfix">
								<input type="text" placeholder="Your Name">
							</div><!-- / .col-md-6 -->
							<div class="col-md-6 clearfix">
								<input type="text" placeholder="Office Manager's Name">
							</div><!-- / .col-md-6 -->
							<div class="col-md-6 clearfix">
								<input type="email" placeholder="Your Email">
							</div><!-- / .col-md-6 -->
							<div class="col-md-6 clearfix">
								<input type="email" placeholder="Office Manager's Email">
							</div><!-- / .col-md-6 -->


							<div class="col-md-12 clearfix">
								<div class="box-info">
									<p>__________, was hoping we could get some HiLine coffee at the office. I managed to get us a $50 free coupon to try them out.</p>
									<p>__________</p>
								</div>
							</div><!-- / .box-info -->

							<div class="col-md-12 text-center">
								<input type="submit" class="btn btn-green btn-minwidth" value="submit">
							</div><!-- / .col-md-12 -->

						</div>
					</form>
				</div>


			</div><!-- / .modal-content -->

		</div>
	</div><!-- / #modalSuccess -->
</div><!-- / .site-main -->
