<header class="site-header site-header-success">
    <!-- SITE-HEADER-MIDDLE BEGIN -->
    <div class="site-header-middle">
        <div class="container">
           
            <div class="logo-header">
                <a href="#">
                    <img src="images/logo.png" alt="logo-site">
                </a>
            </div><!-- / .logo-header -->
        </div>
    </div><!-- / .site-header-middle -->
</header><!-- / .site-header -->


<div class="site-main">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 order-success-wrapper">
				
				<h2 class="title-successBold">Thank You</h2>
				<div class="content-text">
					<p>We received your order and will get started on it right away. You can expect a confirmation email soon. If you any questions, shoot us an email at <a href="#">hi@hilinecoffee.com</a></p>
				</div>
				<div class="space30"></div>
				
				<div class="thanks-galleries">
					<header>
						<h5>#hilinecoffee</h5>
						<p>See what we're up to > </p>
					</header>

					<ul class="row ts-gallery-wrap list-unstyled">
						<li class="ts-gallery-item">
							<figure><img src="images/thanks_thumb1.jpg" alt=""></figure>	
						</li>
						<li class="ts-gallery-item">
							<figure><img src="images/thanks_thumb2.jpg" alt=""></figure>	
						</li>
						<li class="ts-gallery-item">
							<figure><img src="images/thanks_thumb3.jpg" alt=""></figure>	
						</li>
						<li class="ts-gallery-item">
							<figure><img src="images/thanks_thumb4.jpg" alt=""></figure>	
						</li>
						<li class="ts-gallery-item">
							<figure><img src="images/thanks_thumb5.jpg" alt=""></figure>	
						</li>
						<li class="ts-gallery-item">
							<figure><img src="images/thanks_thumb6.jpg" alt=""></figure>	
						</li>
					</ul>
					
				</div>
			</div><!-- / .col-md-8 -->
		</div>

		<div class="clearfix"></div>
		<div class="space60"></div>
	</div>
</div><!-- / .site-main -->
