{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner6.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>ABOUT organics Coffee Beans</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<h2 class="title-centerline">GUIDE TO BUYING WHOLE BEAN COFFEE</h2>
		<article class="article-full">
				<h2 class="title-article">Organic Coffee - Understanding What Makes Coffee “Green”</h2>
				<div class="content-text"><p>The organic movement has gained a lot of traction in the US in the past couple of years, and for good reason. Given the increasing concern over health problems stemming from the application of pesticides and herbicides on conventionally grown produce, organic foods offer significantly improved safety. They’re also often associated with other beneficial movements, including Fair Trade, locally grown produce, supporting local businesses and more. Of course, it’s not as simple as you might think. Just because a bag of coffee says it’s organic, doesn’t necessarily mean what you think it means. What makes coffee green?</p></div>
		</article>
		<div class="space20"></div>
		<article class="article-full">
			<h2 class="title-article">USDA - Certified Organic</h2>
				<div class="content-text">
					<p>You’ll find a lot of hype on packaging today, particularly in the food industry. “Healthy”, “All Natural”, “Naturally Derived”, “Green”, and many other catchphrases adorn the boxes and bags that contain our food. They don’t mean what you think they mean, though. In fact, there’s really no regulation at all on companies using those words in their marketing (and, yes, product packaging is marketing), even if they don’t measure up to what the average consumer would consider “all natural”. </p>
					<p>For instance, assuming that 90% of the material in a particular type of food is natural, the manufacturer is free to call it all natural, even though it’s really not. Naturally derived can mean virtually anything. Most things we use are naturally derived in some way, even high fructose corn syrup, trans-fats and crude oil. Naturally derived just means that there was something natural at some point along the production line. </p>
					<p>If you want organic coffee, the only way to guarantee that you’re getting it is to look for the USDA-certified organic seal on the package. If the package doesn’t have the seal, it doesn’t matter what it claims. It’s not 100% organic. Only products that have gone through the USDA's extensive vetting and verification process are allowed to carry this seal.</p>
					<div class="space20"></div>
					<div class="video-wrapper">
	                   <iframe width="560" height="250" src="https://www.youtube.com/embed/iMDUUfbr-X4" frameborder="0" allowfullscreen></iframe>
	                </div>
				</div>
		</article>
		<div class="space20"></div>
		<article class="article-full">
				<h2 class="title-article">What Are the Standards Applied to Organic Coffee?</h2>
				<div class="content-text"><p>It’s also important to understand that just because a product is 100% organic, that doesn’t mean it was produced in an environmentally friendly way. The only real standard in organic certification is to guarantee consumers there are no synthetic additives or ingredients in the product. There are other implications and requirements to meet USDA approval, though. These include:</p>

				<ul class="list-circle">
                    <li>No chemical pesticides or herbicides applied within the past three years.</li>
                    <li>A buffer in place between the organic crop and any crops grown conventionally.
                    </li>
                    <li>A crop rotation plan must be in place and active to prevent erosion and to help eliminate soil depletion.
                    </li>
                </ul>
                <div class="space20"></div>
                <p>This does apply to pesticides and herbicides, though, so if your only concern with going organic is to reduce your exposure to harmful chemicals, you’re on the right track. However, if you want to ensure that the food you’re consuming is produced in an environmentally friendly way, you’ll need to look deeper. Of course, organic food and environmental sustainability do go hand in hand. An undeniable upshot of organic coffee farming is a dramatic reduction in the amount of pesticide and herbicide released into the world, helping to reduce humanity’s impact on the rainforest, and the atmosphere, as well as insect and animal species.</p>
				</div>
		</article>
		<div class="space20"></div>
		<article class="article-full">
				<h2 class="title-article">Other Seals and Certifications</h2>
				<div class="content-text"><p>While certified organic coffee will be free of synthetic additives and ingredients like pesticides and herbicides, it doesn’t mean that your coffee was grown, sold and processed in accordance with global-best labor standards. For that, you need to look for Fair Trade™ certification. Fair Trade coffee ensures that laborers are being fairly compensated for their efforts, rather than being paid a pittance (or not at all). In addition, earning Fair Trade certification means that the grower adheres to other important practices, including:</p>

				<ul class="list-circle">
                    <li>No genetically modified products</li>
                    <li>No pesticides</li>
                </ul>
                <div class="space20"></div>
                <p>However, not all Fair Trade certified coffee is organic, so it’s important to look for both Fair Trade™ and USDA Organic certification. </p>
                <p>Another important certification is Bird Friendly®. This shows that the coffee producer took appropriate steps to protect migratory birds, in accordance with the rules set forth by the Smithsonian Migratory Bird Center. These rules include using native tree species to shade coffee trees, and a complete lack of synthetic chemicals during the processing of coffee.</p>
				</div>
		</article>
		<div class="space20"></div>
		<article class="article-full">
				<h2 class="title-article">What About Small-Farm Grown Coffee?</h2>
				<div class="content-text"><p>Currently, there are 40 different countries that produce organic coffee, including all large producers like Brazil, Colombia, Costa Rica, etc. These are only a few of the countries that have moved to organic coffee production. Of course, that doesn’t mean that all coffee from these nations is organic, only that organic coffee is grown there.</p></div>
		</article>
		<div class="space20"></div>
		<article class="article-full">
				<h2 class="title-article">Is Organic Ultimately Good for the Environment?</h2>
				<div class="content-text"><p>Organic certification is good for the human body, certainly. Limiting your exposure to chemical pesticides and herbicides can do nothing but good. In terms of the environment, there are other benefits to be had. Simply reducing the amount of chemicals put into the environment every year will have a considerable impact on plants and animals around the world. However, there is more that can be done. While immensely beneficial, organic certification is really only the first in a long line of steps that should include a move back toward small scale farming, elimination of natural resource depletion, natural habitat protection and more. </p>
				<p>Certified organic coffee benefits both your body and the environment, and buying organic shows manufacturers that consumers actually want to protect the environment over the long term.</p>
				<div class="space20"></div>
				<figure class="alignnone">
					<img src="images/thumb_organics.jpg" alt="">
				</figure>
				</div>
		</article>
		<div class="space45"></div>
		
	</div><!-- / .container -->
</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->