{{> site-header-cart }}
 <div class="site-main">
                    <section class="hero-inner" style="background-image: url('images/banner_inner3.jpg')">
                        <div class="container">
                            <div class="hero-inner__desc colorwhite">
                                <h1>making perfect pourover chemex coffee</h1>
                            </div>
                        </div>
                    </section>
                    <!-- / .her-inner -->
                    <div class="container">
                        <h2 class="title-centerline">guide to a better cup</h2>

                        <div class="satisfac__desc">
                            <h2>Beautiful Brewing - Chemex and What You Should Know About It</h2>
                            <div class="content-text">There’s no shortage of coffee brewing systems on
                                the market. Some swear by the French press. Others
                                love their AeroPress. Yet others firmly believe
                                that their pod-based coffee system is the best
                                choice. And then there’s Chemex – a uniquely
                                beautiful way to brew coffee that’s once more
                                gaining steam in the nation. The devise is so
                                beautiful and iconic that it is part of the permanent
                                collection at <a href="#" class="link-inline">the MOMA</a>.
                                What is a Chemex coffee brewer and what might
                                make it a good fit for your own coffee brewing
                                needs? Actually, there’s a lot to love about
                                this ultra-simple, elegant brewing system, but
                                it’s not right for everyone.</div>
                            <div class="clearfix"></div>
                            <div class="space60"></div>
                            <div class="video-wrapper">
                                <iframe width="1140" height="600" src="http://www.youtube.com/embed/3Rxuu_4XpEM"
                                frameborder="0" allowfullscreen></iframe>
                            </div>
                            <!-- / .video-wrapper -->
                            <div class="clearfix"></div>
                            <div class="space60"></div>
                            <div id="accordion" class="panel-group">
                                <div class="panel">
                                    <div class="panel-heading" id="headingOne">
                                        <h2 class="panel-title">
            								<a href="#collapse1" data-toggle="collapse">
            									What's Chemex?
            								</a>
            							</h2>
                                    </div>
                                    <!-- / .panel-heading -->
                                    <div class="panel-collapse" id="collapse1">
                                        <div class="panel-body">
                                            <div class="content-text">While the brewing process is very
                                                simple with the Chemex system,
                                                there’s more to it than just
                                                adding water and then enjoying
                                                your cup of coffee. You’ll need
                                                to follow these steps: </div>
                                            <ul class="list-circle">
                                                <li>
                                                    <p>Measure the appropriate quantity
                                                        of water into a vessel
                                                        for heating (number of
                                                        desired cups of coffee)</p>
                                                </li>
                                                <li>
                                                    <p>Add the proprietary filter
                                                        to the Chemex brewer
                                                        (you cannot use conventional
                                                        filters – Chemex filters
                                                        are thick, and made of
                                                        several layers of chemically
                                                        bonded paper</p>
                                                </li>
                                                <li>
                                                    <p>Wet the filter with a small
                                                        amount of water to rinse
                                                        the paper taste away
                                                        and to help it stick
                                                        to the sides of the flask</p>
                                                </li>
                                                <li>
                                                    <p>Remove the filter and pour
                                                        out the rinse water</p>
                                                </li>
                                                <li>
                                                    <p>Replace the wet filter in
                                                        the flask</p>
                                                </li>
                                                <li>
                                                    <p>Add the appropriate amount
                                                        of coffee grounds to
                                                        the filter</p>
                                                </li>
                                                <li>
                                                    <p>Moisten the coffee grounds
                                                        by adding a small amount
                                                        of hot water, and then
                                                        let it “bloom” (water
                                                        should be about 205 degrees)</p>
                                                </li>
                                                <li>
                                                    <p>Once the coffee has bloomed,
                                                        pour the remaining water
                                                        into the filter</p>
                                                </li>
                                                <li>
                                                    <p>Wait for the coffee to finish
                                                        trickling out of the
                                                        filter and down into
                                                        the bottom of the flask</p>
                                                </li>
                                                <li>
                                                    <p>Remove the coffee grounds
                                                        and filter, and dispose
                                                        of them</p>
                                                </li>
                                                <li>
                                                    <p>Add hot water to your coffee
                                                        mug to pre-warm it, then
                                                        pour it out</p>
                                                </li>
                                                <li>
                                                    <p>Pour coffee from the Chemex
                                                        brewer into your mug</p>
                                                </li>
                                                <li>
                                                    <p>Enjoy your coffee</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- / .panel -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">
            								<a href="#collapse2" data-toggle="collapse">
            									Components of the Chemex Brewer
            								</a>
            							</h2>
                                    </div>
                                    <!-- / .panel-heading -->
                                    <div class="panel-collapse collapse" id="collapse2">
                                        <div class="panel-body">
                                            <div class="content-text">While the brewing process is very
                                                simple with the Chemex system,
                                                there’s more to it than just
                                                adding water and then enjoying
                                                your cup of coffee. You’ll need
                                                to follow these steps: </div>
                                            <ul class="list-circle">
                                                <li>
                                                    <p>Measure the appropriate quantity
                                                        of water into a vessel
                                                        for heating (number of
                                                        desired cups of coffee)</p>
                                                </li>
                                                <li>
                                                    <p>Add the proprietary filter
                                                        to the Chemex brewer
                                                        (you cannot use conventional
                                                        filters – Chemex filters
                                                        are thick, and made of
                                                        several layers of chemically
                                                        bonded paper</p>
                                                </li>
                                                <li>
                                                    <p>Wet the filter with a small
                                                        amount of water to rinse
                                                        the paper taste away
                                                        and to help it stick
                                                        to the sides of the flask</p>
                                                </li>
                                                <li>
                                                    <p>Remove the filter and pour
                                                        out the rinse water</p>
                                                </li>
                                                <li>
                                                    <p>Replace the wet filter in
                                                        the flask</p>
                                                </li>
                                                <li>
                                                    <p>Add the appropriate amount
                                                        of coffee grounds to
                                                        the filter</p>
                                                </li>
                                                <li>
                                                    <p>Moisten the coffee grounds
                                                        by adding a small amount
                                                        of hot water, and then
                                                        let it “bloom” (water
                                                        should be about 205 degrees)</p>
                                                </li>
                                                <li>
                                                    <p>Once the coffee has bloomed,
                                                        pour the remaining water
                                                        into the filter</p>
                                                </li>
                                                <li>
                                                    <p>Wait for the coffee to finish
                                                        trickling out of the
                                                        filter and down into
                                                        the bottom of the flask</p>
                                                </li>
                                                <li>
                                                    <p>Remove the coffee grounds
                                                        and filter, and dispose
                                                        of them</p>
                                                </li>
                                                <li>
                                                    <p>Add hot water to your coffee
                                                        mug to pre-warm it, then
                                                        pour it out</p>
                                                </li>
                                                <li>
                                                    <p>Pour coffee from the Chemex
                                                        brewer into your mug</p>
                                                </li>
                                                <li>
                                                    <p>Enjoy your coffee</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- / .panel -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">
            								<a href="#collapse3" data-toggle="collapse">
            									How It Works
            								</a>
            							</h2>
                                    </div>
                                    <!-- / .panel-heading -->
                                    <div class="panel-collapse collapse" id="collapse3">
                                        <div class="panel-body">
                                            <div class="content-text">While the brewing process is very
                                                simple with the Chemex system,
                                                there’s more to it than just
                                                adding water and then enjoying
                                                your cup of coffee. You’ll need
                                                to follow these steps: </div>
                                            <ul class="list-circle">
                                                <li>
                                                    <p>Measure the appropriate quantity
                                                        of water into a vessel
                                                        for heating (number of
                                                        desired cups of coffee)</p>
                                                </li>
                                                <li>
                                                    <p>Add the proprietary filter
                                                        to the Chemex brewer
                                                        (you cannot use conventional
                                                        filters – Chemex filters
                                                        are thick, and made of
                                                        several layers of chemically
                                                        bonded paper</p>
                                                </li>
                                                <li>
                                                    <p>Wet the filter with a small
                                                        amount of water to rinse
                                                        the paper taste away
                                                        and to help it stick
                                                        to the sides of the flask</p>
                                                </li>
                                                <li>
                                                    <p>Remove the filter and pour
                                                        out the rinse water</p>
                                                </li>
                                                <li>
                                                    <p>Replace the wet filter in
                                                        the flask</p>
                                                </li>
                                                <li>
                                                    <p>Add the appropriate amount
                                                        of coffee grounds to
                                                        the filter</p>
                                                </li>
                                                <li>
                                                    <p>Moisten the coffee grounds
                                                        by adding a small amount
                                                        of hot water, and then
                                                        let it “bloom” (water
                                                        should be about 205 degrees)</p>
                                                </li>
                                                <li>
                                                    <p>Once the coffee has bloomed,
                                                        pour the remaining water
                                                        into the filter</p>
                                                </li>
                                                <li>
                                                    <p>Wait for the coffee to finish
                                                        trickling out of the
                                                        filter and down into
                                                        the bottom of the flask</p>
                                                </li>
                                                <li>
                                                    <p>Remove the coffee grounds
                                                        and filter, and dispose
                                                        of them</p>
                                                </li>
                                                <li>
                                                    <p>Add hot water to your coffee
                                                        mug to pre-warm it, then
                                                        pour it out</p>
                                                </li>
                                                <li>
                                                    <p>Pour coffee from the Chemex
                                                        brewer into your mug</p>
                                                </li>
                                                <li>
                                                    <p>Enjoy your coffee</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- / .panel -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">
            								<a href="#collapse4" data-toggle="collapse">
            									Pros o the Chemex Brewing System
            								</a>
            							</h2>
                                    </div>
                                    <!-- / .panel-heading -->
                                    <div class="panel-collapse collapse" id="collapse4">
                                        <div class="panel-body">
                                            <div class="content-text">While the brewing process is very
                                                simple with the Chemex system,
                                                there’s more to it than just
                                                adding water and then enjoying
                                                your cup of coffee. You’ll need
                                                to follow these steps: </div>
                                            <ul class="list-circle">
                                                <li>
                                                    <p>Measure the appropriate quantity
                                                        of water into a vessel
                                                        for heating (number of
                                                        desired cups of coffee)</p>
                                                </li>
                                                <li>
                                                    <p>Add the proprietary filter
                                                        to the Chemex brewer
                                                        (you cannot use conventional
                                                        filters – Chemex filters
                                                        are thick, and made of
                                                        several layers of chemically
                                                        bonded paper</p>
                                                </li>
                                                <li>
                                                    <p>Wet the filter with a small
                                                        amount of water to rinse
                                                        the paper taste away
                                                        and to help it stick
                                                        to the sides of the flask</p>
                                                </li>
                                                <li>
                                                    <p>Remove the filter and pour
                                                        out the rinse water</p>
                                                </li>
                                                <li>
                                                    <p>Replace the wet filter in
                                                        the flask</p>
                                                </li>
                                                <li>
                                                    <p>Add the appropriate amount
                                                        of coffee grounds to
                                                        the filter</p>
                                                </li>
                                                <li>
                                                    <p>Moisten the coffee grounds
                                                        by adding a small amount
                                                        of hot water, and then
                                                        let it “bloom” (water
                                                        should be about 205 degrees)</p>
                                                </li>
                                                <li>
                                                    <p>Once the coffee has bloomed,
                                                        pour the remaining water
                                                        into the filter</p>
                                                </li>
                                                <li>
                                                    <p>Wait for the coffee to finish
                                                        trickling out of the
                                                        filter and down into
                                                        the bottom of the flask</p>
                                                </li>
                                                <li>
                                                    <p>Remove the coffee grounds
                                                        and filter, and dispose
                                                        of them</p>
                                                </li>
                                                <li>
                                                    <p>Add hot water to your coffee
                                                        mug to pre-warm it, then
                                                        pour it out</p>
                                                </li>
                                                <li>
                                                    <p>Pour coffee from the Chemex
                                                        brewer into your mug</p>
                                                </li>
                                                <li>
                                                    <p>Enjoy your coffee</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- / .panel -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">
            								<a href="#collapse5" data-toggle="collapse">
            									Cons of the Chemex Brewing System
            								</a>
            							</h2>
                                    </div>
                                    <!-- / .panel-heading -->
                                    <div class="panel-collapse collapse" id="collapse5">
                                        <div class="panel-body">
                                            <div class="content-text">While the brewing process is very
                                                simple with the Chemex system,
                                                there’s more to it than just
                                                adding water and then enjoying
                                                your cup of coffee. You’ll need
                                                to follow these steps: </div>
                                            <ul class="list-circle">
                                                <li>
                                                    <p>Measure the appropriate quantity
                                                        of water into a vessel
                                                        for heating (number of
                                                        desired cups of coffee)</p>
                                                </li>
                                                <li>
                                                    <p>Add the proprietary filter
                                                        to the Chemex brewer
                                                        (you cannot use conventional
                                                        filters – Chemex filters
                                                        are thick, and made of
                                                        several layers of chemically
                                                        bonded paper</p>
                                                </li>
                                                <li>
                                                    <p>Wet the filter with a small
                                                        amount of water to rinse
                                                        the paper taste away
                                                        and to help it stick
                                                        to the sides of the flask</p>
                                                </li>
                                                <li>
                                                    <p>Remove the filter and pour
                                                        out the rinse water</p>
                                                </li>
                                                <li>
                                                    <p>Replace the wet filter in
                                                        the flask</p>
                                                </li>
                                                <li>
                                                    <p>Add the appropriate amount
                                                        of coffee grounds to
                                                        the filter</p>
                                                </li>
                                                <li>
                                                    <p>Moisten the coffee grounds
                                                        by adding a small amount
                                                        of hot water, and then
                                                        let it “bloom” (water
                                                        should be about 205 degrees)</p>
                                                </li>
                                                <li>
                                                    <p>Once the coffee has bloomed,
                                                        pour the remaining water
                                                        into the filter</p>
                                                </li>
                                                <li>
                                                    <p>Wait for the coffee to finish
                                                        trickling out of the
                                                        filter and down into
                                                        the bottom of the flask</p>
                                                </li>
                                                <li>
                                                    <p>Remove the coffee grounds
                                                        and filter, and dispose
                                                        of them</p>
                                                </li>
                                                <li>
                                                    <p>Add hot water to your coffee
                                                        mug to pre-warm it, then
                                                        pour it out</p>
                                                </li>
                                                <li>
                                                    <p>Pour coffee from the Chemex
                                                        brewer into your mug</p>
                                                </li>
                                                <li>
                                                    <p>Enjoy your coffee</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- / .panel -->
                                <div class="panel">
                                    <div class="panel-heading" role="tab" id="headingFour">
                                        <h2 class="panel-title">
            								<a href="#collapse6"  data-toggle="collapse">
            									Right for You?
            								</a>
            							</h2>
                                    </div>
                                    <!-- / .panel-heading -->
                                    <div class="panel-collapse collapse" id="collapse6" r>
                                        <div class="panel-body">
                                            <div class="content-text">Is the Chemex coffee brewer the right
                                                option for your needs? While
                                                it’s a beautiful system and is
                                                very different from other options
                                                on the market, the time required
                                                to brew a cup of coffee and clean
                                                the flask are considerable. Most
                                                people will find that it’s a
                                                better option for evening coffee,
                                                when they have leisure time for
                                                the process, rather than that
                                                all-important first cup in the
                                                mornings.</div>
                                            <div class="content-text">With that being said, it certainly
                                                makes a good conversation piece,
                                                and is a unique way to serve
                                                coffee to guests after dinner,
                                                so it may be a good option for
                                                those who like to entertain.
                                                In the end, the Chemex system
                                                is very interesting, and shouldn’t
                                                be ignored because it looks different
                                                from other options on the market.
                                                While it might be time-consuming
                                                to use, it can offer benefits
                                                for some coffee lovers. For the
                                                rest of us, there are pod and
                                                cup-based systems that deliver
                                                a great tasting cup of java without
                                                all the hassle.</div>
                                            <figure class="alignnone">
                                                <img src="images/pourover.jpg">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <!-- / .panel -->
                            </div>
                            <!-- / .panel-group -->
                        </div>
                        <!-- / .satisfac__desc -->

                        <!-- / .row -->
                        <div class="space45"></div>
                    </div>
                    <!-- / .container -->
                </div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->