{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner6.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>hiline 2.0 reviews</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<article class="satisfa-splash reset-splash">
			<h2 class="title-centerline">TO BUY OR NOT TO BUY KEURIG 2.0</h2>

			<div class="content-text">
				<p>In August of 2014, Keurig created a splash with the Keurig® 2.0, which it's calling "the next generation of Keurig® brewing systems, which offer advanced features and capabilities not available anywhere else in the marketplace." As of this writing, it's available in three versions: the K350 ($149.99), the K450 ($169.99), and the K550 ($199.99), each of which comes with a carafe. </p>
				<p>
					A carafe? Yup. And that isn't the only thing different about the Keurig® 2.0. Read on for what we liked (and what we didn't) about the Keurig® 2.0. 
				</p>
			</div>
		</article>

		<div class="satisfac__desc">
			<div class="tablist-container clearfix">
				<ul class="list-tab clearfix" role="tablist">                                                
					<li class="active">
						<a href="#tab1" aria-controls="home" role="tab" data-toggle="tab">Why the 2.0?</a>
					</li>
					<li>
						<a href="#tab2" aria-controls="home" role="tab" data-toggle="tab">What’s New?</a>
					</li>
					<li>
						<a href="#tab3" aria-controls="home" role="tab" data-toggle="tab">Is It Good?</a>
					</li>
					<li>
						<a href="#tab4" aria-controls="home" role="tab" data-toggle="tab">What’s Bad?s</a>
					</li>
					<li>
						<a href="#tab5" aria-controls="home" role="tab" data-toggle="tab">Is It Worth It?</a>
					</li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane fade in active" id="tab1">
						<div class="content-text">
							Call it the "razor and blade" dilemma. <a href="#" class="link-inline">Gilette </a>doesn't make money selling razors; they make money selling blades. Similarly, most of Keurig's profit doesn't come from the sales of its machines, which sell at close to cost. Their revenue comes from the sales of its K Cups (and the licensing fees paid by third-party vendors who sell their own <a href="#" class="link-inline">coffee in K Cups</a>). It's not coincidence that the 2.0 was introduced just as the patent on the original K Cups was running out. The change helps to protect Keurig's bottom line (and its licensing revenues), though there are a number of K Cup hacks that allow 2.0 owners to use 1.0 K Cups in their machines. in partnership with outside vendors DeLonghi (the Lattissima) and KitchenAid. 
						</div>
					</div>
					<div class="tab-pane fade" id="tab2">
						<div class="content-text">The Keurig<sup>®</sup> 2.0 brewer comes with a carafe for a reason. It's their first brewer that can handle not only single cups, but also multiples. The cups have also changed; they're now microchipped, and the brewer "recognizes" the pack, allowing for a more precise brewing time and brewing strength whether you're brewing a cup or a carafe. The Keurig® 2.0 uses the familiar K-Cup<sup>®</sup> pack (with microchip -- the cups from your 1.0 brewer won't work in your 2.0 machine) and a four-cup (30 ounce) carafe of coffee with new Keurig® K-Carafe™ packs.</div>
					</div>
					<div class="tab-pane fade" id="tab3">
						<div class="content-text">One of the first things we noticed about the 2.0 is that it's much quieter. That's a welcome change, especially if you're an early riser and you'd rather not wake your spouse or houseguests with a noisy brewer. Keurig also touts a "new" strength control feature, though users of the Keurig View and some of the higher-end 1.0 brewers will recognize an old feature in new clothes. Like every other Keurig we've ever seen or used, the 2.0 machines are lovely from an industrial design standpoint; they're not only visually attractive in a late-modern sort of way, they're also (more importantly) intuitive to use to the point that a first-timer could easily use the machine without consulting the manual. Just as important, it makes a damn fine cup -- or carafe -- of coffee. Importantly, Keurig 2.0 uses pre-infusion where the water pours into capsule to let the coffee grounds blossom for a few seconds, after which the bottom needle pierces the capsule and the coffee starts to pour out. I thought it was a slightly improved brewing method over Keurig 1.0 and when I tried to use the same HiLine capsule with it (using the famous hack), the new brewer produced a slightly stronger cup of coffee.</div>
					</div>

					<div class="tab-pane fade" id="tab4">
						<div class="content-text"><p>The included carafe isn't insulated, so if you're not pouring promptly, you can expect the coffee to cool quickly. If you'd like, the company does make an insulated carafe as an add-on. In some ways, that's the least of your worries with this machine. As with previous Keurig systems, you'll experience issues with the machine if your tap water has high mineral concentrations. The company recommends using bottled water, but since even bottled water has a significant mineral content, your machine is likely to need regular de-scaling (or possible repair/replacement) if you use your favorite bottled water. Your best bet, therefore, is to keep distilled water onhand to ensure that the machine functions properly. The other major drawback for many people who are serious about their coffee choices or saving money will find that only new (more expensive) K-cups are compatible with the Keurig 2.0.</p></div>
						<div class="space30"></div>
						<div class="tab-thumbCenter"><img src="images/machine/product4_big.jpg" alt=""></div>
					</div>

					<div class="tab-pane fade" id="tab5">
						<div class="content-text"><p>The original Keurig did for coffee what Apple did for phones and music players: pack useful features into a sexy package, keep it simple, and keep it (relatively) affordable. The 2.0 tweaks the formula in some ways that consumers may not like -- being restricted to proprietary K Cups that are more expensive than their already-pricey 1.0 counterparts instead of being able to use your own beans hasn't exactly warmed the hearts of die-hard fans. On the other hand, the ability to brew a four-cup carafe of coffee in one shot is especially useful when you're entertaining and don't want to keep your guests waiting while the machine pumps out coffee one cup at a time. The quality of the coffee brewed hasn't suffered, and for most users, that's probably going to be the bottom line. </p><p>*The prices shown are the "street" prices as of this writing.</p></div>
						<div class="space20"></div>
						<div class="video-wrapper wrapper-center">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/w4i-SkoGYog" frameborder="0" allowfullscreen></iframe>
						</div>

					</div>
				</div><!-- / .tab-content -->
			</div><!-- / .tablist-container -->
		</div><!-- / .satisfac__desc-->		
	</div><!-- / .container -->
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->