{{> site-header-cart}}

<div class="site-main">
	<div class="space60"></div>
	<div class="container">
		{{#shopdetail}}
			<div class="shopdtl-titleWrap">
				<div class="shopdtl-title">
					<h2>{{title}}</h2>
					<p class="subtle">{{subtitle}}</p>
				</div>
			</div><!-- //shop-dtl-title -->

			<div class="shopdtl-cart row">
				<div class="block-center">

					<div class="shopdtl-cart__thumb col-md-7 col-sm-6">
						<figure>
							<img src="images/gift.jpg" alt="">
						</figure>
					</div>

					<div class="shopdtl-cart__desc col-md-5 col-sm-6">
							<div class="price">$10</div>
							<div class="dtlprod">
								<ul class="list-unstyled">
									<li>1 unit - email delivery</li>
								</ul>
							</div>
							<form class="cart">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Recepient Email">
								</div>
								<div class="form-group">
									<textarea class="form-control" placeholder="Gift Message (Optional)" rows="8"></textarea>
								</div>
								<div class="row gift-deliverCard">
									<div class="form-group col-md-6">
										<label class="label-date">DELIVERY DATE</label>
										<input type="text" class="form-control">
									</div>
									<div class="link-pw-giftCard col-md-6">
										<a href="#">Preview my gift card</a>
									</div>
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-green">Add to cart</button>
								</div>
							</form>

					</div><!-- /shopdtl-cart__desc -->
				</div><!-- /block -center -->
			</div><!-- //shopdtl-cart -->
	</div> <!-- //Container -->

	<div class="satisfac">
		<div class="container">
			<div class="block-center">
				{{#satisfaction}}
					<div class="satisfac__desc col-sm-8">
						<div class="inside">
							<h2>{{title}}</h2>
							<div class="content-text">{{desc}}</div>
							<a href="#" class="link-textblue">{{link}}</a>
						</div>
					</div><!-- /satisfac__desc -->
					<div class="satisfac__logo col-sm-4">
						{{#satisService}}
						<figure><img src="images/{{thumb}}" alt=""></figure>
						<div class="content-text">{{desc}}</div>
						{{/satisService}}
				</div><!-- //satisfac__logo --> 
				{{/satisfaction}}
			</div>
		</div>
	</div><!-- //satisfac -->
	{{/shopdetail}}
	<div class="container">
		{{#storyProd}}
			<section class="ourprod-land cartprod">
				<div class="block-center">
					<div class="shopDtl-prodtext"><p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Maecenas sed diam eget risus varius blandit sit amet non magna</p></div>
					<ul class="row">
						{{~#prodList}}
							<li class="ourprod-item col-sm-4 cart-proditem">
								<div class="inner">
									<a href="#">
										<figure class="thumb"><img src="images/{{thumb}}" alt=""></figure>
										<div class="content-text">
											<h4>{{title}}</h4>
											<p>{{desc}}</p>
										</div>
									</a>
								</div>
							</li>
						{{~/prodList}}
					</ul>
				</div>
			</section> <!-- //ourprod-land -->
		{{/storyProd}}
	</div>
	<div class="space60"></div> 
	<section id="client" class="section-box-small section-client bg-gray-dark">
    <div class="container">
        <div class="col-md-3">
            <h3 class="title-client">as featured in</h3>
        </div>
        <!-- / .col-md-3 -->
        <div class="col-md-3">
            <a href="#" class="client-link">
                <img src="images/client/1.png">
            </a>
        </div>
        <!-- / .col-md-3 -->
        <div class="col-md-3">
            <a href="#" class="client-link">
                <img src="images/client/2.png">
            </a>
        </div>
        <!-- / .col-md-3 -->
        <div class="col-md-3">
            <a href="#" class="client-link">
                <img src="images/client/3.png">
            </a>
        </div>
        <!-- / .col-md-3 -->
    </div>
</section> <!-- /client -->
</div> <!-- //Site Main -->
	
