{{> site-header-cart}}

<div class="site-main">
	<div class="space60"></div>
	<div class="container">
		{{#shopdetail}}
			<div class="shopdtl-titleWrap">
				<div class="shopdtl-title">
					<h2>{{title}}</h2>
					<p class="subtle">{{subtitle}}</p>
				</div>
			</div><!-- //shop-dtl-title -->

			<div class="shopdtl-cart row">
				<div class="block-center">
					{{#cartDetail}}
					<div class="shopdtl-cart__thumb col-md-7 col-sm-6">
						<figure>
							<img src="images/{{thumb}}">
						</figure>
					</div>

					<div class="shopdtl-cart__desc col-md-5 col-sm-6">
						<table class="table">
							<tr>
								<td colspan="2" style="border:none;">
									<div class="price">{{{price}}}</div>
									<div class="dtlprod">
										<ul class="list-unstyled">
											<li>Intensity: 6/10 </li>
											<li>Origin: Costa Rica </li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="radiowrap">
										<div class="radio">
											<input type="radio" name="optionsRadios" id="radio" value="option" checked="true">
											<label for="radio">
											<span></span>
												<p class="txt"><strong>Returning Customers</strong>
													Let's get to know each other first.
												</p>
											</label>
										</div>

										<div class="radio">
											<input type="radio" name="optionsRadios" id="radio2" value="option">
											<label for="radio2">
											<span></span>
											<p class="txt"><strong>Returning Customers</strong>
												Save 20% and get free shipping.
											</p>
											</label>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td style="vertical-align: middle">
									<span class="label-text">{{qty}}</span>
								</td>
								<td align="right">
									<div class="group-qty">
										<span class="group-btn">
											<button class="btn-circle btn-minuse"><span>-</span></button>
										</span>
										<input type="text" value="0" size="4">
										<span class="group-btn">
											<button class="btn-circle btn-pluss"><span>+</span></button>
										</span>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<button class="btn btn-green">{{btn}}</button>
								</td>
							</tr>
						</table>
					</div><!-- /shopdtl-cart__desc -->
					{{/cartDetail}}
				</div><!-- /block -center -->
			</div><!-- //shopdtl-cart -->
	</div> <!-- //Container -->

	<div class="satisfac">
		<div class="container">
			<div class="block-center">
				{{#satisfaction}}
					<div class="satisfac__desc col-sm-8">
						<div class="inside">
							<h2>{{title}}</h2>
							<div class="content-text">{{desc}}</div>
							<a href="#" class="link-textblue">{{link}}</a>
						</div>
					</div><!-- /satisfac__desc -->
					<div class="satisfac__logo col-sm-4">
						{{#satisService}}
						<figure><img src="images/{{thumb}}" alt=""></figure>
						<div class="content-text">{{desc}}</div>
						{{/satisService}}
				</div><!-- //satisfac__logo --> 
				{{/satisfaction}}
			</div>
		</div>
	</div><!-- //satisfac -->
	{{/shopdetail}}
	<div class="container">
		{{#storyProd}}
			<section class="ourprod-land cartprod">
				<div class="block-center">
					<div class="shopDtl-prodtext"><p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Maecenas sed diam eget risus varius blandit sit amet non magna</p></div>
					<ul class="row">
						{{~#prodList}}
							<li class="ourprod-item col-sm-4 cart-proditem">
								<div class="inner">
									<a href="#">
										<figure class="thumb"><img src="images/{{thumb}}" alt=""></figure>
										<div class="content-text">
											<h4>{{title}}</h4>
											<p>{{desc}}</p>
										</div>
									</a>
								</div>
							</li>
						{{~/prodList}}
					</ul>
				</div>
			</section> <!-- //ourprod-land -->
		{{/storyProd}}
	</div>
	<div class="space60"></div> 
	<section id="client" class="section-box-small section-client bg-gray-dark">
    <div class="container">
        <div class="col-md-3">
            <h3 class="title-client">as featured in</h3>
        </div>
        <!-- / .col-md-3 -->
        <div class="col-md-3">
            <a href="#" class="client-link">
                <img src="images/client/1.png">
            </a>
        </div>
        <!-- / .col-md-3 -->
        <div class="col-md-3">
            <a href="#" class="client-link">
                <img src="images/client/2.png">
            </a>
        </div>
        <!-- / .col-md-3 -->
        <div class="col-md-3">
            <a href="#" class="client-link">
                <img src="images/client/3.png">
            </a>
        </div>
        <!-- / .col-md-3 -->
    </div>
</section> <!-- /client -->
</div> <!-- //Site Main -->
	
