{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner11.jpg')">
		<div class="container">
			<!-- <div class="hero-inner__desc">
				<h1>Perfect moka Pot coffee</h1>
			</div> -->
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<h2 class="title-centerline">WE TRIED STARBUCKS FLAT WHITE SO YOU DON’T HAVE TO. YOU’RE WELCOME.</h2>
		<article class="article-full">
				<h2 class="title-article">Using the Moka Pot - Brewing Old School</h2>
				<div class="content-text">
					<p>On January 6, Starbucks made a bit of a splash by rolling out their version of the Flat White, a drink beloved by Australians -- who, it should be noted, typically look down their noses at American coffee, especially of the Starbucks variety. While I'm not quite dismissive of Starbucks generally, the Flat White seems to be a triumph of style over substance (or, for that matter, taste).</p></div>
				<div class="space20"></div>
				<figure class="alignnone">
						<img src="images/starbuck1.jpg" alt="">
				</figure>
		</article>
		<div class="space45"></div>
		<article class="article-full">
			<h2 class="title-article">What is A Flat White, Anyway?</h2>
				<div class="content-text"><p>It probably doesn't help that there's not much consensus over what a Flat White is. Quartz does a good job of rounding up the diverse, and sometimes contradictory, definitions found among roasters, baristas and coffee drinkers, but since we're judging Starbucks' product, let's start from their marketing department's definition: </p>
				<p>"Our version combines ristretto shots of espresso with whole milk that has been perfectly steamed to a velvety, dense microfoam. Those two simple ingredients, espresso and milk prepared to perfection, combine to create a bolder espresso drink that lets the flavor of the coffee shine through."</p>
				</div>
		</article>
		<div class="space45"></div>
		<article class="article-full">
			<h2 class="title-article">And How Does the Flat White Taste?</h2>
				<div class="content-text"><p>On the evidence, it seems as though they've a way to go yet to live up to their own standards.</p>
				<p>From the first sip, the first thing you notice is the texture. There's a miasma of espresso floated on a cloud of steamed milk that, in terms of its stiffness, falls somewhere between the velvety wetness of a typical cappucino and the airy, almost-toothy density of meringue topping. I should also emphasize that when I say "cloud," I don't mean wispy clouds, either. These aren’t the clouds in your coffee that Carly Simon sang about. We're talking a cumulonimbus of foam. A hulking, milky thunderhead threatening the smallish pond of coffee underneath. </p>
				<p>The next thing you notice is the taste. Starbucks promises a "new, bold coffee experience." In theory, a flat white is supposed to feature a layer of microfoam that expertly blends the espresso with the foamed milk. In practice, the taste is... well, flat. Even by the standards of a cappucino or latte, where you'd expect some competition between the tastes of coffee and milk, the Flat White is bland. Blah, even. The taste of the beverage, far from being espresso-forward, is very dairy-forward, with the taste of the beans almost completely overwhelmed by the taste of whole milk. On the brighter side, the coffee didn't have the burnt taste that seems to plague a lot of Starbucks' coffee, but on the other hand, under the circumstances I'm not sure whether to chalk that up to the roast or to the fact that the coffee tries valiantly but fails to make its presence known over the milk; after a bite of a pecan tartlet, the coffee barely registered. </p>
				<div class="space20"></div>
				<figure class="alignnone">
						<img src="images/starbuck2.jpg" alt="">
				</figure>
				</div>
		</article>
		<div class="space45"></div>
		<article class="article-full">
			<h2 class="title-article">In Conclusion</h2>
				<div class="content-text"><p>If you're looking for an espresso-tinged foam mustache, this seems as good a way as any to get one. If you're wondering what a flat white tastes like, or what all the fuss is about, you're as likely to be mystified at the end of your Starbucks Flat White as you were before you started.</p>
				</div>
		</article>
		<div class="space45"></div>
	</div><!-- / .container -->
</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->