{{> site-header}}

<div class="site-main">

	{{> inermain_nav}}

	{{#ourMission}}
	<div class="ourmis-intro">
		<div class="container">
			<h3 class="title-xs-bold">{{titleIntro}}</h3>
			<div class="content-text">
				<p>{{introText}}</p>
			</div>
		</div>
	</div> <!-- // ourmis-intro -->

	<div class="ourmis-started">
		<div class="container">
			<div class="row">
				{{#sectionStarted}}
					<article class="ourmis-started__text col-md-6">
							<h3>{{title}}</h3>
							<div class="content-text">
								{{desc}}
							</div>
					</article>	
					<figure class="thumb col-md-6"><img src="images/story/story_thumb.jpg" alt=""></figure>
				{{/sectionStarted}}
			</div>
		</div>
	</div><!-- //ourmis-started -->


	<div class="container">
		<div class="ourmis-made">
			{{#madeIn}}
				<figure class="ourmis-made__thumb"><img src="images/{{icon}}" alt=""></figure>
				<article class="ourmis-made__desc">
					<h3 class="title-xs-bold">{{title}}</h3>
					<div class="content-text">{{desc}}</div>
				</article>
			{{/madeIn}}
		</div><!-- //ourmis-made -->
	</div> 
	{{/ourMission}}

	<div class="next-step">
		<div class="container">
			<a href="#">
				<span class="theline"></span>
				<span class="text">Next: Production Process</span>
			</a>
		</div>
	</div>
	<div class="space60"></div>

	<section id="client" class="section-box-small section-client bg-gray-dark">
	    <div class="container">
	        <div class="col-md-3">
	            <h3 class="title-client">as featured in</h3>
	        </div>
	        <!-- / .col-md-3 -->
	        <div class="col-md-3">
	            <a href="#" class="client-link">
	                <img src="images/client/1.png">
	            </a>
	        </div>
	        <!-- / .col-md-3 -->
	        <div class="col-md-3">
	            <a href="#" class="client-link">
	                <img src="images/client/2.png">
	            </a>
	        </div>
	        <!-- / .col-md-3 -->
	        <div class="col-md-3">
	            <a href="#" class="client-link">
	                <img src="images/client/3.png">
	            </a>
	        </div>
	        <!-- / .col-md-3 -->
	    </div>
	</section> <!-- /client -->
</div><!-- Site Main -->


	
