{{> site-header}}

<div class="site-main">
{{> inermain_nav}}

<div class="container">
	{{#storyTeam}}
	<div class="storyTeam-intro">
			<h2 class="title-xs-bold">{{title}}</h2>
			<div class="content-text">
				{{description}}
			</div>
	</div><!-- storyTeam-intro -->

	<section class="sTeam-wrap">
		<ul class="row">
			{{~#listTeam}}
				<li class="list-steam col-sm-6">
					<a href="#">
						<figure><img src="{{thumb}}"></figure>
						<div class="desc">
							<p>
								<strong class="name">{{name}}</strong>
								<span class="as">{{as}}</span>
							</p>
						</div>
					</a>
				</li>
			{{~/listTeam}}
		</ul>
	</section>
	{{/storyTeam}}
</div>
<section id="client" class="section-box-small section-client bg-gray-dark">
    <div class="container">
        <div class="col-md-3">
            <h3 class="title-client">as featured in</h3>
        </div>
        <!-- / .col-md-3 -->
        <div class="col-md-3">
            <a href="#" class="client-link">
                <img src="images/client/1.png">
            </a>
        </div>
        <!-- / .col-md-3 -->
        <div class="col-md-3">
            <a href="#" class="client-link">
                <img src="images/client/2.png">
            </a>
        </div>
        <!-- / .col-md-3 -->
        <div class="col-md-3">
            <a href="#" class="client-link">
                <img src="images/client/3.png">
            </a>
        </div>
        <!-- / .col-md-3 -->
    </div>
</section> <!-- /client -->
</div> <!-- //SITE MAIN -->


	
