{{> site-header-cart}}
<div class="site-main main-grey">
	<div class="space30"></div>
	<div class="container">
		{{#subscription}}
			<div class="subs-wrap">
				<div class="container">
					<header class="subs-head">
						{{#header}}
							<h2 class="title-xs-bold">{{title}}</h2>
							<div class="content-text">{{description}}</div>
						{{/header}}
					</header> <!-- //subs-head -->
				</div>

				<div class="subs-box">
					<div class="subs-boxItem subs-method">
						{{#subsMethod_sub}}
							<header class="subs-boxhead">
								<h2>{{{title}}}</h2>
							</header>
							<div class="subsItem ct-target">
								<ul>
									{{#product}}
									<li class="list-prod subListProduct filterNav" rel="{{filternav}}">
										<figure>
											<div class="thumb">
												<span class="choSen fa fa-check-square"></span>
												<img src="images/{{thumb}}" alt="">
											</div>
											<figcaption class="captext">{{desc}}</figcaption>
										</figure>
									</li>
									{{/product}}
								</ul>
								<div class="text-center"><a href="#" class="btn-lnGreen nextStep">{{button}}</a>
								<div class="space30"></div>
								</div>
							</div>
						{{/subsMethod_sub}}
					</div> <!-- //subs-itemBox -->

					<div class="subs-boxItem subs-pod">
						{{#subsMethod_pod}}
							<header class="subs-boxhead">
								<h2>{{{title}}}</h2>
							</header>
							<div class="subsItem ct-target">
								<ul id="filterHolder">
									{{#product}}
										<li class="list-prod subListProduct filt-item {{filterHolder}} ">
											<div class="thumb-box">
												<figure>
													<span class="choSen fa fa-check-square"></span>
													<img src="images/{{thumb}}" alt="">
												</figure>
												<div class="priceVarian">
													<span class="price-other">{{{otherPrice}}}</span>
													<span class="price-our">{{{ourPrice}}}</span>
												</div>
											</div>
											<div class="captext">{{desc}}</div>
										</li>
									{{/product}}
								</ul>
								<div class="text-center"><a href="#" class="btn-lnGreen nextStep">Next</a></div>
								<div class="space30"></div>
							</div>
						{{/subsMethod_pod}}
					</div> <!-- //subs-boxItem -->

					<div class="subs-boxItem subs-coffee">
						{{#subsMethod_choose}}
							<header class="subs-boxhead">
								<h2>{{{title}}}</h2>
							</header>
							<div class="subsItem ct-target">
								<h3 class="total-select">{{subtitle}}</h3>
								<ul>
									{{#coffelist}}
										<li class="list-prod">
											<div class="thumb-box">
												<figure><img src="images/{{thumb}}"></figure>
												<span class="caption">Donut Truck Medium Roast</span>
												<div class="group-count">
													<span class="group-btn">
														<button class="btn-circle btn-minuse">-</button>
													</span>
													<span class="group-btn">
														<button class="btn-circle btn-pluss">+</button>
													</span>
													<input type="text" value="0" size="3">
												</div>
											</div>
										</li>
									{{/coffelist}}
									</ul>
									<div class="text-center"><a href="#" class="btn-lnGreen nextStep">Next</a></div>
									<div class="space30"></div>
							</div>	
						{{/subsMethod_choose}}
					</div><!-- //subs-boxItem -->

					<div class="subs-boxItem subs-coffee">
						{{#subsMethod_review}}
							<header class="subs-boxhead">
								<h2>{{{title}}}</h2>
							</header>

							<div class="tb-subsRev table-responsive ct-target">
								<table class="table">
									<tr>
										<th>Product</th>
										<th>Price</th>
										<th>Qty</th>
										<th>Product Total</th>
									</tr>
									<tr>
										<td>
											<figure class="tb-subRev__thumb"><img src="images/product/pods.jpg" alt=""></figure>
											<div class="tb-subRev__desc">
												<h4>20 Pods for Nespresso / Month</h4>
												<span>- Liberty Lungo Dark x1</span>
											</div>
										</td>
										<td>
											<span class="price">$14.99</span>
										</td>
										<td>
											<div class="group-qty">
												<span class="group-btn">
													<button class="btn-circle btn-minuse">-</button>
												</span>
												<input type="text" value="0" size="4">
												<span class="group-btn">
													<button class="btn-circle btn-pluss">+</button>
												</span>
											</div>
										</td>
										<td align="right">
											<span class="price">$14.99</span>
											<a href="" class="fa fa-minus-circle"></a>
										</td>
									</tr>
									<tr>
										<td colspan="4">
											<div class="tb-subtotal">
												<span class="subtotal_text">subtotal</span>
												<span class="subtotal_price">$14.99</span>
											</div>
										</td>
									</tr>
									<tr>
										<td colspan="4" style="border: 0;"><div class="text-center"><button class="btn-lnGreen nextStep">Continue Checkout</button></div></td>
									</tr>
								</table>
							</div>
						{{/subsMethod_review}}
					</div>	
				</div>
			</div><!-- //subs-wrap -->
		{{/subscription}}
	 </div>
	 <div class="space30"></div>
</div> <!-- //Site Main -->
	
