{{> site-header}}
<div class="site-main">
	<div class="container">
		{{#thanks}}
		<div class="thankswrap">
			<h1>{{title}}</h1>
			<figure class="thanks__thumb"><img src="images/thanks.jpg" alt=""></figure>
			<div class="content-text">
				<p>{{{desc}}}</p>	
				<p><span class="smalltext">{{smalltext}}</span></p>
				<a href="#" class="btn btn-green">{{btn}}</a>
			</div>
		</div><!-- thankswrap -->
		{{/thanks}}
	</div>
</div> <!-- //SITE MAIN -->


	
